﻿@using Medianet.Web.Models;
@model ReleaseModel
<h2>Word Count</h2>
<ul>
    <li><span class="amount">@Model.Words</span>words</li>
    <li><span class="amount">@Model.AttachmentCount</span>attachments</li>
    <li><span class="amount">@Model.Pages</span>pages</li>
</ul>