﻿@using Medianet.Web.Models;
@model BaseModel
           
@if (Model.session != null && !Model.session.IsAuthorised)
{
    <a href="#confirm-password-popup" style="display: none;" id="confirm-password-popup-hidden-link"></a>
    <div style="display: none;">
        <div class="free-popup" id="confirm-password-popup">
            <div id="login-panel">
                <h2>Please re-enter your password</h2>
                <p>You’re almost there, but before we complete your request, we need to verify your identity. Please re-enter your password.</p>
                <div class="section">
                    <form id="confirm-password-form" class="form-horizontal" method="post">
                        <div class="control-group">
                            <label class="control-label" for="EmailAddress">Email: <span style="color:red;">*</span></label>
                            <div class="controls">
                                <input id="EmailAddress" name="EmailAddress" type="text" value="@Model.session.customerEmailAddress" placeholder="Email" disabled/>
                            </div>
                        </div>
                        <div class="control-group no-border">
                            <label class="control-label" for="Password">Password: <span style="color:red;">*</span></label>
                            <div class="controls">
                                <input id="Password" name="Password" type="password" value="" placeholder="Password" class="required"/>
                            </div>
                        </div>
                        <div class="checkBox clearfix">
                            <input type="submit" name="btn-signup" value="Login" class="btn btn-large btn-signup" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(function () {
            var nextHref = '/';

            $('#confirm-password-popup-hidden-link').fancybox({
                'autoDimensions': true,
                'autoScale': true,
                'scrolling': 'no',
                'overlayColor': '#000000',
                'overlayOpacity': 0.7,
                'padding': 0,
                'margin': 0,
                'showCloseButton': false
            });

            $('#confirm-password-form').validate({
                messages: {
                    Password: {
                        required: "Please enter your password"
                    }
                },
                submitHandler: function (form) {
                    var data = {
                        EmailAddress: $(form).find('#EmailAddress').val(),
                        Password: $(form).find('#Password').val()
                    };

                    $.ajax({
                        type: "POST",
                        url: "/Account/LogOn?returnUrl=" + nextHref, //set returnUrl so server knows it's a confirm password login
                        data: data,
                        dataType: 'json',
                        success: function (result) {
                            if (result.Status) {
                                if (nextHref != '/') {
                                    window.location.href = nextHref;
                                } else {
                                    if (goNext()) {
                                        $('#form').submit();
                                    }
                                }
                            } else {
                                alert("Invalid email or password!");
                            }
                        }
                    });
                }
            });

            $('.authorisationRequired').click(function (e) {
                e.preventDefault();
                var $this = $(this);

                if ($this.is('a')) {
                    nextHref = $(this).attr('href');
                    $('#confirm-password-popup-hidden-link').click();
                }

                if($this.is('input')){
                    nextHref = '/';
                    if (totalPrice != undefined && totalPrice > 100) {
                        $('#confirm-password-popup-hidden-link').click();
                    }
                }
            }).each(function() {
                if ($(this).is('input')) {
                    if (totalPrice != undefined && totalPrice > 100) {
                        $(this).removeAttr('onclick');
                    }
                }
            });
        })
    </script>
}