﻿@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices;
@model ReleaseModel

@if (!Model.isPrepare && !Model.hasFinalized && !Model.hasSubmited && !Model.hasCheckedOut && !Model.isFinalise)
{
    <h2 class="subtitle">
        <strong>Have you considered</strong>
    </h2>
    <ul class="recommended-items">    
    @foreach (RelatedProductDTO recommendation in Model.RecommendationList)
    {
        <text>
            <li class="links item">
                <div class="action">
                    <a href="#" class="plus-lrg cart" onclick="addToCart(@recommendation.ProductId);return false;" name="@recommendation.ProductId">@Html.AddToCartText(recommendation.IsPackage, recommendation.IsCustomerList, false, recommendation.DistributionType, recommendation.ProductId)</a></div>
                    <h4>@recommendation.Name</h4>
                    <p>@Html.Raw(recommendation.ShortDescription)</p>
                <fieldset>
                    <strong>@Html.AddToCartText(recommendation.IsPackage, recommendation.IsCustomerList, false, recommendation.DistributionType, recommendation.ProductId)</strong>
                </fieldset>
            </li>
        </text>
    }
    </ul>
}