﻿@using Medianet.Web.Models;
@model ReleaseModel

@if (Model.Error == "")
{
    <text>               
            <div class="intro">
                <h2>Your press release is about to be sent</h2>
                <br/>
                <p>
                    You have requested for your press release to be sent @( ( Model.DistributeAsFutureRelease )? String.Format("{0} {1}:{2} ({3})",Model.ScheduleDate.Value.ToShortDateString(), Model.ScheduleTimeHour, Model.ScheduleTimeMinutes, Model.session.TimeZone.Name) : "ASAP" ) <br/>
                    Sending your release will charge @Model.TotalPrice.ToString("C") including GST to your @( (Model.hasToPay) ? "credit card" : "account"). <br/>
                    <br/>                    
                </p>
                @if (Model.hasToPay)
                {
                    @*<div id="ewayBlock">
                        <a href="https://www.eway.com.au/secure-site-seal" ;="" title="Credit Card Processing">Credit Card Processing</a>
                        <a href="https://www.eway.com.au/secure-site-seal " title="Payment Gateway">Payment Gateway</a>
                        <a href="https://www.eway.com.au/secure-site-seal" ;="" title="E-Commerce">E-Commerce</a>
                    </div>
                    <script language="javascript">
                        var element = "ewayBlock";
                    </script>
                    <script language="javascript" src="https://www.eway.com.au/developer/payment-code/verified-siteseal.ashx?image=10&amp;size=15&amp;format=horizontal&amp;color=CECECE"></script>;*@
                
                }
            </div>
            
            @if (Model.PaymentResponse == null)
            {
                <text>
                    <section class="section">
                        <form class="form-horizontal" method="post" id="form">
                            &nbsp;To send your release, click Confirm.
                            @Html.AntiForgeryToken()
                            @Html.Action(Model.CurrentStepOrder)
                            <nav role="navigation" class="actions">
                                <div class="buttons">
                                    <input type="button" class="btn-secondary btn-large" value="Back" onclick="goPrevious();" />
                                    <input type="submit" class="btn btn-large" value="Confirm" onclick="return goNext();" />
                                </div>
                            </nav>
                        </form>
                    </section> 
                </text>
            } 
            
    </text>
}
else
{
    <text>              
            <div class="intro">
                <h2>There was an error processing the payment : @Model.Error, please try again</h2>
            </div>
            <section class="section">
            <form class="form-horizontal" method="post" id="form">
                @Html.AntiForgeryToken()
                @Html.Action(Model.CurrentStepOrder)
                <nav role="navigation" class="actions">
                    <div class="buttons">
                        <input type="button" class="btn-secondary btn-large" value="Back" onclick="goPrevious();"/>
                    </div>
                </nav>
            </form> 
            </section>
    </text>
}   
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () 
    {
        @Html.Next(Model)
        @Html.Previous(Model)
    });
</script>