﻿@{
    var publicURL = @System.Web.Configuration.WebConfigurationManager.AppSettings["MedianetPublicSiteURL"];
}

<footer>
    <div class="container">
        <div class="row">
        <div class="span4">
            <ul>
            <li><a href="/home/contact">Contact Us</a></li>
            <li><a href="https://www.medianet.com.au/home-page/about-us/" target="_blank">About Medianet</a></li>        
            <li><a href="https://www.medianet.com.au/terms-and-conditions/" target="_blank">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="span4">
            <ul>
            <li><a href="/home/calendar">Media Event Calendar</a></li>
            <li><a href="https://www.medianet.com.au/privacy-policy/" target="_blank">Privacy Policy</a></li>
            <li><a href="https://www.medianet.com.au/anti-spam-policy/" target="_blank">Anti-Spam Policy</a></li>
            </ul>
        </div>
        <div class="span4">
            <ul>
            <li><a href="@(publicURL)releases.aspx">Medianet News Hub</a></li>
            <li><a href="/home/database">Media Contacts Database</a></li>
            <li><a href="https://www.medianet.com.au/events-and-training" target="_blank">Media Training</a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>