﻿@using Medianet.Web.Models;
@model BaseModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/trend-watcher/css/bootstrap.min.css")" rel="stylesheet"  type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/Content/trend-watcher/css/main-theme.css")" rel="stylesheet"  type="text/css" />
    <link href="@Url.Content("~/Content/trend-watcher/css/main.css")" rel="stylesheet"  type="text/css" />

    @RenderSection("pagestyles", required: false)
    <script src="@Url.Content("~/Content/trend-watcher/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js")" type="text/javascript" ></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
        @Html.Partial("_menuTW", Model)
    </header>

    @RenderBody()

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal hide" id="productInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    @if (Model.session != null)
    {
        @Html.Partial("_footerTW")
    }
    @Html.Partial("_google")
    @Html.Partial("_authorisationConfirm", Model)

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Content/trend-watcher/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="@Url.Content("~/Content/trend-watcher/js/vendor/bootstrap.min.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Content/trend-watcher/js/main.js")" type="text/javascript" ></script>
    @RenderSection("scripts", required: false)
    @Html.Partial("_pardot")
    @Html.Partial("_crazyegg")
</body>
</html>