﻿@using Medianet.Web.Models;
@model AudioModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Medianet - Prepare Release</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-skin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fileuploader.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/common.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/interface.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox-1.3.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.placeholder.min.js")" type="text/javascript"></script>
    @RenderSection("Scripts", false)
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if (lt IE 10)&(!IEMobile)]>
      <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/Content/ie.css")" rel="stylesheet" type="text/css" />
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    @if (Model.isRelease)
    { @Html.Partial("_bugheard", Model)  }
</head>
<body>
    <div id="page">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                @Html.Partial("_menu", Model)
            </div>
            <div class="submenu">
                <div class="nav-container">
                    @if (Model.Steps != null && Model.Steps.Length > 0 && !Model.hasFinalized)
                    {
                        <h2>Audio News Release</h2>
                        <ul class="nav">
                            @Html.Partial("_releaseMenu", Model)
                        </ul>
                    }
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="content" class="span8">
                    @RenderBody()
                </div>
                <div id="sidebar" class="span4">
                    @Html.Partial("_shoppingCart", Model)
                    @Html.Partial("_widgets", Model)
                </div>
            </div>
        </div>
        <div class="modal hide" id="productInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
        @Html.Partial("_footer")
        @Html.Partial("_authorisationConfirm", Model)
    </div>
    @Html.Partial("_google")
    @Html.Partial("_pardot")
    @Html.Partial("_crazyegg")
</body>
</html>
