﻿@using Medianet.Web.Models;
@model BaseModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">   
    <title>@ViewBag.Title</title>
    <!-- Le styles -->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-skin.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css")" rel="stylesheet" type="text/css" /> 
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/interface.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox-1.3.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.placeholder.min.js")" type="text/javascript"></script>
      
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if (lt IE 10)&(!IEMobile)]>
      <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/Content/ie.css")" rel="stylesheet" type="text/css" />
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">  
    <link href="../../Content/tw-custom.css" rel="stylesheet" />
    @if (Model.isRelease) { @Html.Partial("_bugheard", Model)  }
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    <div id="page">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                @Html.Partial("_menu", Model)
            </div>
            <div class="submenu">
                <div class="nav-container">
                    &nbsp;
                </div>
            </div>      
        </div>
        <div id="tw" class="container">
            @RenderBody()
        </div>                           
    </div>
    @if (Model.session != null)
    {
        @Html.Partial("_footer")
    }
    @Html.Partial("_authorisationConfirm", Model)
    @RenderSection("scripts", required: false)

<div id="waitingModal" class="modal waiting hide" tabindex="-1" role="dialog">
    <div class="modal-body">
        <p><strong>Please Wait ...</strong></p>
        <img src="/Content/images/loading.gif" />
    </div>
</div>

<div id="alertModal" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close alertOk" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Internal error</h3>
    </div>
    <div class="modal-body">
        <span class="alertModalMessage"></span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-custom alertOk" data-dismiss="modal">Ok</a>
    </div>
</div>

<div id="confirmModal" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close confirmModalNo" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Internal error</h3>
    </div>
    <div class="modal-body">
        <span class="confirmModalMessage"></span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-custom confirmModalYes">Yes</a>
        <a href="#" class="btn btn-custom confirmModalNo">No</a>
    </div>
</div>
    <div class="modal hide" id="productInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    @Html.Partial("_google")
    @Html.Partial("_pardot")
    @Html.Partial("_crazyegg")
</body>
</html>