﻿@using Medianet.Web.Models;
@model BaseModel
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Medianet - Prepare Release</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-skin.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/fileuploader.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css")" rel="stylesheet" type="text/css" />  
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/interface.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox-1.3.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.placeholder.min.js")" type="text/javascript"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if (lt IE 10)&(!IEMobile)]>
      <link href="@Url.Content("~/Content/ie.css")" rel="stylesheet" type="text/css" />
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
  <div id="page">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        @Html.Partial("_menu")
      </div>
      <div class="submenu">
        <div class="nav-container">
              &nbsp;
        </div>
      </div>  
    </div>
    <div class="container">
        @RenderBody()
    </div>
  <div class="break"></div>
  </div> 
  @Html.Partial("_footer")
  @Html.Partial("_google")
  @Html.Partial("_authorisationConfirm", Model)
  @Html.Partial("_pardot")
  @Html.Partial("_crazyegg")
  </body>
</html>