﻿@using Medianet.Web.MedianetCustomerService
@using Medianet.Web.Models;
@model BaseModel
<div class="nav-container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </a>
    <h1><a class="brand" href="/">medianet</a></h1>
    @if ( (Model != null) && (Model.session != null) )
    {
        <text>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Send Release <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Wire/Prepare">Wire and Email</a></li>
                            <li><a href="/Sms/Prepare">SMS</a></li>
                            <li><a href="/Audio/Prepare">Audio</a></li>
                            <li><a href="/Multimedia/Index">Multimedia</a></li>
                        </ul>
                    </li>
                    <li><a href="/Report/Index">View Reports</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Lists <b class="caret"></b></a>
                        <ul class="dropdown-menu">                            
                            <li ><a href="/ManageEmail/Index">Email Lists</a></li>
                            <li ><a href="/ManageSms/Index">SMS Lists</a></li>
                        </ul>
                    </li>
                    @if (Model.session.accountType == CustomerBillingType.Creditcard)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">                            
                                <li ><a href="/Account/Edit">Edit Account</a></li>
                                <li ><a href="/Account/Upgrade">Upgrade Account</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="/Account/Edit" class="authorisationRequired">My Account</a></li>
                    }
                    <li class="user">
                        <span class="contact">Need help? <b>1300 616 813</b></span>
                        <span class="user-details">Welcome <b>@Model.session.Name</b> (@Model.session.Company)</span>
                        <span class="user-details"><a href="/Account/LogOff"><strong>Logout</strong></a></span>
                    </li>
                </ul>
            </div>
        </text>
    }
</div>