﻿@using Medianet.Web.MedianetCustomerService
@using Medianet.Web.Models;
@model BaseModel
<div class="container">
    <div class="row">
        <nav class="navbar navbar-medianet">
            <div class="navbar-header col-sm-3 col-md-2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/Content/trend-watcher/img/medianet_logo.svg" alt="Medianet Logo" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Send Press Release <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Wire/Prepare">Wire and Email</a></li>
                            <li class="divider"></li>
                            <li><a href="/Sms/Prepare">SMS</a></li>
                            <li class="divider"></li>
                            <li><a href="/Audio/Prepare">Audio</a></li>
                            <li class="divider"></li>
                            <li><a href="/Multimedia/Index">Multimedia</a></li>
                            <li class="divider"></li>
                            <li><a href="/Report/Index">Cancel Release</a></li>
                        </ul>
                    </li>
                    <li><a href="/Report/Index">View Reports</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Lists <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/ManageEmail/Index">Email Lists</a></li>
                            <li class="divider"></li>
                            <li><a href="/ManageSms/Index">SMS Lists</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Database">Media Database</a></li>
                    @if (Model.session.accountType == CustomerBillingType.Creditcard)
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Account/Edit">Edit Account</a></li>
                            <li class="divider"></li>
                            <li><a href="/Account/Upgrade">Upgrade Account</a></li>
                        </ul>
                    </li>
                    }
                    else
                    {
                        <li><a href="/Account/Edit" class="authorisationRequired">Account Admin</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/LogOff" class="btn btn-default btn-md"><i class="fa fa-power-off"></i>Log Out</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
