﻿@using Medianet.Web.Models;
@using Medianet.Web.MedianetListService;
@model ReleaseModel
@Html.Partial("_confirm", Model)
<section>
    @*<div class="creditcards">
            <h4>Medianet accepts the following credit cards:</h4>
            <img src="@Url.Content(" ~ /Content/img/creditcards.png")">
        </div>  class="section payment"*@

    @*<script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="medianet-test"></script>*@
    <div class="form-horizontal">
        @if (@Model.PaymentResponse == null)
        {
            @Html.Raw(Model.Error);
        }
        else
        {
            <button class="btn btn-large" id="myBtn">Pay Now</button>
        }
    </div>
    @if ((Model.PaymentError != null) && (Model.PaymentError != ""))
    {
        <div class="intro payment-fail">
            <h2>The credit card details are incorrect.</h2>
            <p> Please try again. If you continue to experience an error, please contact our customer service team on 1300 616 813.</p>
        </div>
    }
    <div id="myModal" style="text-align: center;" class="modal">
        <div id="cb-container"
             style="position: fixed; inset: 0px; z-index: 2147483647; overflow-y: scroll; background: rgba(0, 0, 0, 0.7);">

            <div id="cb-modal-close"
                 style="position: absolute;z-index: 2147483647; background: rgb(57, 57, 65); height: 36px; width: 36px; border-radius: 50%; right: 25px; top: 10px; font-size: 20px; color: rgba(255, 255, 255, 0.7); text-align: center; cursor: pointer; display: table; font-weight: 400; line-height: 36px;">
                ×
            </div>
            <iframe id="cb-frame"
                    style="width: 100%; height: 100%; z-index: 999999; visibility: visible; position: relative; border: 0px;"
                    src=@Html.Raw(@Model.PaymentResponse.PaymentForm)
                    title="Checkout Page"></iframe>
        </div>
    </div>
</section>
<form class="form-horizontal" method="post" id="form">
    @Html.AntiForgeryToken()
    @Html.Action(Model.CurrentStepOrder)
</form>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var div = document.getElementById("cb-modal-close");
    
    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    div.onclick = function () {
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

