﻿@using Medianet.Web.Models;
@model ProductInformationModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#productInfo').hide();">×</button>
    <h3 id="myModalLabel">Description:</h3>
</div>
<div class="modal-body">
    @if (Model.InformationLists.Length > 0)
    {
        if (Model.InformationLists[0].Comment != null)
        {
            @Html.Raw(Model.InformationLists[0].Comment.Comment)
        }
        else
        {
            <text>No description available</text>
        }
        if (!string.IsNullOrWhiteSpace(Model.InformationLists[0].AttachmentFileName))
        {
            <br />
            <a type="button" href="@Url.Action("DownloadPackageAttachment", new { packageId = Model.InformationLists[0].Id, fileName = Model.InformationLists[0].AttachmentFileName })">
                @Model.InformationLists[0].AttachmentFileName
            </a>
        }
    }
    else
    {
        <text>No description available</text>
    }
</div>
@if (Model.InformationLists.Any() && Model.InformationLists[0].OutletNames.Any())
{
    @Html.Partial("_productListNames", Model.InformationLists[0].OutletNames)
}
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#productInfo').hide();">Close</button>
</div>