﻿@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices;
@model ReleaseModel
           
@if ( 
        ( !Model.isPrepare && !Model.hasFinalized && !Model.hasSubmited && !Model.hasCheckedOut && !Model.isFinalise ) &&
        ( ( Model.QuickRecommendationList != null) && (Model.QuickRecommendationList.Count > 0) )
    )
{
    <div class="nav-container">
        <h2>We recommend</h2>
        <ul>            
            @foreach (RecommendationDTO recommendation in Model.QuickRecommendationList)
            {
                <text>
                    <li class="links item">
                        <a href="#" class="btn-group" onclick="getProductInfo(@recommendation.ProductId,@recommendation.IsPackage.ToString().ToLower(),false);return false;;return false;">
                        <span class="btn btn-info">info</span></a>
                        <a style="cursor:pointer;" name="@recommendation.ProductId" class="btn-group cart" onclick="addToCart(@recommendation.ProductId);return false;">
                            <span class="btn btn-primary"><em class="plus"></em></span>
                            <span class="btn btn-primary dropdown-toggle">@Html.AddToCartText(recommendation.IsPackage, recommendation.IsCustomerList, false, recommendation.DistributionType, recommendation.ProductId)</span>
                        </a>
                        <h4 class="no-description">@recommendation.Name</h4>
                        <p>@Html.Raw(recommendation.ShortDescription)</p>
                    </li>                
                </text> 
            }
        </ul>
    </div>
}