﻿@using Medianet.Web.Models;
@model ECommerceWorkflowModel
<input name="SelectedAction" id="SelectedAction" type="hidden" />
@foreach (WorkflowStep step in Model.Steps)
{
    bool isFirst = (step == Model.Steps.First());
    bool isInMenu = step.isInMenu;
    bool isEnabled = (isFirst) || (!isFirst && !Model.isFirstStep());

    if (isInMenu)
    {
        if (isEnabled)
        {
            <li id="wizard-step-@step.Route" class="nav-release @((@step.isDefault) ? "active" : "")">
                <span class="linked"><a href="#" onclick="releaseMenuClick('@step.Route', @step.Order)">@step.MenuName</a></span>
            </li>
        }
        else
        {
            <li id="wizard-step-@step.Route" class="nav-release @((@step.isDefault) ? "active" : "")">
                <span>@step.MenuName</span>
            </li>
        }
    }
}