﻿@using Medianet.Constants
@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices;
@model ReleaseModel
@{ 
    decimal Total = 0;
    bool canRemove = ! (Model.hasFinalized || Model.hasSubmited || Model.hasCheckedOut);
    bool DisplayExcludedCartItems = true;
    if (ViewBag.DisplayExcludedCartItems == "false")
    {
        DisplayExcludedCartItems = false;
    }

    var newsHubProduct = Model.shoppingCart.Where(item => item.ProductId == NopCommerce.NewsHubPosting_Product_Id || item.HasNewsHubServices).ToList();
    bool newsHubProductIncluded = false;
    if (newsHubProduct.Count > 0)
    {
        newsHubProductIncluded = newsHubProduct.First().Included;
    }

    var journalist = Model.shoppingCart.Where(item => item.ProductId == NopCommerce.JournalistPosting_Product_Id || item.HasJournalistsServices).ToList();
    bool journalistIncluded = false;
    if (journalist.Count > 0)
    {
        journalistIncluded = journalist.First().Included;
    }
}

    <h2 class="subtitle">
        <strong>Shopping Cart</strong>
    </h2>
    <ul class="cart-items">
        @foreach (ShoppingCartItemDTO item in Model.shoppingCart)
        {
            if (DisplayExcludedCartItems || item.Included)
            {
                ShoppingCartItemAttributeModel attributes = new ShoppingCartItemAttributeModel(item);
                Total += item.Price;
                 <text>
                     <li class="item@((attributes.IsTwitterPosting && !newsHubProductIncluded) || (attributes.IsSecondaryWebCat && !(newsHubProductIncluded || journalistIncluded)) ? " alert" : "")">
                         <div class="amount" data-id="@(item.ProductId == NopCommerce.CustomerList_Product_Id ? item.ServiceId : item.ProductId)"@(Html.DisableWith(item.ChildProductIds))>@item.Price.ToString("C")
                             @if (attributes.IsDefaultPosting)
                             {
                                 <a href="#" onclick="showPackageMessage(@item.ProductId);return false;" class="btn-group"><span class="btn btn-info">info</span></a>
                             }
                             else if (attributes.IsSecondaryWebCat)
                             {
                                 <a href="#" onclick="ShowMessage('Information', 'Increase visibility of your release on the Medianet for Journalists portal by selecting an additional category. <i>Additional $30 (exc. GST).</i>');return false;" class="btn-group"><span class="btn btn-info">info</span></a>
                             }
                             else if (canRemove && !attributes.IsAttachmentFee && !attributes.IsAnrFee && !attributes.IsSecondaryWebCat && !attributes.IsHighPriorityFee)
                             {
                                 <a style="cursor: pointer;" class="btn btn-remove" onclick="removeFromCart(@item.Id, @item.ProductId, @(attributes.IsCustomerList ? item.ServiceId : 0)@(Model.isFinalise ? ", ReloadFinalise" : ""));return false;">remove</a>
                             }
                             else
                             {
                                 <span class="no-btn-remove">&nbsp;</span>
                             }
                         </div>
                         <h4>@(attributes.IsNewsHubPosting || attributes.IsJournalistPosting || attributes.IsTwitterPosting || attributes.IsAnrFee || attributes.IsSecondaryWebCat || attributes.IsHighPriorityFee ? item.Name : string.Format("{0} ({1})", item.Name, attributes.AddressesCount))</h4>
                         @if (attributes.IsTwitterPosting && !newsHubProductIncluded)
                         {
                             <p>Please select Online - Journalists &amp; Consumers first</p>
                         }
                         else if (attributes.IsSecondaryWebCat && !(newsHubProductIncluded || journalistIncluded))
                         {
                             <p>Please select Online - Journalists Only Or Online - Journalists &amp; Consumers first</p>
                         }
                         else if (attributes.IsNewsHubPosting || attributes.IsJournalistPosting || attributes.IsTwitterPosting || attributes.IsAnrFee || attributes.IsAttachmentFee || attributes.IsSecondaryWebCat || attributes.IsHighPriorityFee)
                         {
                             <p>&nbsp;</p>
                         }
                         else
                         {
                             <p>@attributes.ProductType()</p>
                         }
                     </li>
                 </text>
            }
        }
    </ul>
    <p style="color:red;"><b>@Html.ValidationMessageFor(model => model.shoppingCart)</b></p>
    <div class="total-price">
        <div class="total-amount">
        <h3>Total<span>(inc. gst)</span><em>@Total.ToString("C")</em></h3>
        </div>
    </div>
    
    <input type="hidden" id="errorMsg" value="@Model.Error" />
    <input type="hidden" id="warningMsg" value="@Model.Warning" />
