﻿@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices;
@model ReleaseModel

<section id="shoppingcartSection">
    @if (!Model.hasFinalized)
    {
        if (Model.isAudio)
        {
            <section class="module item word-count" id="wordcount_section">
                <div class="empty"></div>
                @Html.Partial("_attachmentInfoAudio", Model)
            </section>
        }
        else if (!Model.isSms)
        {
            <section class="module item word-count" id="wordcount_section">
                <div class="empty"></div>
                @Html.Partial("_attachmentInfo", Model)
            </section>
        }

        if (
            (Model.RecommendationList != null) &&
            (Model.RecommendationList.Count > 0)
            )
        {
            <section class="module item recommended" style="display: @(Model.isPrepare || Model.hasCheckedOut || Model.isFinalise ? "none" : "block");" id="cartRecommendations">
                <div class="empty"></div>
                @Html.Partial("_cartRecommendations", Model)
            </section>
        }

        <section class="module shopping-cart" id="shoppingCartContainer">
            <div class="empty"></div>
            @Html.Partial("_shoppingCartItems", Model)
        </section>

        if (!Model.hasCheckedOut && !Model.hasFinalized)
        {
            string next = (Model.isFinalise) ? "Finalise" : "Next";
            string back = (Model.isFinalise && Model.isWire) ? "Continue Shopping" : "Back";
            string action = "goPrevious();";

            if (Model.isFinalise && Model.isWire)
            {
                var step = Model.Steps.FirstOrDefault(s => s.Route.Equals("lists"));

                if (step != null)
                {
                    action = "releaseMenuClick('" + step.Route + "', " + step.Order.ToString() + ");";
                }
                else
                {
                    action = "goContacts();";
                }
            }

            string confirmClass = (Model.isFinalise) ? "authorisationRequired" : "";

            <nav role="navigation" class="actions">
                <div class="buttons">
                    @if (!Model.isPrepare)
                    {
                        <input type="button" class="btn btn-secondary btn-large" value="@back" onclick="@action"/>
                    }
                    <input type="submit" class="btn btn-large @confirmClass" value="@next" onclick="return goNext();"/>
                </div>
            </nav>
        }
        else
        {
            <nav role="navigation" class="actions">
            </nav>
        }
    }
</section>
