﻿@using Medianet.Web.Models;
@model ReleaseModel
<div class="row">
    <div id="content" class="span10">
@if ( Model.Error == String.Empty )
{
    @Html.Partial("_adWordsScriptRelease")
    
    var publicURL = @System.Web.Configuration.WebConfigurationManager.AppSettings["MedianetPublicSiteURL"];
    var mrgPublicSiteUrl = @System.Web.Configuration.WebConfigurationManager.AppSettings["MrgPublicSiteUrl"];
    <text>
        <div class="intro payment-success">
            <h1>Thanks for sending your press release with Medianet</h1>            
            <p>We can confirm your release has been sent. <a href="/">Back to the homepage</a></p>
        </div>
        <div class="promo">
            <h3>Need to know what the media is saying about your organisation?</h3>
            <h3 class="brandcolor">Find actionable insights with Mediaverse</h3>
            <ul class="ok-list">
                <li><b>Understand the quantity and quality of media coverage relevant to your brief.</b></li>
                <li><b>Synthesise and interpret what media sources and opinion leaders are saying about your organisation.</b></li>
                <li><b>Inform your next steps and approach to engage and influence your audience.</b></li>
                <li><b>Evaluate and demonstrate the impact and effectiveness of your communication efforts.</b>
                    <a href="@(mrgPublicSiteUrl)?utm_source=PRD_website&utm_medium=TY_FU_page&utm_content=Find_out_more&utm_campaign=Secure_portal" class="pull-right btn btn-large btn-primary">Find out more</a>
                </li>
            </ul>
        </div>
        <section>
            <div class="span5">
                <h3>Your Media Release is going places.</h3>
                <h3 class="brandcolor">Have you ticked all boxes?</h3>
                <br />
                <ul class="ok-list">
                    <li><b>Multimedia.</b> Get 20% more views by <a href="https://www.medianet.com.au/products/buildpress-release-distribution/#mnr">adding multimedia</a> to your release.<br />
                        <a href="https://www.medianet.com.au/home-page/medianet-for-journalists-and-bloggers/#twitter1">Social Media Distribution.</a> Harness the power of Social Media by distributing your release via Twitter. We manage 15 Twitter categories.</li>
                    <li><b>Medianet news Hub. </b>Thousands of people in media visit our website everyday. Show them your release in our new <a href="@(publicURL)releases?utm_source=PRD_website&utm_medium=TY_FU_page&utm_content=Medianet_NewsHub&utm_campaign=Secure_portal">Medianet News Hub.</a></li>
                </ul>
            </div>
            <div class="span3 brandcolor pagination-centered box-border">
                <h3>We are here for you 24/7.</h3>
                <h3>Call us</h3>
                <h1>1300 616 813</h1>
            </div>
        </section>

    </text>
}
else
{    
    <text>
        <div class="intro payment-fail">
        <h1>Something went wrong</h1>
        <p>Please try again. If you continue to experience an error, please contact our customer service team on 1300 616 813.</p>
        </div>
        <section class="section payment-fail">
        <form class="form-horizontal" method="post" action="previous" id="form">
            @Html.AntiForgeryToken()
            @Html.Action(Model.CurrentStepOrder)
            <nav role="navigation">
                <ul class="actions">
                    <li>
                        <input type="button" class="btn-secondary btn-large" value="Back" onclick="goFinalise();"/>
                    </li>
                </ul>
            </nav> 
        </form>
        </section>       
    </text>
}
</div></div>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>