﻿@using System.Collections.Generic
@using System.Web
@using Medianet.Web.Models;
@model BaseModel
@{
    IList<WidgetItem> items = null;
    if (Model is ReleaseModel)
    {
        items = ((ReleaseModel)Model).WidgetList;
    }

    if (Model is EditDetailModel)
    {
        items = ((EditDetailModel)Model).WidgetList;
    }

    if (items != null)
    {
        foreach (var item in items)
        {
            <section class="module item notes @item.Type">
                @if (!string.IsNullOrWhiteSpace(item.Title))
                {
                    <div class="empty"></div>
                    <h2>@item.Title
                        @if (item.Type == "twitter")
                        {
                            <a class="btn follow btn-gray" href="@item.Location" target="_blank">Follow</a>
                        }
                    </h2>
                    <br />
                }
                @Html.Raw(HttpUtility.HtmlDecode(item.Content))
            </section> 
        }
    }
}

<!-- Widget sample-->
<!--
    <section class="module item notes upgrade">
        <h2>Sign up online</h2>
        <br/>
        <ul>
            <li>Verified Online Content</li>
            <li>Social MediaDistribution</li>
            <li>Extend the life of your release</li>
            <li>Target the media with AAP Newswire</li>
            <li>Over 1,000 ready-to-use lists</li>
            <li>Access exclusive media planning tools</li>
            <li>24/7 Customer Service</li>
        </ul>
        <a href="#" class="btn btn-large">Upgrade now</a>
    </section>
    <section class="module item notes twitter">
        <h2>Follow us</h2>
        <br/>
        <a href="#" class="black">aapmedianet</a>
        <a class="btn follow btn-gray" href="#">Follow</a>
    </section>
    <section class="module item notes">
        <h2>Contact us</h2>
        <br/>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis nisl ac erat varius ut suscipit lectus tristique.</h5>
        <p><strong>HEAD OFFICE, AUSTRALIA</strong><br />Level 6, 3 Rider Boulevard, Rhodes NSW 2138, Australia</p>
        <p>Email: <a href="mailto:team@medianet.com.au" class="black">team@medianet.com.au</a><br /><strong>1300 616 813</strong></p>
    </section>
-->
