﻿@using Medianet.Web.Models;
@using Medianet.Web.MedianetReleaseService;
@model BaseModel
@{
    ViewBag.Title = "Change Release in progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
<div class="span9 offset1">
<div class="intro">
<h1>If you leave this page now, you will lose the progress you have made so far.</h1>
<br/>
</div>
<section class="section">    
    <form class="form-horizontal" method="post" id="form">   
        @Html.HiddenFor(model => model.session.SwitchRelease.ModelKeyFrom)
        @Html.HiddenFor(model => model.session.SwitchRelease.ModelKeyTo)
        @Html.AntiForgeryToken()
        <b><p> Are you sure you want to leave?</p></b>
        <nav role="navigation" class="actions">            
            <div class="buttons">
            <input type="button" class="btn-secondary btn-large" value="Yes" onclick="Continue();"/>
            <input type="button" class="btn btn-large" value="No" onclick="GoBack();"/>     
            </div>    
        </nav>
    </form>
</section>
</div>
</div>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>