﻿@using Medianet.Web.Models;
@using Medianet.Web.MedianetReleaseService;
@model ReportModel

<table class="panel">
    <thead class="panel-heading">
    <tr>
        <th style="width:40%">Headline</th>
        <th style="width:10%">Cust ref.</th>
        <th style="width:10%">Status</th>
        <th style="width:15%">Submitted by</th>
        <th style="width:17%">Submitted</th>                
        <th style="width:8%">Action</th>
    </tr>
    </thead>
    <tbody class="panel-body">
        @foreach (Release release in Model.Reports.Releases)
        {
            <tr>
                <td>@release.ReleaseDescription</td>
                <td>@release.CustomerReference</td>
                <td>@Html.DisplayReleaseStatus(release.Status)</td>
                <td>@((release.CreatedByUser != null)? String.Format("{0} {1}",release.CreatedByUser.FirstName,release.CreatedByUser.LastName):"")</td>
                <td>@release.CreatedDate</td>
                <td><a href="/report/view/@release.Id" class="btn btn-small btn-tw btn-tw-default">View</a></td>
            </tr>         
        }
    </tbody>
</table>
<form>
    @Html.AntiForgeryToken()
    <div class="pagination">
        <ul>
            <li><a class="btn btn-tw btn-tw-green" onclick="prevReportPage();return false;"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>

            @{ int Pager = (@Model.PagerIndex * @Medianet.Constants.NopCommerce.Report_Pager_Size) + 1; }

            @for (int index = 1; index <= @Medianet.Constants.NopCommerce.Report_Pager_Size; index++)
            {
                int pageIndex = (@Pager+@index-1);
                
                if ( ( index + Pager ) < Model.TotalPages )
                {
                    if ( pageIndex == Model.PageIndex)
                    {
                        <li><a><b>@pageIndex</b></a></li>
                    }
                    else
                    {
                        <li><a style="cursor:pointer;" onclick="goToReportPage(@pageIndex);return false;">@pageIndex</a></li>
                    }                                     
                }                
            }
            <li><a class="btn btn-tw btn-tw-green" onclick="nextReportPage();return false;"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</form>