﻿@using Medianet.Web.Models;
@using Medianet.Web.MedianetReleaseService;
@model ReportModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">×</button>
    <h3 id="myModalLabel">View Reports</h3>
</div>
<div class="modal-body">
    <table class="bordered">
        <tr>
            <td style="width:30%"><strong>Subject/Headline</strong></td>
            <td style="width:70%">@(@Model.ReleaseDetails.WebDetails != null ?@Model.ReleaseDetails.WebDetails.Headline : "" )</td>                    
        </tr>
        <tr>
            <td style="width:30%"><strong>List name</strong></td>
            <td style="width:70%">@Model.Transaction.SelectionDescription</td>                    
        </tr>
    </table>
    <br />
    <span>Result: @Model.Results.Count() item(s)</span>                      
    <table class="panel">
        <thead class="panel-heading">
            <tr>
                <th>@(Model.Transaction.ShouldSendResultsToOwner ? "Address" : "Recipient")</th>
                <th>Time delivered</th>
                @if (Model.Transaction.DistributionType == DistributionType.Email)
                {
                    <th>Opened</th>
                }
                <th>Status</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody class="panel-body">
            @foreach (Result result in Model.Results)
            { 
                <tr>
                    <td>@(Model.Transaction.ShouldSendResultsToOwner ? result.Address : result.Recipient)</td>
                    <td>@(@result.TransmittedTime.HasValue ? @result.TransmittedTime.Value.ToString() : "")</td>
                    @if (Model.Transaction.DistributionType == DistributionType.Email)
                    {
                        <td>@(@result.OpenCount > 0 ? "Yes" : "No")</td>
                    }
                    <td>@result.Status</td>
                    <td>@result.ErrorMessage</td>
                </tr>                    
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-tw btn-tw-green" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
</div>