﻿@using Medianet.Web.Models;
@model ReportModel
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="row">
    <div id="content" class="span11">
        <div class="intro">
            <h1>View Press Release Feedback and Open Rate Reports</h1>
            <p>Click 'View' on your release below to access personalised Medianet Editor Feedback and open rate reporting and to cancel releases.</p>
            <br />
        </div>
        <section class="">
            <div class="" id="reports">
                @Html.Partial("_reportPage",Model)         
            </div>            
        </section>                    
    </div>
</div>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.reports.js")" type="text/javascript"></script>