﻿@using System
@using Medianet.Web.Models;
@using Medianet.Web.MedianetReleaseService;
@model ReportModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

@helper DateHelper(DateTime? date)
{
    if (date.HasValue)
    {
        @date.Value.ToString();
    }    
}

<div class="row" id="reports">
    <div id="content" class="span11">
        <div class="intro">
            <h1>Your Press Release Feedback & Open Rate Reports <a href="/report/index" class="btn pull-right btn-tw btn-tw-green">Back</a></h1>
            <br />
        </div>
        <section>
            <table class="panel bordered">
                <tr>
                    <td style="width: 30%"><strong>Headline</strong></td>
                    <td colspan="2" style="width: 70%">@Model.ReleaseDetails.ReleaseDescription</td>
                </tr>
                <tr>
                    <td><strong>Organisation</strong></td>
                    <td>@Html.Raw(Model.ReleaseDetails.WebDetails == null ? string.Empty: Model.ReleaseDetails.WebDetails.Organisation)</td>
                    <td rowspan="8" class="reportChart">
                        <table class="noborder">
                            <tr>
                                <th colspan="2">Email Opened Rate</th>
                            </tr>
                            <tr>
                                <td>
                                    <table class="panel">
                                        @{
                                            int totalOpened = 0;
                                            int totalUnopened = 0;

                                            foreach (TransactionStatistics transaction in @Model.Transactions)
                                            {
                                                if (transaction.DistributionType == DistributionType.Email)
                                                {
                                                    totalOpened += transaction.TotalOpened;
                                                    totalUnopened += transaction.TotalInProgress + transaction.TotalUnopened + transaction.TotalFailed;
                                                }
                                            }
                                        }
                                        <tbody class="panel-body">
                                            <tr>
                                                <th>Total</th>
                                                <th>@(totalOpened + totalUnopened)</th>
                                            </tr>
                                            <tr>
                                                <td>Opened</td>
                                                <td>@(totalOpened)</td>
                                            </tr>
                                            <tr>
                                                <td>Unopened</td>
                                                <td>@(totalUnopened)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td id="myChart"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span>
                                        <span class="label label-opened"></span>Opened
                                        <span class="label label-unopened"></span>Unopened
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><strong>Customer reference</strong></td>
                    <td>@Model.ReleaseDetails.CustomerReference</td>
                </tr>
                <tr>
                    <td><strong>Priority</strong></td>
                    <td>@Model.ReleaseDetails.Priority</td>
                </tr>
                <tr>
                    <td><strong>Attachments</strong></td>
                    <td>
                        <ul class="unstyled">
                            @foreach (Document document in @Model.Documents)
                            {
                                if (!document.IsDerived)
                                {
                                <li>@Html.ActionLink(document.OriginalFilename, "GenericDownload", "Download", new { j = Model.ReleaseDetails.Id, s = document.SequenceNumber, k = Model.ReleaseDetails.SecurityKey }, new { target = "_blank" })</li>
                                }
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Submitted by</strong></td>
                    <td>@(Model.ReleaseDetails.CreatedByUser == null ? String.Empty : Model.ReleaseDetails.CreatedByUser.FirstName + " " + Model.ReleaseDetails.CreatedByUser.LastName)</td>
                </tr>
                <tr>
                    <td><strong>Submitted date</strong></td>
                    <td>@Model.ReleaseDetails.CreatedDate</td>
                </tr>
                <tr>
                    <td><strong>Status</strong></td>
                    <td>@Html.DisplayReleaseStatus(Model.ReleaseDetails.Status)</td>
                </tr>
                <tr>
                    <td><strong>Sent</strong></td>
                    <td>@DateHelper(@Model.ReleaseDetails.DistributedDate)</td>
                </tr>
                <tr>
                    <td><strong>Schedule</strong></td>
                    <td>
                        @if (@Model.ReleaseDetails.HoldUntilDate.HasValue)
                        {
                            <text>Hold Until @DateHelper(@Model.ReleaseDetails.HoldUntilDate)</text>
                        }
                        else
                        {
                            <text>Immediate</text>
                        }
                    </td>
                </tr>
                <tr>
                    <td><strong>Medianet Editor Feedback</strong></td>
                    <td>
                        <span id="curatorLoading">
                            Loading...
                        </span>
                        <span id="curatorSummary" class="hide">
                            <span class="star-ratings-sprite"><span style="width: 0" class="star-ratings-sprite-rating"></span></span>
                            <span class="pull-left rate-number">0</span>
                            <button href="#myModal" role="button" class="btn btn-small btn-tw btn-tw-default pull-right" data-toggle="modal" onclick="DisplayReview();">View</button>
                        </span>
                    </td>
                </tr>
                @if (Html.IsInProgress(Model.ReleaseDetails.Status))
                {
                <tr>
                    <td>
                        <button role="button" class="btn btn-small btn-tw btn-tw-default" data-toggle="modal" onclick="CancelJob();">Cancel Release</button>
                    </td>
                </tr>
                }
            </table>
            <br/>
            <h3>Open Rate Reports</h3>
            <br/>
            <table class="panel">
                <thead class="panel-heading">
                <tr>
                    <th>List name</th>
                    <th>Status</th>
                    <th>Distributed</th>
                    <th>Sent</th>
                    <th>Opened</th>
                    <th>Unopened</th>
                    <th>Report</th>
                </tr>
                </thead>
                <tbody class="panel-body">
                @foreach (TransactionStatistics transaction in @Model.Transactions)
                {
                    <tr>
                        <td>@transaction.SelectionDescription (@transaction.DistributionType)</td>
                        <td>@Html.DisplayTransactionStatus(transaction.Status) </td>
                        @if (transaction.DistributionType == DistributionType.Email || transaction.DistributionType == DistributionType.SMS || transaction.DistributionType == DistributionType.Voice)
                        {
                            <td>@(transaction.TotalInProgress + transaction.TotalSentOk + transaction.TotalFailed)</td>
                            <td>@transaction.TotalSentOk</td>
                            if (transaction.DistributionType == DistributionType.Email)
                            {
                                <td>@transaction.TotalOpened</td>
                                <td>@(transaction.TotalInProgress + transaction.TotalUnopened + transaction.TotalFailed)</td>
                            }
                            else
                            {
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            }
                        }
                        else
                        {
                            <td colspan="4">&nbsp;</td>
                        }
                        @if (transaction.DistributionType == DistributionType.Email || transaction.DistributionType == DistributionType.SMS || transaction.DistributionType == DistributionType.Voice)
                        {
                            <td>
                                <button href="#myModal" role="button" class="btn btn-small btn-tw btn-tw-default" data-toggle="modal" onclick="loadReportTransaction(@Model.ReleaseDetails.Id, @transaction.Id);">View</button>
                                <a href="@Url.Action("export", "Report", new { TransactionId = transaction.Id, ReleaseId = Model.ReleaseDetails.Id })" class="btn btn-small btn-tw btn-tw-default">PDF export</a>
                            </td>
                        }
                        else
                        {
                            <td>&nbsp;</td>
                        }
                    </tr>
                }
                </tbody>
            </table>

            @Html.HiddenFor(m => m.ReleaseDetails.Id, new { id = "ReleaseId" })

            <div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

            <div id="review" class="hide">
                <table class="panel">
                    <thead class="panel-heading">
                        <tr>
                            <th>Category</th>
                            <th class="rate-col">Rating</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody class="panel-body">
                        <tr data-type="content">
                            <td>Content</td>
                            <td>
                                <span class="star-ratings-sprite"><span style="width: 0" class="star-ratings-sprite-rating"></span></span>
                                <span class="pull-right rate-number">0</span>
                            </td>
                            <td class="comment">&nbsp;</td>
                        </tr>
                        <tr data-type="angle">
                            <td>Angle</td>
                            <td>
                                <span class="star-ratings-sprite"><span style="width: 0" class="star-ratings-sprite-rating"></span></span>
                                <span class="pull-right rate-number">0</span>
                            </td>
                            <td class="comment">&nbsp;</td>
                        </tr>
                        <tr data-type="assets">
                            <td>Assets</td>
                            <td>
                                <span class="star-ratings-sprite"><span style="width: 0" class="star-ratings-sprite-rating"></span></span>
                                <span class="pull-right rate-number">0</span>
                            </td>
                            <td class="comment">&nbsp;</td>
                        </tr>
                        <tr data-type="timing">
                            <td>Timing</td>
                            <td>
                                <span class="star-ratings-sprite"><span style="width: 0" class="star-ratings-sprite-rating"></span></span>
                                <span class="pull-right rate-number">0</span>
                            </td>
                            <td class="comment">&nbsp;</td>
                        </tr>
                        <tr data-type="heading">
                            <td>Heading</td>
                            <td>
                                <span class="star-ratings-sprite"><span style="width: 0" class="star-ratings-sprite-rating"></span></span>
                                <span class="pull-right rate-number">0</span>
                            </td>
                            <td class="comment">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<form>@Html.AntiForgeryToken()</form>
<script type="text/javascript">
    var graphData = [['Opened', @(totalOpened)], ['Unopened', @(totalUnopened)]];
</script>
<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.common.new.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.reports.js")" type="text/javascript"></script>
