﻿@using Medianet.Web.Models;
@model SmsListModel
@{
    ViewBag.Title = "Medianet - Manage Mobile Lists";
    Layout = "~/Views/Shared/_layoutManage.cshtml";    
}
@Html.AntiForgeryToken()
<div class="container">
    <div class="intro">
            <h1>Manage your SMS Lists</h1>
            <p>Upload and manage your own lists of contacts to complement Medianet's media lists.</p>
    </div>
    <div class="row">
        <div id="content" class="span12">
            <section class="section">
                    <ul class="nav nav-tabs">
                        <li class="nav-edit btn-secondary active"><a data-toggle="tab" href="#upload">Upload SMS List</a></li>
                        <li class="nav-upload btn-secondary"><a data-toggle="tab" href="#edit">Edit SMS List</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="upload" class="tab-pane active">
                            <div class="span9 offset1 info">
                                <p><strong>Upload a new SMS list or replace one of your existing SMS lists.</strong></p>
                                <p>Preparing your list for upload:</p>
                                <p>1. Include one column named 'ServiceType' and put the word SMS in every row of this column.</p>
                                <p>2. Include one column named 'Address' and put the mobile phone number for each contact in each row.</p>
                                <p>3. You can include optional fields named as follows: ReferenceId, Company, JobTitle, Title, FirstName, MiddleName, LastName, PhoneNumber, AddressLine1, AddressLine2</p>
                                <p>4. You must save your file in CSV format (see list <a target="_blank" href="@Url.Content("~/Content/ListTemplate.csv")">template</a>)</p>
                            </div>
                            <div class="span9 offset1">
                                <div class="item">
                                    <h3 class="title">Upload a new list</h3>
                                    <div class="row">
                                        <div class="span4 step1">
                                            <label>Name List</label>
                                            @Html.TextBoxFor(model => model.ListName, new { placeholder = "Enter list name", @class = "input-xlarge" })
                                            @Html.ValidationMessageFor(model => model.ListName)
                                        </div>
                                        <div class="span3 step2">
                                            <label>New list to be uploaded</label>
                                            <div class="control-group">
                                                <div class="upload">
                                                    <div id="inputNewUploadList"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <h3 class="title"><strong>Replace existing list</strong></h3>
                                    <div class="row">
                                        <div class="span4 step1">
                                            <label>Choose List</label>
                                            @Html.ListBoxFor(model => model.SelectedSms, Model.Lists)
                                        </div>
                                        <div class="span3 step2">
                                            <label>Attach list to be uploaded</label>
                                            <div class="control-group">
                                                <div class="upload">
                                                    <div id="inputReplaceList" placeholder="inputReplaceList"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="edit" class="tab-pane">
                            <div class="span9 offset1">
                                <div class="item" id="editionTop">
                                    <div class="info break-bottom">
                                        <h4>Select a list to edit</h4>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12 step1">
                                            <span class="inline-label">List Name:</span>
                                            @Html.DropDownListFor(model => model.SelectedSmsList, Model.Lists, new { onchange = "editList();" })
                                            <span class="inline-label" id="newListNameLabel" style = "display:none;">New List Name:</span>
                                            @Html.TextBoxFor(model => model.newListName, new { style = "display:none;" })
                                            <span class="whitespace">
                                            <a class="btn btn-small" href="#" target="_blank" id="downloadFile" onclick="return downloadList(this);"><i class="icon-pencil"></i> Download</a>
                                            <a class="btn btn-small" href="#" id="renameListButton" onclick="renameListPrepare();return false;"><i class="icon-pencil"></i> Rename</a>
                                            <a class="btn btn-small" href="#" id="okRenameListButton" onclick="renameList();return false;" style="display:none;"><i class="icon-pencil"></i> Ok</a>
                                            <a class="btn btn-small" href="#" id="cancelRenameListButton" onclick="renameListCancel();return false;" style="display:none;"><i class="icon-pencil"></i> Cancel</a>
                                            <a class="btn btn-small" href="#" id="deleteListButton" onclick="deleteList();return false;"><i class="icon-trash"></i> Delete</a>
                                            <a class="btn btn-small" href="#" id="editListButton"   onclick="editList();return false;"><i class="icon-edit"></i> Edit</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item" id="edition">
                                    @Html.Partial("_form", Model)
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    var Selected     = $('#SelectedSms');
    var SelectedList = $('#SelectedSmsList');
</script>
<script src="@Url.Content("~/Scripts/medianet.managelist.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>