﻿@using Medianet.Web.Models;
@using Medianet.Web.MedianetListService;
@model TrainingCourseRegisterModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="row register">
    <div id="content" class="span8">
        <div class="intro">
            <h1>@Model.CourseTitle</h1>
            <br />
            <p>@Html.Raw(Model.CourseSummary)</p>
            @if (@Model.PaymentResponse == null)
            {
                <br />
                <h2>There was an error preparing the payment</h2>
            }
            <br />
        </div>

        <table class="panel">
            <thead class="panel-heading trainingCourse-heading">
                <tr>
                    <th style="width: 5%"></th>
                    <th style="width: 25%">Register</th>
                    <th style="width: 10%">
                        <img src="../../Content/img/chevron-right.png" />
                    </th>
                    <th style="width: 25%" class="active">Payment</th>
                    <th style="width: 10%">
                        <img src="../../Content/img/chevron-right.png" />
                    </th>
                    <th style="width: 20%">Confirmation</th>
                </tr>
            </thead>
        </table>

        <section class="panel trainingCourse">
            @Html.ValidationSummary(true)
            <div id="creditcard" class="payment">
                <div class="creditcards">
                    <h4>Medianet accepts the following credit cards:</h4>
                    <img src="@Url.Content("~/Content/img/creditcards.png")">
                </div>
                <div class="form-horizontal">
                    @if (@Model.PaymentResponse == null)
                    {
                        @Html.Raw(Model.Error)
                    }
                    else
                    {
                        <h4>Please enter your credit card details below. Your card will be charged @((Model.PaymentResponse.Total % 1 > 0) ? Model.PaymentResponse.Total.ToString("C") : Model.PaymentResponse.Total.ToString("C0")).</h4>
                        @Html.Raw(@Model.PaymentResponse.PaymentForm)
                    }
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.PaymentError))
                {
                    <div class="intro payment-fail">
                        <h2>The credit card details are incorrect.</h2>
                        <p>Please try again. If you continue to experience an error, please contact our customer service team on 1300 616 813.</p>
                    </div>
                }
            </div>
            <div class="payment">
                <br/>
                <div class="buttons pull-left">
                    <input type="button" value="Back" onclick="location.href='@Url.Action("Register", "TrainingCourse", new RouteValueDictionary(new { courseId=Model.CourseId, scheduleId = Model.ScheduleId, promoCode = Model.PromoCode }))'"
                            class="btn btn-primary btn-tw btn-tw-green"/>
                </div>
                <br />
            </div>
        </section>
        @if (@Model.PaymentResponse != null)
        {
            @*<text>
            <div class="intro">
                <div id="ewayBlock">
                    <a href="https://www.eway.com.au/secure-site-seal" title="Credit Card Processing" target="_blank">Credit Card Processing</a>
                    <a href="https://www.eway.com.au/secure-site-seal" title="Payment Gateway" target="_blank">Payment Gateway</a>
                    <a href="https://www.eway.com.au/secure-site-seal" title="E-Commerce" target="_blank">E-Commerce</a>
                </div>
                <script language="javascript">
                    var element = "ewayBlock";
                </script>
                <script language="javascript" src="https://www.eway.com.au/developer/payment-code/verified-siteseal.ashx?image=10&amp;size=15&amp;format=horizontal&amp;color=CECECE"></script>
                ;
            </div>
            </text>*@
        }
    </div>

    <div id="sidebar" class="span4">
        <table class="panel table-condensed">
            <thead class="panel-heading">
            <tr>
                <th>Course Details</th>
            </tr>
            </thead>
            <tbody class="panel-body">
            <tr>
                <td>
                    <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>@(Model.ScheduleDate.ToString("dddd ") + Model.ScheduleDate.Day.ToOrdinal() + Model.ScheduleDate.ToString(" MMMM, yyyy"))</dd>
                        <dt>Time:</dt>
                        <dd>@(Model.ScheduleTime)</dd>
                        <dt>Cost:</dt>
                        <dd>@((Model.CoursePrice % 1 > 0) ? Model.CoursePrice.ToString("C") : Model.CoursePrice.ToString("C0")) exc. GST <span id="promoCodeApplied" class="@(string.IsNullOrEmpty(Model.PromoCode) ? "hidden" : "")">(Promo code applied)</span></dd>
                    </dl>
                    <strong>Seats Remaining:</strong>&nbsp;@(Model.SeatsRemaining)
                </td>
            </tr>
            <tr>
                <td><strong>Location:</strong><br/>
                    @Html.Raw(Model.ScheduleAddress)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Telephone:</strong>&nbsp;02 9322 8140<br/>
                    <strong>Email:</strong>&nbsp;<a href="mailto:mediatraining@aap.com.au">mediatraining@aap.com.au</a>
                    <br/>
                    <br/>
                </td>
            </tr>
            </tbody>
        </table>

        @if (Model.CourseTopics != null && Model.CourseTopics.Count > 0)
        {
            <br />
            <br />

            <table class="panel">
                <thead class="panel-heading">
                    <tr>
                        <th>Outcomes</th>
                    </tr>
                </thead>
                <tbody class="panel-body">
                    @foreach (var t in Model.CourseTopics)
                    {
                        <tr>
                            <td><i class="fa fa-check"></i>@t</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <br />
        <br />

        <p>Note: Costs cover facilitation, catering and workshop materials. Course
            will only proceed if minimum numbers are met.<br />
            Please read the <a href="https://www.medianet.com.au/media-training-terms-conditions/" target="_blank">terms and conditions</a> for more information.
        </p>
    </div>
</div>

<script src="@Url.Content("~/Scripts/medianet.course.payment.js")" type="text/javascript"></script>
