﻿@model Medianet.Web.Models.TrainingCourseRegisterModel
@{
    ViewBag.Title = "Register for Training Course";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    Html.EnableClientValidation();
}

<div class="row register">
    <div id="content" class="span8">
        <div class="intro">
            <h1>@Model.CourseTitle</h1>
            <br />
            <p>@Html.Raw(Model.CourseSummary)</p>
            <br />
        </div>
        <table class="panel">
            <thead class="panel-heading trainingCourse-heading">
                <tr>
                    <th style="width: 5%"></th>
                    <th style="width: 25%" class="active">Register</th>
                    <th style="width: 10%">
                        <img src="../../Content/img/chevron-right.png" />
                    </th>
                    <th style="width: 25%">Payment</th>
                    <th style="width: 10%">
                        <img src="../../Content/img/chevron-right.png" />
                    </th>
                    <th style="width: 20%">Confirmation</th>
                </tr>
            </thead>
        </table>

        <section>
            @using (Html.BeginForm("Payment", "TrainingCourse", FormMethod.Post, new { @class = "panel trainingCourse" }))
            {
                @Html.AntiForgeryToken()
                <!--Html.ValidationSummary(true)-->
                @Html.HiddenFor(m => m.CourseId)
                @Html.HiddenFor(m => m.ScheduleId)
                @Html.HiddenFor(m => m.PromoCode)

                if (ViewData.ModelState.Any(v => string.IsNullOrWhiteSpace(v.Key) && v.Value.Errors.Count > 0))
                {
                    <div class="validation-summary-errors">
                        <ul>
                            @foreach (var modelState in ViewData.ModelState.Where(v => string.IsNullOrWhiteSpace(v.Key)))
                            {
                                ModelState modelStateValue = modelState.Value;
                                foreach (ModelError error in modelStateValue.Errors)
                                {
                                    <li>@Html.Raw(error.ErrorMessage)</li>
                                }
                            }
                        </ul>
                    </div>
                }
                else {
                <h3>About you</h3>
                <br />
                <div class="row">
                    <div class="control-group span3">
                        <label class="control-label" for="FirstName">
                            First name
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.FirstName, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="LastName">
                            Last name
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Lastname, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Lastname)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="control-group span3">
                        <label class="control-label" for="Company">
                            Company
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Company, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Company)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="Position">
                            Position
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Position, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Position)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="control-group span3">
                        <label class="control-label" for="Phone">
                            Contact number
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Phone, new { maxlength = 20 })
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="Email">
                            Email Address
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="control-group span7">
                        <label class="control-label" for="ExperienceLevel">
                            Experience with writing for the media?
                            <abbr title="required">*</abbr></label>
                        <label class="radio inline">
                            @Html.RadioButtonFor(m => m.ExperienceLevel, "No experience")
                            No experience
                        </label>
                        <label class="radio inline">
                            @Html.RadioButtonFor(m => m.ExperienceLevel, "A little experience")
                            A little experience
                        </label>
                        <label class="radio inline">
                            @Html.RadioButtonFor(m => m.ExperienceLevel, "Quite experienced")
                            Quite experienced
                        </label>
                        <label class="radio inline">
                            @Html.RadioButtonFor(m => m.ExperienceLevel, "Very experienced")
                            Very experienced
                        </label>
                        @Html.ValidationMessageFor(m => m.ExperienceLevel)
                    </div>
                </div>
                <div class="row">
                    <div class="control-group span7">
                        <label class="control-label" for="DesiredOutcome">
                            What specifically are you hoping to get out of the workshop?
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextAreaFor(m => m.DesiredOutcome, new { @class = "span7", rows = 6 })
                            @Html.ValidationMessageFor(m => m.DesiredOutcome)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="control-group span7">
                        <label class="control-label" for="Topics">
                            What topics do you plan to write about?
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextAreaFor(m => m.Topics, new { @class = "span7", rows = 6 })
                            @Html.ValidationMessageFor(m => m.Topics)
                        </div>
                    </div>
                </div>
                <br />
                <h3>Billing Information</h3>
                <br />
                <div class="row">
                    <div class="control-group span3">
                        <label class="control-label" for="Address">
                            Address
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Address, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="Suburb">
                            Suburb
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Suburb, new { maxlength = 30 })
                            @Html.ValidationMessageFor(m => m.Suburb)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="control-group span3">
                        <label class="control-label" for="PostCode">
                            Postcode
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.PostCode, new { maxlength = 10 })
                            @Html.ValidationMessageFor(m => m.PostCode)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="State">
                            State
                            <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.State, Model.States)
                            @Html.ValidationMessageFor(m => m.State)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="control-group span3">
                        <label class="control-label" for="Country">
                            Country
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.Country, Model.Countries)
                            @Html.ValidationMessageFor(m => m.Country)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="control-group span4 pull-left">
                        <div>
                            <label class="control-label">
                                @Html.CheckBoxFor(m => m.AgreeConditions)
                                I agree to the Terms of <a href="#terms" role="button" data-toggle="modal">Medianet</a> and <a href="https://www.medianet.com.au/media-training-terms-conditions/" target="_blank">attending this course</a>
                            </label>
                            @Html.ValidationMessageFor(m => m.AgreeConditions)
                        </div>
                        <div>
                            <label class="control-label">
                                <a href="https://www.medianet.com.au/privacy-policy/" target="_blank">Medianet Privacy Policy</a>
                            </label>
                        </div>
                        <div class="modal hide" id="terms" tabindex="-1" role="dialog" aria-labelledby="terms" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#terms').hide();">×</button>
                                <h3 id="myModalLabel">Terms and Conditions</h3>
                            </div>
                            <div class="modal-body">
                                @Html.Partial("_terms")
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary btn-tw btn-tw-green" data-dismiss="modal" aria-hidden="true" onclick="$('#terms').hide();">Close</button>
                            </div>
                        </div>
                    </div>

                    <div class="buttons pull-right">
                        <input type="submit" value="Next" class="btn btn-primary btn-tw btn-tw-green" />
                    </div>
                    <br />
                </div>
                }
            }
        </section>
    </div>

    <div id="sidebar" class="span4">
        <table class="panel table-condensed">
            <thead class="panel-heading">
                <tr>
                    <th>Course Details</th>
                </tr>
            </thead>
            <tbody class="panel-body">
                <tr>
                    <td>
                        <dl class="dl-horizontal">
                            <dt>Date:</dt>
                            <dd>@(Model.ScheduleDate.ToString("dddd ") + Model.ScheduleDate.Day.ToOrdinal() + Model.ScheduleDate.ToString(" MMMM, yyyy"))</dd>
                            <dt>Time:</dt>
                            <dd>@(Model.ScheduleTime)</dd>
                            <dt>Cost:</dt>
                            <dd><span id="price" data-price="@(Model.CoursePrice)">@((Model.CoursePrice % 1 > 0) ? Model.CoursePrice.ToString("C") : Model.CoursePrice.ToString("C0"))</span> exc. GST 
                                <span id="promoCodeApplied" class="hidden">(Promo code applied)</span>
                            </dd>
                        </dl>
                        <strong>Seats Remaining:</strong>&nbsp;@(Model.SeatsRemaining)
                    </td>
                </tr>
                <tr>
                    <td><strong>Location:</strong><br />
                        @Html.Raw(Model.ScheduleAddress)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Telephone:</strong>&nbsp;02 9322 8140<br />
                        <strong>Email:</strong>&nbsp;<a href="mailto:mediatraining@aap.com.au">mediatraining@aap.com.au</a>
                        <br />
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <table class="panel">
            <thead class="panel-heading">
                <tr>
                    <th>Promo Code</th>
                </tr>
            </thead>
            <tbody class="panel-body">
                <tr>
                    <td>
                        <label class="control-label" for="PromoCode">Enter Promo code</label>
                        <input id="promoCodeToApply" maxlength="20" name="promoCodeToApply" type="text" value="">
                        <input id="applyPromoCode" type="button" value="Apply" class="btn btn-small btn-tw btn-tw-default" style="margin-bottom: 9px;" />
                    </td>
                </tr>
            </tbody>
        </table>
        @if (Model.CourseTopics != null && Model.CourseTopics.Count > 0)
        {
            <br />
            <br />

            <table class="panel">
                <thead class="panel-heading">
                    <tr>
                        <th>Outcomes</th>
                    </tr>
                </thead>
                <tbody class="panel-body">
                    @foreach (var t in Model.CourseTopics)
                    {
                        <tr>
                            <td><i class="fa fa-check"></i>@t</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (!string.IsNullOrWhiteSpace(Model.ScheduleAgenda))
        {
            <br />
            <br />

            <table class="panel">
                <thead class="panel-heading">
                <tr>
                    <th>Agenda</th>
                </tr>
                </thead>
                <tbody class="panel-body">
                <tr>
                    <td>@Html.Raw(Model.ScheduleAgenda)</td>
                </tr>
                </tbody>
            </table>
        }
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.account.validation.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.trainingcourse.js")" type="text/javascript"></script>
