﻿@using Medianet.Web.Models;
@using Medianet.Web.MedianetListService;
@model TrainingCourseRegisterModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="row register">
    <div id="content" class="span8">
        <div class="intro">
            <h1>@Model.CourseTitle</h1>
            <br/>
            <p>@Html.Raw(Model.CourseSummary)</p>
            <br/>
        </div>

        <table class="panel">
            <thead class="panel-heading trainingCourse-heading">
            <tr>
                <th style="width: 5%"></th>
                <th style="width: 25%">Register</th>
                <th style="width: 10%">
                    <img src="../../Content/img/chevron-right.png"/>
                </th>
                <th style="width: 25%">Payment</th>
                <th style="width: 10%">
                    <img src="../../Content/img/chevron-right.png"/>
                </th>
                <th style="width: 20%" class="active">Confirmation</th>
            </tr>
            </thead>
        </table>

        <section class="panel trainingCourse">
            @if (string.IsNullOrWhiteSpace(Model.Error))
            {
                if (Model.PaymentMethod == TrainingCourseRegisterModel.PaymentMethod_Creditcard)
                {
                    <h4>Confirmed: Your registration has been successful</h4>
                    <br/>
                    <p>Shortly you will receive a confirmation email from us regarding
                        course information and what to bring with you on the day. You will be
                        required to respond with any dietary requirements for catering purposes.
                    </p>
                    <p>Please read the email and contact us if you have any questions.</p>
                    <p>We look forward to seeing you there!</p>
                    <p><a href="@Url.Action("Register", "TrainingCourse", new RouteValueDictionary(new { courseId=Model.CourseId, scheduleId = Model.ScheduleId }))">Click here to register another attendee</a></p>
                    <p><a href="https://www.medianet.com.au">Go to Medianet Home</a></p>
                }
                else
                {
                    <h4>Confirmed: Your registration has been successful</h4>
                    <br/>
                    <p>You will receive an email from our accounts department with your invoice to be paid.
                        Please ensure you have paid your invoice before the course.
                    </p>
                    <p>You will also receive a confirmation email regarding course information and what to bring with you on the day.
                        You will be required to respond with any dietary requirements for catering purposes.
                    </p>
                    <p>Should you have any information, please do not hesitate to contact us.</p>
                    <p>We look forward to seeing you there!</p>
                    <p><a href="@Url.Action("Register", "TrainingCourse", new RouteValueDictionary(new { courseId=Model.CourseId, scheduleId = Model.ScheduleId }))">Click here to register another attendee</a></p>
                    <p><a href="https://www.medianet.com.au">Go to Medianet Home</a></p>
                }
            }
            else
            {
                <h4>Something went wrong</h4>
                <p>Please try again. If you continue to experience an error, please contact our customer service team on 1300 616 813.</p>
            }
        </section>
    </div>

    <div id="sidebar" class="span4">
        <table class="panel table-condensed">
            <thead class="panel-heading">
            <tr>
                <th>Course Details</th>
            </tr>
            </thead>
            <tbody class="panel-body">
            <tr>
                <td>
                    <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>@(Model.ScheduleDate.ToString("dddd ") + Model.ScheduleDate.Day.ToOrdinal() + Model.ScheduleDate.ToString(" MMMM, yyyy"))</dd>
                        <dt>Time:</dt>
                        <dd>@(Model.ScheduleTime)</dd>
                        <dt>Cost:</dt>
                        <dd>@((Model.CoursePrice % 1 > 0) ? Model.CoursePrice.ToString("C") : Model.CoursePrice.ToString("C0")) exc. GST <span id="promoCodeApplied" class="@(string.IsNullOrEmpty(Model.PromoCode) ? "hidden" : "")">(Promo code applied)</span></dd>
                    </dl>
                    <strong>Seats Remaining:</strong>&nbsp;@(Model.SeatsRemaining)
                </td>
            </tr>
            <tr>
                <td><strong>Location:</strong><br/>
                    @Html.Raw(Model.ScheduleAddress)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Telephone:</strong>&nbsp;02 9322 8140<br/>
                    <strong>Email:</strong>&nbsp;<a href="mailto:mediatraining@aap.com.au">mediatraining@aap.com.au</a>
                    <br/><br/>
                </td>
            </tr>
            </tbody>
        </table>

        @if (Model.CourseTopics != null && Model.CourseTopics.Count > 0)
        {
            <br />
            <br />

            <table class="panel">
                <thead class="panel-heading">
                    <tr>
                        <th>Outcomes</th>
                    </tr>
                </thead>
                <tbody class="panel-body">
                    @foreach (var t in Model.CourseTopics)
                    {
                        <tr>
                            <td><i class="fa fa-check"></i>@t</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<iframe src="@(Model.ScheduleFormHandler)?CourseName=@(HttpUtility.UrlEncode(Model.CourseTitle))&CourseDate=@(HttpUtility.UrlEncode(Model.ScheduleDate.ToString("yyyyMMdd")))&CourseLocation=@(HttpUtility.UrlEncode(Model.ScheduleLocation))&FirstName=@(HttpUtility.UrlEncode(Model.FirstName))&Lastname=@(HttpUtility.UrlEncode(Model.Lastname))&Company=@(HttpUtility.UrlEncode(Model.Company))&Position=@(HttpUtility.UrlEncode(Model.Position))&Email=@(HttpUtility.UrlEncode(Model.Email))&Phone=@(HttpUtility.UrlEncode(Model.Phone))" width="1" height="1"></iframe>

<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>