﻿@using Medianet.Web.Models;
@model BaseModel
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
<div class="row">
    <div id="content">
        <div class="span12">
            <div class="intro">
                <h1>Multimedia News Release</h1>
            </div>
            <p>
                A Multimedia News Release (MNR) is a web based press release that hosts your video, audio, images, related documents and branding alongside your text release. It's a microsite for your release. Journalists love images, videos and additional resources that provide multiple angles and add depth to a story. Having an accessible MNR packed with all the information journalists need increases the chance of your story being picked up. <a href="https://www.medianet.com.au/products/buildpress-release-distribution/#mnr" target="_blank">Click here to find out more</a>.
            </p>
            <br/>
            <p style="font-size: 14px;">
                <strong>How to get started on building your MNR</strong>
            </p>
            <p>Every MNR is personalised to your branding and multimedia assets. To ensure we create the most suitable design for your release, please fill in the form below to notify your dedicated Account Manager who will then give you a call to get you started. If you can't wait, you can call us on 1300 616 813.</p>
            <br/>
            <p style="font-size: 14px;">
                <strong>Here is a live example of a Multimedia News Release</strong>
            </p>
            <p>
                Click the image to go to the live site and view the complete <a href="http://news.medianet.com.au/destination-nsw/15-million-summer-visitors-sydney" target="_blank">MNR</a>.
            </p>
        </div>
        <div class="span8">
            <a href="http://news.medianet.com.au/destination-nsw/15-million-summer-visitors-sydney" target="_blank">
                <img src="/Content/img/MNR-sample.png" /></a>
            <br/>
            <br/>
            <br/>
            <strong>If you have any questions or issues, please contact us on 1300 616 813 or via email at <a href="mailto:team@medianet.com.au">team@medianet.com.au</a></strong>
            <br/>
            <br/>
        </div>
        <div id="sidebar" class="span4">
            <!--[if lte IE 8]>
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
                  hbspt.forms.create({
	                portalId: "8140723",
	                formId: "03c87e5f-106b-4303-b8b0-88b5d11a76fb"
                });
            </script>
        </div>
        <div class="span12">
        </div>
    </div>
</div>
