.btn
{
    padding: 9px 12px;
    text-align: left;
}

    .btn i.fa
    {
        padding-right: 6px;
        font-size: 16px;
    }

.btn-primary
{
    background-color: rgb(25,168,157);
    border-color: rgb(25,168,157);
}

    .btn-primary:hover, .open > .dropdown-toggle.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active
    {
        background-color: rgb(0,143,132);
        border-color: rgb(0,143,132);
        color: rgb(255,255,255);
    }

.btn-block
{
    margin: 10px 0;
}

.panel-body .btn-block:first-child
{
    margin-top: 0;
}

.label
{
    font-size: 100%;
    padding: 0.1em 0.5em 0.1em;
}

.panel-default
{
    border-color: rgba(255,255,255,0);
    border-size: 0;
}

    .panel-default .panel-heading
    {
        background: rgb(255,255,255);
        color: rgb(119,119,119);
        font-size: 18px;
        font-weight: 600;
        border-color: rgb(255,255,255);
        padding: 15px 15px;
    }

        .panel-default .panel-heading i.fa
        {
            padding-right: 7px;
            font-size: 16px;
            line-height: 14px;
        }

    .panel-default .panel-body,
    .panel-default .list-group-alt,
    .panel-default .list-group-alt li
    {
        background: rgb(242,240,241);
    }

.panel ul.list-group
{
    border-top: 1px solid rgb(221, 221, 221);
}

.panel .list-group li
{
    padding: 10px 0;
    margin: 0 15px -1px;
}

.badge
{
    border-radius: 5px;
    padding: 5px 5px;
    font-weight: 400;
}

.btn-md
{
    padding: 6px 10px;
}

.btn-sm
{
    padding: 2px 10px;
}

.btn-default
{
    background-color: rgb(119,119,119);
    border-color: rgb(119,119,119);
    color: rgb(255,255,255);
}

.label-default
{
    background-color: rgb(75,68,60);
    border-color: rgb(75,68,60);
}

.label-danger
{
    background-color: rgb(191,41,50);
}

.semi-bold
{
    font-weight: 600;
}