body
{
    background: rgb(255,255,255);
    font-family: 'Open Sans', sans-serif;
}
/* Header & Top Navigation */

.navbar-medianet
{
    min-height: 80px;
    width: 100% !important;
    position: relative;
    z-index: 999;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgb(241,241,241)\9;
    margin-bottom: 0;
    background-color: rgb(255,255,255);
    -moz-box-shadow: 0 1px 7px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.2);
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
}

    .navbar-medianet .navbar-toggle .icon-bar
    {
        background-color: rgb(136, 136, 136);
    }

    .navbar-medianet .navbar-toggle
    {
        border-color: rgb(221, 221, 221);
    }

    .navbar-medianet .navbar-right .btn-md
    {
        margin: 22px 22px 22px 0;
        padding: 6px 10px;
        font-size: 14px;
        color: rgb(255,255,255);
    }

        .navbar-medianet .navbar-right .btn-md:hover
        {
            background: rgb(241,241,241);
            color: rgb(119,119,119);
        }

    .navbar-medianet .navbar-brand
    {
        padding: 19px 17px 60px;
        text-align: center;
    }

        .navbar-medianet .navbar-brand img
        {
            width: 100%;
            height: auto;
            margin: auto 0;
        }

.navbar-nav
{
    padding-left: 7%;
}

    .navbar-nav > li > a
    {
        font-size: 16px;
        color: rgb(52,55,67);
        padding: 29px 15px 30px;
    }

    .navbar-nav.navbar-right
    {
        padding-left: 0;
    }

/* Sidebar*/

.sidebar
{
    border-right: 1px solid rgb(241,241,241);
    padding-left: 0;
    padding-right: 0;
}

.nav .title
{
    text-align: center;
    padding: 15px 0;
    background-color: rgb(119,119,119);
    color: rgb(255,255,255);
    line-height: 45px;
}

    .nav .title span.fa-stack
    {
        display: block;
        text-align: center;
        width: 100%;
    }

    .nav .title .fa-stack-1x
    {
        font-size: 22px;
        top: 9px;
        left: 1px;
    }

    .nav .title .fa-stack-2x
    {
        font-size: 52px;
    }

    .nav .title .fa-life-ring
    {
        font-size: 43px;
    }

    .nav .title.current
    {
        padding: 0;
    }

        .nav .title.current a, .nav .title.current a:hover
        {
            background: rgb(241,241,241);
            color: rgb(119,119,119);
            padding: 43px 0 5px;
            line-height: 75px;
        }

.sidebar .nav a
{
    background: rgb(119,119,119);
    color: rgb(255,255,255);
    font-size: 14px;
    border-bottom: 1px solid rgb(255,255,255);
    padding: 22px 15px 18px;
}

    .sidebar .nav a:hover, .sidebar .nav a:active, .sidebar .nav a:focus
    {
        background: rgb(110,110,110);
    }

.sidebar .fa.pull-right
{
    padding-right: 5px;
    font-size: 16px;
}

.sidebar .nav.sub-nav a
{
    background: rgb(241,241,241);
    color: rgb(120,120,120);
    padding: 15px;
}

    .sidebar .nav.sub-nav a:hover
    {
        background: rgb(235,235,235);
    }

    .sidebar .nav.sub-nav a i.fa
    {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        line-height: 20px;
    }

.sidebar .nav-secondary
{
    background-image: url(../img/nav-shadow.png);
    background-position: 0 0;
    background-repeat: repeat-x;
}
.sidebar .nav-secondary .badge
    {
        position: absolute;
        top: 20px;
        right: 20px;
        margin-top: -10px;
    }
/*.sidebar ul.nav-secondary li:nth-of-type(1n+7)
{
    display: none;
}*/

.sidebar .nav-secondary li
{
    border-bottom: 1px solid rgb(232,232,232);
}

.sidebar .nav-secondary a
{
    background-color: rgb(255,255,255);
    color: rgb(119,119,119);
    padding-right: 65px;
}

    .sidebar .nav-secondary a:hover, 
    .sidebar .nav-secondary a:active, 
    .sidebar .nav-secondary a:focus
    {
        background: rgb(241,241,241);
    }

    .sidebar .nav-secondary .sub-nav a {
        padding-right: 15px;
    }
    .sidebar .nav-secondary .sub-nav a i.fa
    {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        line-height: 20px;
    }

    .sidebar .nav-secondary a .name
    {
        display: inline-block;
        padding-right: 48px;
    }

    .sidebar .nav-secondary a .date
    {
        font-size: 12px;
        color: rgb(25,168,157);
    }
    .sidebar .nav .title
    {
        padding: 9px 0px 0px;
    }
    .sidebar .nav .title.current
    {
        padding: 0;
    }


.nav-training .badge
{
    background-color: rgb(25,168,157);
}

.nav-contact form
{
    padding-left: 15px;
    padding-right: 15px;
}

    .nav-contact form button
    {
        font-size: 13px;
    }

.nav-contact p
{
    padding: 22px 15px 18px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}

    .nav-contact p .fa
    {
        font-size: 22px;
        display: block;
        float: left;
        margin-right: 20px;
        color: rgb(75,68,60);
    }

    .nav-contact p .fa-user
    {
        margin-top: 10px;
    }

.nav-contact img.img-circle
{
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}
@media (min-width: 992px) {
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
}
@media (max-width: 1060px)
{
    .navbar-nav > li > a
    {
        font-size: 90%;
        padding: 24px 7px 25px;
    }

    .navbar-medianet .navbar-right .btn-md
    {
        padding-left: 5px;
        padding-right: 5px;
        margin: 18px 5px 13px;
        font-size: 90%;
    }

    .navbar-medianet
    {
        min-height: 0;
    }

        .navbar-medianet .navbar-brand
        {
            padding: 14px 17px 55px;
        }
}

@media (max-width: 850px)
{
    .navbar-nav > li > a
    {
        font-size: 84%;
        padding-left: 6px;
        padding-right: 6px;
    }
}

.main
{
    background: url('../img/section-one-bg.jpg') no-repeat 0 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Statistics */

.stats-dashBoard
{
    padding: 34px 7%;
    text-align: center;
    position: relative;
    color: rgb(255,255,255);
    border-bottom: 1px solid rgb(241,241,241);
}

    .stats-dashBoard .count
    {
        font-size: 55px;
        font-weight: 600;
        text-shadow: 1px 1px 3px #333;
    }

        .stats-dashBoard .count .percentage
        {
            display: inline-block;
            width: 28px;
            vertical-align: middle;
            font-size: 28px;
            line-height: 28px;
        }

    .stats-dashBoard .description
    {
        font-size: 14px;
        line-height: 10px;
    }

    .stats-dashBoard > div:last-child
    {
        padding-top: 25px;
    }

    .stats-dashBoard .welcomeMessage
    {
        font-size: 15px;
        line-height: 25px;
    }

        .stats-dashBoard .welcomeMessage strong
        {
            font-size: 16px;
            font-weight: 700;
        }

    .stats-dashBoard .welcomeLastLoggin
    {
        font-size: 13px;
    }

.section-1, .section-2, .section-3
{
    padding: 30px 10%;
}

.section-2
{
    padding: 21px 10% 22px;
    background-color: rgb(255,255,255);
}

.section-2-middle
{
    margin-top: 20px;
    font-size: 16px;
    color: rgb(119,119,119);
}

.section-3
{
    background: url('../img/section-three-bg.jpg') no-repeat 0 0 scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 9%;
}

    .section-1 iframe,
    .section-3 iframe
    {
        width: 100%;
        height: 300px;
        border: none;
        background: rgba(255,255,255,0);
    }

    .section-3 iframe
    {
        height: 3100px;
    }



@media (max-width: 768px)
{
    .section-2
    {
        padding-left: 5%;
        padding-right: 5%;
    }

        .section-2 div
        {
            text-align: center;
        }

    .section-3
    {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-medianet .navbar-brand
    {
        padding: 10px 17px 50px;
    }

    .navbar-nav > li > a
    {
        padding: 10px 5px;
        border-bottom: 1px solid rgb(232, 232, 232);
    }

    .navbar-nav:first-child
    {
        border-top: 1px solid rgb(232, 232, 232);
    }
}

.panel
{
    box-shadow: 0px 2px 5px 0px #333;
    -moz-box-shadow: 0px 2px 5px 0px #333;
    -webkit-box-shadow: 0px 2px 5px 0px #333;
}

.panel-heading .btn
{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.666666667em;
}

    .panel-heading .btn i.fa
    {
        font-size: 1em;
    }

.panel-body .btn-block
{
    margin: 12px 0;
}

.panel-body.slim .btn-block
{
    margin:6px 0;
    padding: 6px 12px;
}

.panel.panel-trends
{
    border: none;
}

.panel .panel-trends-top
{
    background-color: rgb(25,168,157);
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: rgb(255,255,255);
    padding-top: 20px;
}


    .panel .panel-trends-top .summary
    {
        margin-top: 0;
        padding-top: 0;
        font-size: 12px;
        line-height: 5px;
    }

    .panel .panel-trends-top .percentage
    {
        font-size: 52px;
        line-height: 52px;
        color: rgb(255,255,255);
        font-weight: 700;
        margin-bottom: 0;
    }

        .panel .panel-trends-top .percentage span
        {
            display: inline-block;
            width: 28px;
            vertical-align: middle;
            font-size: 24px;
            line-height: 10px;
        }

    .panel .panel-trends-top p.avg-small
    {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: rgb(75,68,60);
    }

    .panel .panel-trends-top p.avg-large
    {
        font-weight: bold;
        font-size: 26px;
        line-height: 26px;
        padding: 23px 0;
        color: rgb(75,68,60);
    }


.panel .panel-trends-bottom, .panel .panel-body-alt
{
    background-color: rgb(255,255,255);
    color: rgb(119,119,119);
}

.panel .panel-trends-bottom
{
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

    .panel .panel-trends-bottom strong
    {
        color: rgb(75,68,60);
        font-size: larger;
    }

.panel-top-lists .list-group
{
    min-height: 242px;
}

.panel-top-value
{
    border: none;
}

    .panel-top-value .panel-body
    {
        background-color: rgb(75,68,60);
        color: rgb(255,255,255);
        position: relative;
        padding: 12px 15px;
    }

        .panel-top-value .panel-body:last-of-type
        {
            border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
        }

    .panel-top-value .panel-body-alt
    {
        background-color: rgb(255,255,255);
        color: rgb(119,119,119);
    }

    .panel-top-value .panel-body .package-name
    {
        width: 75%;
    }

    .panel-top-value .panel-body .package-price
    {
        font-size: 30px;
        line-height: 28px;
        font-weight: 600;
        text-align: center;
        width: 25%;
    }

    .panel-top-value .panel-body .dollar
    {
        vertical-align: top;
        font-size: 20px;
    }

.panel-events .list-group-item
{
    height: 58px;
    line-height: 1.5em;
    overflow: hidden;
}

.panel .list-group .label
{
    margin-right: 5px;
}

.panel-events .list-group-item .upcoming-events-date-bg {
    background-color: rgb(25, 168, 157) !important;
}

.btn-block-6
{
    width: 45%;
    margin: 0 2.5%;
    float: left;
    text-align: center;
}

#lastReport {
    height: 237px;
}

.btn-block-center {
    text-align: center;
}

#reportButtons .topPadding {
    margin-top: 52px;
}

#reportHeadline {
    height: 120px;
    font-weight: 900;
}


/* --- customised tooltip --- */
.grey-tooltip + .tooltip > .tooltip-inner
{
    background-color: rgb(75,68,60);
}

.grey-tooltip + .tooltip.top > .tooltip-arrow
{
    border-top-color: rgb(75,68,60);
}
/* --- ellipsis --- */
.ellipsis
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --- FOOTER --- */
footer
{
    clear: both;
}

    footer .container
    {
        padding: 25px 0;
        margin-top: -1px;
        /*border-top: 1px solid rgb(232,232,232);*/
    }

    footer li
    {
        list-style-type: none;
        padding: 10px 0;
    }

    footer a
    {
        color: rgb(153, 153, 153);
    }

        footer a:hover
        {
            color: rgb(153, 153, 153);
        }

/* Modals */
.ackMessage .modal-backdrop.in
{
    opacity: .75;
    filter: alpha(opacity=75);
}

.ackMessage, .ackMessage a, .ackMessage a:hover
{
    color: white;
}

    .ackMessage .btn
    {
        border: 1px solid #fff;
    }

    .ackMessage a
    {
        text-decoration: underline;
    }

.pt-5 {
    padding-top:5px !important;
}