﻿@using Medianet.Web.Models;
@model EmailListModel
<div class="info break-bottom">
    <h4>Add, edit or delete existing recipients from the list you have selected above.</h4>
</div>
<div class="row">
    <div class="span4">
        <div class="control-group">
            <label>Edit Recipients</label>
            @Html.ListBoxFor(model => model.SelectedListRecipient, Model.ListRecipients, new { @class = "input-xlarge", style = "height:200px;width:90%", multiple = "false", onchange = "editRecipient();" })
        </div>
    </div>
    <div class="span4" id="form">
        @using (Ajax.BeginForm("UpdateRecipient",null,new AjaxOptions { Url = "UpdateRecipient", HttpMethod = "Post", UpdateTargetId = "edition", OnSuccess = "$.validator.unobtrusive.parse('form0')" }, new { @class="form-horizontal" } ) )
        {
            <b>@Model.Error</b><br/>
            Html.EnableClientValidation(true);
            @Html.HiddenFor(model => model.RecipientId)
            @Html.HiddenFor(model => model.ListId)
            <div class="control-group">
                <label class="control-label" for="eMailAddress">Email Address:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.eMailAddress, new { placeholder = "someone@dot.com" })
                    @Html.ValidationMessageFor(model => model.eMailAddress)
                </div>
            </div>            
            <div class="control-group">
                <label class="control-label" for="inputReferenceID">Reference ID:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.ReferenceId, new { placeholder = "1234567890" })
                    @Html.ValidationMessageFor(model => model.ReferenceId)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputCompany">Company:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Company, new { placeholder = "Company" })
                    @Html.ValidationMessageFor(model => model.Company)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inpuCompanyJobTitle">Company Job Title:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.CompanyJobTitle, new { placeholder = "Company Job Title" })
                    @Html.ValidationMessageFor(model => model.CompanyJobTitle)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFirstName">First name:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.FirstName, new { placeholder = "Pre-filled" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputMiddleName">Middle name:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.MiddleName, new { placeholder = "Middle Name" })
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputLastName">Last name:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPhone">Phone:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Phone, new { placeholder = "Pre-filled" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAddressLine1">Address Line 1:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.AddressLine1, new { placeholder = "Address" })
                    @Html.ValidationMessageFor(model => model.AddressLine1)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAddressLine2">Address Line 2:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.AddressLine2, new { placeholder = "Address" })
                </div>
            </div>
            <div class="actions">
                <a href="#" class="btn btn-large" id="addRecipient" onclick="AddRecipient();return false;"><i class="icon-plus-sign"></i> Add</a>
                <a href="#" class="btn btn-large" id="UpdateRecipient" onclick="updateRecipient();return false;"><i class="icon-refresh"></i> Update</a>
                <a href="#" class="btn btn-large" id="deleteRecipient" onclick="deleteRecipient();return false;"><i class="icon-trash"></i> Delete</a>
                <a href="#" class="btn btn-large" id="resetRecipient"onclick="cancelEditList();return false;"><i class="icon-minus-sign"></i> Reset</a>
            </div>
        }
    </div>
</div>