﻿<table class="panel panel-register-1">
    <thead class="panel-heading">
        <tr>
            <th>All press releases distributed with Medianet ...</th>
        </tr>
    </thead>
    <tbody class="panel-body">
        <tr>
            <td><i class="fa fa-check"></i> Are available on your Medianet portal post distribution to view release reporting allowing you to see which media outlets are interacting with your release.</td>
        </tr>         
        <tr>
            <td><i class="fa fa-check"></i> Are distributed on Medianet for Journalists, an exclusive journalist portal to increase your chance of pickup.</td>
        </tr>         
        <tr>
            <td><i class="fa fa-check"></i> Are distributed on Medianet’s News Hub reaching thousands of weekly visitors.</td>
        </tr>
        <tr>
            <td><i class="fa fa-check"></i> Can be shared on Medianet’s Twitter handle followed by influential journalists looking for story opportunities.</td>
        </tr>
    </tbody>
</table>