﻿@model Medianet.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    Html.EnableClientValidation();
}
<div class="row register">
    <div id="content" class="span8">
        <div class="intro">
            <h1>Hi @Model.FirstName</h1>
            <br />
            <p>Thanks for signing up for Medianet’s Press Release Distribution service. Please check your inbox for an email from us and click on the activation link to finalise the setup of your new account.</p>
            <p>If you have any questions please feel free to contact our 24/7 customer service team on 1300 616 813 or <a href="mailto:team@medianet.com.au">team@medianet.com.au</a></p>
            <br />
        </div> 
    </div>
    <div id="sidebar" class="span4">      
        @Html.Partial("_RegisterSide")
    </div>
</div>
    
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.account.validation.js")" type="text/javascript"></script>