﻿@model Medianet.Web.Models.EditDetailModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation();
}
<div class="container">      
    <div id="content">   
        <div class="intro">
            <h1>My Account</h1>
            <p>Review and edit your details below</p>
        </div>     
        <section class="section">
            @using (Html.BeginForm("SubmitEdit", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.UserLogonName)
                @Html.HiddenFor(m => m.AccountType)
                <div class="row">
                    <div class="span6 offset3">
                        @Html.ValidationSummary(true, "The form is invalid. Please see error below.", new { @class = "alert alert-danger" })
                    </div>
                    <div class="span6 offset3">
                        <div class="control-group">
                            <label class="control-label" for="FirstName">First name: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.FirstName, new { maxlength = 100 })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Lastname">Last name: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Lastname, new { maxlength = 100 })
                                @Html.ValidationMessageFor(m => m.Lastname)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Email">Email: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Email, new { maxlength = 100, @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Password">Password:</label>
                            <div class="controls">
                                @Html.PasswordFor(m => m.Password, new { maxlength = 15 })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ConfirmPassword">Repeat password:</label>
                            <div class="controls">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { maxlength = 15 })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Position">Position: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Position, new { maxlength = 50 })
                                @Html.ValidationMessageFor(m => m.Position)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Industry">Industry: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.Industry, Model.Industries, "-- Select the industry--", new { @disabled = "disabled" })
                                @Html.HiddenFor(m => m.Industry)
                                @Html.ValidationMessageFor(m => m.Industry)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Phone">Phone: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Phone, new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Phone)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Address">Address Line 1: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Address, new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Address2">Address Line 2:</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Address2, new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Address2)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="PostCode">Postcode: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.PostCode, new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.PostCode)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="State">State: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.State, Model.States, new { @readonly = "readonly", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.State)
                                @Html.ValidationMessageFor(m => m.State)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Suburb">Suburb: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Suburb, new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Suburb)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ABN">ABN: </label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.ABN, string.IsNullOrEmpty(Model.ABN) ? (object)new { maxlength = 15 } : new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.ABN)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Company">Company: </label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Company, new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Company)
                            </div>
                        </div>
                    </div>
                </div>
                <nav role="navigation" class="actions">
                    <div class="buttons">
                        <input type="submit" class="btn btn-large" value="Update" />
                    </div>
                </nav>
            }
        </section>

  
    </div>  
</div>   
