﻿@model Medianet.Web.Models.LogOnModel
@{
    ViewBag.Title = "Log In";
}
<div id="content" class="login">
    <div class="span5 offset3">
        <div class="intro">
            <h2>Log On</h2>
            <p>
                Please enter your email address and password. @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        </div>

        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

        @Html.ValidationMessage("CustomError")

        @using (Html.BeginForm())
        {  
            <div class="section">
                <fieldset class="form-horizontal">
                    <legend>Account Information</legend>
                    <div class="control-group">
                        <div class="editor-label control-label">
                            @Html.LabelFor(m => m.EmailAddress)
                        </div>
                        <div class="editor-field controls">
                            @Html.TextBoxFor(m => m.EmailAddress)
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="editor-label control-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="editor-field controls">
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="editor-label control-label">
                            <a href="#" onclick="javascript:ForgotPassword();">Forgot password</a>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="buttons">
                            <input type="submit" id="logon" value="Log On" class="btn btn-large" />
                        </div>
                    </div>
                </fieldset>
            </div>    
        }
    </div>
</div>
<script type="text/javascript">

    function ForgotPassword() {
        var params = {
            EmailAddress: $("#EmailAddress").val(),
            Website: "M"
        };

        $.ajax({
            type: "POST",
            url: "/Account/SendForgotPasswordEmail",
            data: params,
            dataType: "jsonp",
            success: function (data) {
                if (data) {
                    if (data.success) {
                        window.alert("Email sent.");
                        return;
                    }
                }

                window.alert("Email not found.");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                window.alert("There was an internal error processing this request. Please try again later.");
            }
        });
    }

</script>
