﻿@model Medianet.Web.Models.RegisterDetailModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    Html.EnableClientValidation();
}

<div class="row register">
    <div id="content" class="span8">
        <div class="intro">
            <h1>You're almost there!</h1>
            <p>Please enter your details to finalise the account set up process and be able to log in to the Medianet Press Release Distribution portal.</p>
            <br />
        </div>
        <header>
            <h3>Complete your details</h3>
            <br />
        </header>
        <section>
            @using (Html.BeginForm("SubmitDetails", "Account", FormMethod.Post, new { @class = "panel pull-left" }))
            {
                <br />
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="control-group span7 hidden">
                    <label class="control-label">
                        Email
                        <abbr title="required">*</abbr>
                    </label>
                    <label class="control-label">@Model.Email</label>
                    @Html.HiddenFor(m => m.Email)
                </div>
                <div class="pull-left">
                    <div class="control-group span3">
                        <label class="control-label" for="FirstName">
                            First name
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.FirstName, new { maxlength = 100 })
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="LastName">
                            Last name
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Lastname, new { maxlength = 100 })
                            @Html.ValidationMessageFor(m => m.Lastname)
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="control-group span3">
                        <label class="control-label" for="Company">
                            Company
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Company, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Company)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="ABN">ABN </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.ABN, (object)new { maxlength = 15 })
                            @Html.ValidationMessageFor(m => m.ABN)
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="control-group span3 ">
                        <label class="control-label" for="Industry">
                            Industry
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.Industry, Model.Industries, " ")
                            @Html.ValidationMessageFor(m => m.Industry)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="Position">
                            Position
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Position, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Position)
                        </div>
                    </div>
                </div>
                <div class="pull-left">                    
                    <div class="control-group span3">
                        <label class="control-label" for="Phone">
                            Contact number
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Phone, new { maxlength = 10 })
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                    </div>

                </div>
                <div class="pull-left">
                    <div class="control-group span3">
                        <label class="control-label" for="Address">
                            Address line 1
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Address, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="Address2">Address line 2</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Address2, new { maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Address2)
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="control-group span3">
                        <label class="control-label" for="Suburb">
                            Suburb
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Suburb, new { maxlength = 30 })
                            @Html.ValidationMessageFor(m => m.Suburb)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="PostCode">
                            Postcode
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.PostCode, new { maxlength = 4 })
                            @Html.ValidationMessageFor(m => m.PostCode)
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="control-group span3">
                        <label class="control-label" for="State">
                            State
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.State, Model.States)
                            @Html.ValidationMessageFor(m => m.State)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="">
                            Country
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.Country, Model.Countries)
                            @Html.ValidationMessageFor(m => m.Country)
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="control-group span3">
                        <label class="control-label" for="Password">
                            Password
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password, new { maxlength = 15 })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="ConfirmPassword">
                            Repeat password
                            <abbr title="required">*</abbr>
                        </label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { maxlength = 15 })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="control-group span7">
                        <div class="controls">
                            <div class="form-inline">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(m => m.AgreeConditions)
                                </label>
                                <span>
                                    I agree to <a href="#terms" role="button" data-toggle="modal">Medianet's Terms &amp; Conditions</a>
                                    @Html.ValidationMessageFor(m => m.AgreeConditions)
                                </span>

                                <div class="modal hide" id="terms" tabindex="-1" role="dialog" aria-labelledby="terms" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#productInfo').hide();">×</button>
                                        <h3 id="myModalLabel">Terms and Conditions</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>i. These terms apply to your use of the services provided by Medianet, a division of Mediality Pty Ltd (ABN 88 006 180 801) (<b>Mediality</b>) of 2 Holt St, Surry Hills, NSW 2010, including without limitation the release service but not including the service known as Medianet Contact Database (<b>Medianet Services</b>). The term “you” or “your” refers to the company or person that subscribes to or uses the Medianet Services, including Permitted Personnel. Your use (if applicable) of Medianet Contact Database is governed by separate terms and conditions.</p>
                                        <h3>Your responsibilities</h3>
                                        <p>ii. You may send to Medianet for distribution, by facsimile or electronically, information to distribution lists selected by you. You must complete the order form, either in print or online completely and accurately.</p>
                                        <p>iii. You may select recipients from distribution lists compiled by you or by Medianet. If you compile your own distribution list, you should be aware that privacy laws or the Spam Act 2003 (Cth) may apply to your list or to the delivery of information to recipients. It is your responsibility to comply with these laws. You agree that when you compile your own distribution list, you will obtain any consent required to be obtained under the Spam Act 2003 (Cth) from the relevant recipient before information is sent. If Medianet compiles a distribution list, Medianet will treat all personal information contained in the list in accordance with Medianet’s Privacy Policy located at <a href="https://www.medianet.com.au/privacy-policy/" target="_blank">https://www.medianet.com.au/privacy-policy/</a> . Medianet will keep your registration details, username(s) and passwords(s) and other information which relates to your use of Medianet Services in accordance with Medianet’s Privacy Policy. You agree that only those of your personnel who have been granted access to the Medianet Services through the receipt of a username and password (<b>Permitted Personnel</b>) may use the Medianet Services. You warrant that your Permitted Personnel have consented to Medianet’s Privacy Policy. You agree to inform Medianet of any changes in your Permitted Personnel. If you fail to access the Medianet website via a username and password within a six (6) month period commencing on the date of last access, Medianet will automatically cancel the relevant username and password and reissue a replacement username and password. You must ensure that all Permitted Personnel have read and agree to comply with these terms.</p>
                                        <p>iv. If your release is a news release, that is text for publication in the news media, it must be designated a “News Release”. You must also supply the information required for efficient processing. The required information is set out in Medianet’s then current product literature.</p>
                                        <p>v. You may post images for general viewing to the Medianet website available at <a href="www.medianet.com.au" target="_blank">www.medianet.com.au</a> (<b>Medianet website</b>). You warrant that images posted by you will not be defamatory, false, misleading or illegal in any way.</p>
                                        <p>vi. You are responsible for the content, accuracy, quality, integrity, legality, reliability, appropriateness and copyright of the materials submitted for release via the Medianet Services, including without limitation, images posted to the Medianet website in accordance with paragraph v. Medianet does not check or review the content of releases distributed via Medianet’s Services. You are also responsible for descriptions and categories which you assign to the material which you transmit via the Medianet Services. Medianet reviews releases submitted for distribution via the Medianet wire service to confirm that they are media releases and for technical and formatting reasons. Mediality and Medianet do not otherwise review or take responsibility for the content of media releases.</p>
                                        <p>vii. You authorise Medianet to reproduce, distribute and communicate the materials you submit, on a commercial or non-commercial basis, to recipients selected by Medianet in its sole discretion, and including at the Medianet website and/or as part of Mediality services other than the Medianet Services, and to permit recipients of your materials to use for internal purposes or commercially re-distribute to other recipients for their use. Medianet reserves the right to receive payment from recipients of distributed or re-distributed materials.</p>
                                        <p>viii. You warrant that the materials you submit will be accurate, free of errors and viruses. You further warrant that the material you submit will not be defamatory, obscene, illegal or infringing and will otherwise comply with the law, regulations and applicable industry codes of practice and that you are able to grant the rights under paragraph (vii).</p>
                                        <p>ix. If you receive any releases as part of Medianet’s services, you may only use them for your personal or internal corporate information only. This means without limitation that you must not redistribute releases which you receive via this service.</p>
                                        <p>x. You may only use information made available to you by Medianet as part of the Medianet Services (including, without limitation, distribution lists and contacts) (<b>Medianet Information</b>) for the purpose of enabling you to use the Medianet Services in accordance with these terms. You must only reproduce information provided by Medianet in relation to the Medianet Services (including, without limitation, pricing information) (<b>Related Information</b>) for your internal business use and agree to keep such information confidential. You must not otherwise copy, transfer, sell or otherwise redistribute or disseminate the Medianet Information and/or the Related Information in any manner (including, without limitation, displaying Medianet Information or Related Information on a website or wireless device) without the express prior written consent of Mediality. You must not store Medianet Information or Related Information in a computer memory, database retrieval system or archive.</p>
                                        <p>xi. If you fail to use the Medianet Services within twelve (12) months of completing your initial order form (<b>Expiry Date</b>), Medianet reserves the right to terminate your account and require you to re-apply and pay to Medianet all applicable fees in accordance with paragraph (xv) below if you want to use the Medianet Services after the Expiry Date.</p>
                                        <h3>Medianet’s responsibilities</h3>
                                        <p>xii. Medianet will use reasonable endeavours to ensure that your materials are distributed according to your request. However, Medianet is not responsible for any errors in transmission. In particular, Medianet does not warrant that any recipients have expressed an interest in receiving your materials or materials of a similar nature or that they will be aware of and view your materials. The number and identity of recipients of Medianet services varies from time to time.</p>
                                        <p>xiii. We will use best efforts to ensure that where we maintain your private distribution lists, we update these lists on request, and confirm changes to you. We will not be responsible for any errors in the lists created by you or by Medianet.</p>
                                        <p>xiv. We may reject text if it does not comply with the spirit of these terms.</p>
                                        <h3>Fees & Payment</h3>
                                        <p>xv. Mediality will invoice you within 7 days of your use of the Medianet Services. You must pay charges set out in the Distribution List and Price Schedule, as updated from time to time, to Mediality within seven days (or the alternate pre-agreed timeframe) from date of invoice statement. If you do not pay Mediality on these terms, we may terminate these terms or decline to transmit further text for you until all arrears are paid. We may also decline to transmit text for you if you exceed any credit limit we set at any time in relation to your account.</p>
                                        <p>xvi. The Charges to be paid to Mediality are quoted net of any goods and services tax (<b>GST</b>). Any GST that is payable on taxable supplies made under these terms will be added to the Charges and payable by you upon receipt of a valid tax invoice under the GST law.</p>
                                        <h3>Intellectual Property Rights</h3>
                                        <p>xvii. You have no right, title or interest in or to the Medianet Service, the Medianet Information or the Related Information except as expressly provided under these terms. You acknowledge that the Medianet Information and the Related Information is valuable proprietary information. Except for material supplied by you, all rights in and to the Medianet Service, the Medianet Information and the Related Information, including all copyrights, belong to Mediality.</p>
                                        <h3>Limitation of Liability</h3>
                                        <p>
                                            xviii. You acknowledge that to the fullest extent permitted by law we will not be liable in any way for the materials transmitted by you, or for failure to transmit, or misdirection or delay in transmission of text, however caused. In particular, Mediality will not be liable for any consequential, indirect or special loss.
                                        </p>
                                        <p>
                                            xix. You agree to indemnify Mediality against any loss, liability or expense arising from or incurred in connection with your use of the Medianet Services. This indemnity continues after these terms end or are terminated. It is not necessary for us to incur expense or make payment before we enforce this right of indemnity.
                                        </p>
                                        <p>
                                            xx. You acknowledge that: (a) to the fullest extent permitted by the law, all express and implied terms, conditions and warranties other than the ones set out in these terms are excluded; and (b) if a law implies warranties into these terms which cannot be excluded, Mediality limits its liability to the fullest extent possible to, at our discretion, no more than either to supply the service again, or pay the cost of having the service supplied again.
                                        </p>
                                        <h3>General</h3>
                                        <p>
                                            xxi. If we intend to stop providing this service to you for any reason other than for your failure to pay charges, we will give you 30 days notice. If you have paid a service subscription, we will refund the balance of any service subscription not used up to the date of termination.
                                        </p>
                                        <p>
                                            xxii. Mediality reserves the right to amend these terms at any time by providing you with notice of such amendment and you agree to be bound by such terms from the date of notification. These terms may not be waived except in writing signed by the party or parties to be bound. Mediality’s rights under these terms are in addition to any other rights provided by law independently of it. If we do not exercise a right at any time, this does not mean that we cannot. If anything in these terms is unenforceable, illegal or void then it is severed and the remainder of the terms remain in force.
                                        </p>
                                        <p>
                                            xxiii. You may not assign these terms without the prior written consent of Mediality.
                                        </p>
                                        <p>
                                            xxiv. These terms are governed by the law of New South Wales and the parties hereby agree to submit to the exclusive jurisdiction of the courts of New South Wales.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary btn-tw btn-tw-green" data-dismiss="modal" aria-hidden="true" onclick="$('#terms').hide();">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <nav role="navigation" class="span7 pull-left text-center">
                        <br />
                        <br />
                        <div class="buttons">
                            <input type="submit" value="Register" class="btn btn-primary btn-tw btn-tw-green" />
                        </div>
                        <br />
                    </nav>
                </div>
            }
        </section>

    </div>

    <div id="sidebar" class="span4">
        <table class="panel panel-register-2">
            <thead class="panel-heading">
                <tr>
                    <th>Added benefits of having a Medianet account</th>
                </tr>
            </thead>
            <tbody class="panel-body">
                <tr>
                    <td><i class="fa fa-check"></i> Free event posting on our events calendar viewed by journalists daily, to further your media exposure for your events.</td>
                </tr>
                <tr>
                    <td><i class="fa fa-check"></i> Free consultation with a dedicated Account Manager to identify how you can get the most value out of this service</td>
                </tr>
                <tr>
                    <td><i class="fa fa-check"></i> Exclusive access to unique products and services only available to Medianet account holders like the Medianet Editor Service.</td>
                </tr>
                <tr>
                    <td><i class="fa fa-check"></i> 24/7 Client Services line to help you with all your Medianet enquiries. Contact us on 1300 616 813</td>
                </tr>

            </tbody>
        </table>

        <br />
        <br />

        <table class="panel panel-register-3">
            <thead class="panel-heading">
                <tr>
                    <th>Are you a Journalist?</th>
                </tr>
            </thead>
            <tbody class="panel-body">
                <tr>
                    <td>You must be looking for the Medianet for Journalists sign up page instead. Medianet for Journalists is our exclusive hub for journalists, editors and publishers looking for story opportunities.
                        <a href="https://www.medianet.com.au/home-page/medianet-for-journalists">Find out more here.</a>
                        <br /><br />
                        <h4><a href="https://www.medianet.com.au/sign-up-to-medianet-for-journalists/">Create your free account here</a></h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.account.validation.js")" type="text/javascript"></script>
