﻿@model Medianet.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    Html.EnableClientValidation();
}

<div class="row register">
    <div id="content" class="span8">
        <div class="intro">
            <h1>Setting up an account with Medianet is free!</h1>
            <br />
            <p>Medianet has the largest distribution network for your press releases and pitches in Australia. With prices starting from $60*, register for your free account and start sending today.</p>
            <p>Need more information? Call one of our consultants on 1300 616 813</p>
            <p>Already have an account with Medianet? <a href="/">Click here</a> to login <small class="pull-right muted">*Ex GST.&nbsp;&nbsp;</small></p>            
            <br /><br />
        </div>
        <section>
                @using (Html.BeginForm("SubmitRegister", "Account", FormMethod.Post, new { @class = "panel pull-left" }))
                {
                    <br />        
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)  
                    <div class="control-group span3">
                        <label class="control-label" for="FirstName">First name <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.FirstName, new { maxlength = 100 })
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <label class="control-label" for="Email">Email <abbr title="required">*</abbr></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new {maxlength = 100})
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="control-group span3 offset1">
                        <div class="g-recaptcha" data-sitekey="@((string)ViewData["ReCaptchaSitekey"])"></div>
                    </div>
                    <nav role="navigation" class="span7 pull-left text-center">
                        <div class="buttons">
                            <input type="submit" class="btn btn-primary btn-tw btn-tw-green" value="Get Started" />
                        </div>
                        <br />
                    </nav>
                }
        </section>
        
    </div>

    <div id="sidebar" class="span4">
        @Html.Partial("_RegisterSide")
    </div>

    <div class="">
            <div class="span12 text-center">
                <br /><br />
                <h3>Frequently Asked Questions</h3>
                <br />
            </div>
        </div>
        <div class="">
            <div class="span4">
                <table class="panel">
                <thead class="panel-heading">
                    <tr>
                        <td><strong>What if I'm a journalist?</strong></td>
                    </tr>
                </thead>
                <tbody class="panel-body">
                    <tr>
                        <td>
                            You must be looking for the Medianet for Journalists sign up page instead. Medianet for Journalists is our exclusive hub for journalists, editors and publishers looking for story opportunities.
                            <a href="https://www.medianet.com.au/home-page/medianet-for-journalists/#mnj1">Find out more here.</a>
                            <br /><br />
                            <h4><a href="https://www.medianet.com.au/sign-up-to-medianet-for-journalists/">Journalists create your free account here</a></h4>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="span4">
                <table class="panel">
                <thead class="panel-heading">
                    <tr>
                        <td><strong>Can I track the results of my release?</strong></td>
                    </tr>
                </thead>
                <tbody class="panel-body">
                    <tr>
                        <td>
                            Release reporting is immediately available after every release distributed through Medianet. We provide you with insights on your open rates, who opened your release and more - available on your distribution portal.
                        </td>
                    </tr> 
                </tbody>
            </table>
            </div>
            <div class="span4">
                <table class="panel">
                <thead class="panel-heading">
                    <tr>
                        <td><strong>What if I need help?</strong></td>
                    </tr>
                </thead>
                <tbody class="panel-body">
                    <tr>
                        <td>
                            In addition to your dedicated Account Manager, we have a Client Services team to help you with all your Medianet enquires. Contact us on 1300 616 813 or <a href="mailto:team@medianet.com.au">team@medianet.com.au</a>.
                        </td>
                    </tr> 
                </tbody>
            </table>
            </div>
        </div>
</div>
    
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.account.validation.js")" type="text/javascript"></script>