﻿@{
    ViewBag.Title = "Saved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="content" class="span7 offset3">  
        <div class="intro">
            <h1>Your account information was successfully saved.</h1>
            <br/>
            <br/>
            <a href="/">HomePage</a>
        </div>
    </div>
</div>