﻿@model Medianet.Web.Models.RegisterDetailModel

@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="row register">
    <div id="content" class="span8 offset2">
        <div class="intro">
            <div class="intro">
                <h1>Congratulations!</h1>
                <h2>You have successfully set up a Medianet press release distribution account.</h2>
                <p>You are now set up to send your press release through Medianet. You will require a credit card to complete your transaction. If you would prefer to set up an invoiced account, click the upgrade button on the next page.</p>
                <p>Please click below to explore the site or send your first release.</p>
                <p class="actions"><a href="/" class="btn btn-primary btn-tw btn-tw-green pull-right">Get started</a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_adWordsScriptRegister")
