﻿@model Medianet.Web.Models.UpgradeModel
@{
    ViewBag.Title = "Upgrade";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation();
}
<div class="container">      
    <div id="content">   
        <div class="intro">
            <h1>Upgrade Account</h1>
        </div>     
        <section class="section">
            @using (Html.BeginForm("SubmitUpgrade", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="span6 offset3">
                        @Html.ValidationSummary(true, "The form is invalid. Please see error below.", new { @class = "alert alert-danger" })
                    </div>
                    <div class="span6 offset3">
                        <div class="control-group">
                            <label class="control-label" for="FirstName">First name: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.FirstName, new { maxlength = 100 })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Lastname">Last name: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Lastname, new { maxlength = 100 })
                                @Html.ValidationMessageFor(m => m.Lastname)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Email">Email: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Email, new { maxlength = 100, @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Industry">Industry:</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.Industry, Model.Industries, "-- Select the industry--")
                                @Html.ValidationMessageFor(m => m.Industry)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPosition">Position:</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Position, new { maxlength = 50 })
                                @Html.ValidationMessageFor(m => m.Position)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Phone">Phone:</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Phone, new { maxlength = 10 })
                                @Html.ValidationMessageFor(m => m.Phone)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="Address">Address Line 1: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Address, new { maxlength = 50 })
                                <a href="#" rel="tooltip" data-placement="top" data-original-title="Please be aware a physical address is required to be eligible for an invoice account." class="help"><b class="hide-text">Help</b></a>
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Address2">Address Line 2:</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Address2, new { maxlength = 50 })
                                @Html.ValidationMessageFor(m => m.Address2)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="PostCode">Postcode: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.PostCode, new { maxlength = 4 })
                                @Html.ValidationMessageFor(m => m.PostCode)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="State">State: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.State, Model.States)
                                @Html.ValidationMessageFor(m => m.State)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Suburb">Suburb: <abbr title="required">*</abbr></label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Suburb, new { maxlength = 30 })
                                @Html.ValidationMessageFor(m => m.Suburb)
                            </div>
                        </div>
                        <div style="display:none">
                            <div class="control-group">
                                <label class="control-label"><h4>Billing Address:</h4></label>
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" onclick="copyAddress();"> As above
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="BillingAddress">Address Line 1: <abbr title="required">*</abbr></label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.BillingAddress, new { maxlength = 50 })
                                    @Html.ValidationMessageFor(m => m.BillingAddress)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="BillingAddress2">Address Line 2:</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.BillingAddress2, new { maxlength = 50 })
                                    @Html.ValidationMessageFor(m => m.BillingAddress2)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="BillingPostCode">Postcode: <abbr title="required">*</abbr></label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.BillingPostCode, new { maxlength = 4 })
                                    @Html.ValidationMessageFor(m => m.BillingPostCode)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="BillingState">State: <abbr title="required">*</abbr></label>
                                <div class="controls">
                                    @Html.DropDownListFor(m => m.BillingState, Model.States)
                                    @Html.ValidationMessageFor(m => m.BillingState)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="BillingSuburb">Suburb: <abbr title="required">*</abbr></label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.BillingSuburb, new { maxlength = 30 })
                                    @Html.ValidationMessageFor(m => m.BillingSuburb)
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="ABN">
                                ABN: @if (string.IsNullOrEmpty(Model.ABN))
                                {<abbr title="required">*</abbr>}
                            </label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.ABN, string.IsNullOrEmpty(Model.ABN) ? (object)new { maxlength = 15 } : new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.ABN)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Company">
                                Company: @if (Model.AccountType == Medianet.Web.MedianetCustomerService.CustomerBillingType.Creditcard)
                                {<abbr title="required">*</abbr>}
                            </label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Company, Model.AccountType == Medianet.Web.MedianetCustomerService.CustomerBillingType.Creditcard ?
                                    (object)new { maxlength = 100 } : new { @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Company)
                            </div>
                        </div>
                    </div>
                </div>
                <nav role="navigation" class="actions">
                    <div class="buttons">
                        <input type="submit" class="btn btn-large" value="Upgrade" />
                    </div>
                </nav>
            }
        </section>
  
    </div>  
</div>   
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>