﻿@model Medianet.Web.Models.RegisterModel
@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="content" class="span7 offset3">          
        <section>       
            @using (Html.BeginForm("Uploadfile", "RegisterModel", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()      
                <div class="control-group">
                    <label class="control-label" for="inputUploadAttachment">Upload attachment:</label>
                    <div class="controls upload">
                        <input type="file" name="file" id="file" />
                        <input type="submit" value="submit" />
                    </div>
                </div>
            }
        </section> 
    </div>
</div>