﻿@using Medianet.Web.Models;
@model SmsModel
@{
    ViewBag.Title = "Finalise";
    Layout = "~/Views/Shared/_LayoutSms.cshtml";
}
<div class="intro">
    <h1>Step 3: Finalise your release</h1>
    <p>Check the content and details of your press release, then please check your cart and price is correct before proceeding.</p>
</div>
<section class="section info">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)
        <h3>Your Release</h3>
        <ul class="list data">
            <li>
                <strong>Headline:</strong>
                <em>@Model.SubjectHeadline</em>
            </li>
            <li>
                <strong>Organisation:</strong>
                <em>@Model.Organisation</em>
            </li>
            @{
                if (!string.IsNullOrWhiteSpace(Model.BillingCode) && !Model.BillingCode.Equals(WireModel.BILLING_CODE_NONE))
                {
                    <li>
                        <strong>Billing Code:</strong>
                        <em>@Model.BillingCode</em>
                    </li>
                }
            }
            <li>
                <strong>Customer Reference:</strong>
                <em>@Model.CustomerRef</em>
            </li>
            <li>
                <strong>Priority</strong>
                <em>@Model.Priority</em>
            </li>
            <li>
                <strong>Send Time:</strong>
                <em>
                    @if (Model.DistributeAsFutureRelease)
                    {
                        <text>@Model.ScheduleDate.Value.ToShortDateString() @Model.ScheduleTimeHour :@Model.ScheduleTimeMinutes (@Model.session.TimeZone.Name)</text>
                    }
                    else
                    {
                        <text>ASAP</text>
                    }
                </em>
            </li>
            <li>
                <strong>SMS released summary:</strong>
                <em>@Model.Text</em>
            </li>
        </ul>
        <div class="links">
            <a href="/sms/prepare" class="btn-group pull-right"><span class="btn btn-primary dropdown-toggle">Edit</span></a>
        </div>
        <nav role="navigation" class="actions">
            <div class="buttons">
                <input type="button" class="btn btn-secondary btn-large" value="Back" onclick="goPrevious();" />
                <input type="submit" class="btn btn-large authorisationRequired" value="Finalise" onclick="return goNext();" />
            </div>
        </nav>
    </form>
</section>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.finalise.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function ()
    {
        @Html.Next(Model)
        @Html.Previous(Model)
    });
</script>