﻿@using Medianet.Web.Models;
@model SmsModel
@{
    ViewBag.Title = "Prepare";
    Layout = "~/Views/Shared/_LayoutSms.cshtml";
}
<div class="intro">
    <h1>Step 1: Set up your content</h1>
    <p>Start preparing your SMS by adding the copy and the details that will accompany your
        SMS.</p>
</div>
<section class="section">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)
        <b>@Html.ValidationSummary(true)</b>
        <div class="control-group">
            <label class="control-label" for="SubjectHeadline">Headline: <span style="color: red;">*</span></label>
            <div class="controls">
                @Html.TextBoxFor(model => model.SubjectHeadline, new { placeholder = "Headline" })
                @Html.ValidationMessageFor(model => model.SubjectHeadline)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Organisation">
                Organisation: <span style="color: red;">
                    *
                </span>
            </label>
            <div class="controls">
                @Html.TextBoxFor(model => model.Organisation, new { placeholder = "Organisation" })
                @Html.ValidationMessageFor(model => model.Organisation)
            </div>
        </div>
        @{
            if (Model.BillingCodeList != null && Model.BillingCodeList.Count > 0)
            {
                <div class="control-group">
                    <label class="control-label" for="BillingCode">Billing Code: <span style="color: red;">*</span></label>
                    <div class="controls">
                        @Html.DropDownListFor(model => model.BillingCode, Model.BillingCodeList, "Select Billing Code")
                        @Html.ValidationMessageFor(model => model.BillingCode)
                        <a href="#" rel="tooltip" data-placement="top" data-original-title="Enter the Billing Code for your press release." class="help"><b class="hide-text">Help</b></a>
                    </div>
                </div>
            }
            else
            {
                // Give it a unique value so validation doesn't fail
                @Html.Hidden("BillingCode", ReleaseModel.BILLING_CODE_NONE)
            }
        }
        <div class="control-group">
            <label class="control-label" for="CustomerRef">Customer Reference:</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.CustomerRef, new { placeholder = "Customer Reference" })
                @Html.ValidationMessageFor(model => model.CustomerRef)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Priority">Priority: <span style="color: red;">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(model => model.Priority, Model.PriorityList, new { @class = "input-small", onchange = "ChangePriority();" })
                <a href="#" rel="tooltip" data-placement="top" data-original-title="Selecting the high priority option ensures that your release is prioritised over other releases being sent out at that time. There is a flat rate charge for this service." class="help"><b class="hide-text">Help</b></a>
                @Html.ValidationMessageFor(model => model.Priority)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Text">
                SMS text: <span style="color: red;">
                    *
                </span><p><span id="counter" class="label"></span></p>
            </label>
            <div class="controls">
                @Html.TextAreaFor(model => model.Text, new { placeholder = "Enter the text you wish to include in your SMS", @class = "span5", rows = 5 })
                <br />
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputScheduling">Send Time:</label>
            <div class="controls">
                <div class="form-inline group" style="margin: 2px;">
                    Release ASAP or hold until specified time?
                </div>
                <label class="checkbox inline-label">
                    @Html.RadioButtonFor(model => model.DistributeAsFutureRelease, false, new { onclick = "UnsetScheduling();", selected = "selected" })
                    <b>ASAP</b>
                </label>
                <label class="checkbox inline-label">
                    @Html.RadioButtonFor(model => model.DistributeAsFutureRelease, true, new { onclick = "setScheduling();" })
                    <b>Hold Until</b>
                </label>
                <div class="form-inline group">
                    <label class="inline-label" for="ScheduleDate">Date:</label>
                    @Html.TextBox("ScheduleDate", Model.ScheduleDateForView(), new { placeholder = "DD/MM/YYYY", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.ScheduleDate)
                </div>
                <div class="form-inline group">
                    <span style="vertical-align: top">
                        <label class="inline-label" for="inputOrganisation">Time <small>(@Model.session.TimeZone.Name)</small>:</label>
                        @Html.DropDownListFor(model => model.ScheduleTimeHour, Model.Hours, new { @class = "input-mini" })
                        :
                        @Html.DropDownListFor(model => model.ScheduleTimeMinutes, Model.Minutes, new { @class = "input-mini" })
                    </span>
                    <div class="control-comment">
                        <b>Note:</b> If you select a hold time, your release will not be distributed or published until the specified time.
                    </div>
                </div>
            </div>
        </div>
        <nav role="navigation" class="actions">
            <div class="buttons">
                <input type="submit" class="btn btn-large" value="Next" onclick="return goNext();" />
            </div>
        </nav>
    </form>
</section>
@section Styles 
{
    <link href="@Url.Content("~/content/jquery-ui.css")" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
}
<script src="@Url.Content("~/Scripts/medianet.sms.prepare.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        @Html.Next(Model)
        @Html.Previous(Model)
        $('#ScheduleDate').datepicker({ dateFormat: "dd/mm/yy" });

        @if (@Model.DistributeAsFutureRelease)
        {
            <text>setScheduling();</text>
        }
        else
        {
            <text>UnsetScheduling();</text>
        }
        limitSmsChars();
    });
</script>
