﻿@using Medianet.Web.Models;
@model BaseModel
@{
    ViewBag.Title = "404.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">        
    <div id="content" class="span8 offset2">
        <section class="static">
            <div class="intro">
                <h1 class="title">Page not found</h1>
            </div> 
            <div class="item module">
                <p>The page you were looking for was not found.</p>
            </div>
        </section>  
    </div>
</div>
