﻿@using Medianet.Web.Models;
@model BaseModel
@{
    ViewBag.Title = "500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">        
    <div id="content" class="span8 offset2">
        <section class="static">
            <div class="intro">
                <h1 class="title">Error</h1>
            </div> 
            <div class="item module">
                <p>This page is not available. Please refresh the page. If there is still an error, please contact our 24 hour Client Services team on 1300 616 813 or team@medianet.com.au</p>
            </div>
        </section>  
    </div>
</div>