﻿@using Medianet.Web.MedianetReleaseService
@model Release

<div id="reportHeadline">
    @if (Model != null)
    {
        @Html.Raw(Model.ReleaseDescription)
    }
    else
    {
        @Html.Raw("No Reports Available")
    }
</div>

<div id="reportButtons">
    @if (Model != null)
    {
        <a href="/Report/View/@Model.Id" class="btn btn-primary btn-block btn-block-center" >View Last Release Reports</a>
    }
    <a href="/Report/Index" class="btn btn-primary btn-block btn-block-center @(Model == null? "topPadding": "")">View All Release Reports</a>
    @*<a href="/Report/Index" class="btn btn-primary btn-block btn-block-center topPadding">View All Release Reports</a>*@
</div>
