﻿@using System.Configuration
@using Medianet.Web.Models;
@model HomeModel

<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-info-circle grey-tooltip" data-toggle="tooltip" data-placement="top" title="Access these handy shortcuts to start sending your release now."></i>Quick Links</div>
    <div class="panel-body slim">
        <a href="/Wire/Prepare" class="btn btn-primary btn-block ellipsis"><i class="fa fa-paper-plane"></i>Send Press Release</a>
        <a href="/Audio/Prepare" class="btn btn-primary btn-block ellipsis"><i class="fa fa-volume-up"></i>Create Audio Release</a>
        <a href="/Multimedia/Index" class="btn btn-primary btn-block ellipsis"><i class="fa fa-video-camera"></i>Create Multimedia Release</a>
        <a href="https://engage.medianet.com.au/en-au/international.distribution" target="_blank" class="btn btn-primary btn-block ellipsis"><i class="fa fa-globe"></i>Send International Release</a>
        <a href="/Report/Index" class="btn btn-primary btn-block ellipsis"><i class="fa fa-ban"></i>Cancel Release</a>
    </div>
</div>
