﻿<div class="panel panel-default panel-events">
    <div class="panel-heading">
        <i class="fa fa-info-circle grey-tooltip" data-toggle="tooltip" data-placement="top" title="View the strength of your release by accessing the Open Rate Report and personalised Medianet Editor's feedback on all press releases distributed by your account."></i>Your Press Release Reports
    </div>
    <div class="panel-body text-center slim" id="lastReport">
        <h4 class="text-center"><i class="fa fa-spinner fa-spin"></i></h4>
    </div>
</div>
