﻿@using System.Configuration
@using Medianet.Web.Models;
@model HomeModel
<ul class="nav">
    @*<li><a href="#">Dashboard<i class="fa fa-th-large"></i></a></li>*@
    <li class="title current">
        <a href="/"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-th-large fa-stack-1x"></i></span>Dashboard</a>
    </li>
    <li><a data-toggle="collapse" href="#collapseRelease" aria-expanded="false" aria-controls="collapseRelease">Send Press Release<i class="fa fa-paper-plane pull-right"></i></a>
        <ul id="collapseRelease" class="nav sub-nav panel-collapse collapse" role="tabpanel" aria-labelledby="collapseRelease" aria-expanded="false">
            <li><a href="/Wire/Prepare"><i class="fa fa-chevron-right"></i>Send Now</a></li>
            <li><a href="/Audio/Prepare"><i class="fa fa-chevron-right"></i>Send Audio Release</a></li>
            <li><a href="/Multimedia/Index"><i class="fa fa-chevron-right"></i>Send Multimedia Release</a></li>
            <li><a href="https://engage.medianet.com.au/en-au/international.distribution" target="_blank"><i class="fa fa-chevron-right"></i>Send International Release</a></li>
            <li><a href="/Report/Index"><i class="fa fa-chevron-right"></i>Cancel Release</a></li>
        </ul>
    </li>
    <li><a data-toggle="collapse" href="#collapseResources" aria-expanded="false" aria-controls="collapseResources">Resources<i class="fa fa-file-text-o pull-right"></i></a>
        <ul id="collapseResources" class="nav sub-nav panel-collapse collapse" role="tabpanel" aria-labelledby="collapseResources" aria-expanded="false">
            <li><a href="@(ConfigurationManager.AppSettings["MedianetPublicSiteURL"])releases.aspx" target="_blank"><i class="fa fa-chevron-right"></i>Medianet News Hub</a></li>
            <li><a href="https://engage.medianet.com.au/hubfs/Assets/Medianet%20Press%20Release%20Template.pdf" target="_blank"><i class="fa fa-chevron-right"></i>Press Release Template</a></li>
            <li><a href="https://engage.medianet.com.au/hubfs/Assets/Content_Calendar_Template_.xlsx"><i class="fa fa-chevron-right"></i>Content Calendar</a></li>
            <li><a href="@(ConfigurationManager.AppSettings["MedianetPublicSiteURL"])knowledge-centre.aspx" target="_blank"><i class="fa fa-chevron-right"></i>Articles</a></li>
            <li><a href="/Report/Index"><i class="fa fa-chevron-right"></i>Usage Reports</a></li>
        </ul>
    </li>
    <li><a data-toggle="collapse" href="#collapseEvents" aria-expanded="true" aria-controls="collapseEvents">Media events<i class="fa fa-calendar pull-right"></i></a>
        <ul id="collapseEvents" class="nav sub-nav panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseEvents" aria-expanded="true">
            <li><a href="/Home/Calendar"><i class="fa fa-chevron-right"></i>Upcoming Events</a></li>
            <li><a href="https://www.medianet.com.au/submit-event" target="_blank"><i class="fa fa-chevron-right"></i>Add Event</a></li>
        </ul>
    </li>
</ul>

<!-- Active in your organisation -->
<ul class="nav nav-secondary">
    <li class="title"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-line-chart fa-stack-1x"></i></span>Active in your organisation</li>
    @{
        var users = Model.Users.OrderByDescending(u => u.RecentLogonCount).ThenBy(u => u.FirstName).ThenBy(u => u.LastName).ToList();
        for (var i = 0; i < users.Count && i < 4; i++)
        {
            <li><a href="javascript:return false;">@string.Format("{0} {1}", users[i].FirstName, users[i].LastName)</a><span class="badge"><strong>@users[i].RecentLogonCount</strong><br />
            Logins</span></li>
        }
        
        if (users.Count > 4)
        {
            <li class="more-users"><a href="javascript:ShowMoreUsers();">more...</a></li>
            for (var i = 4; i < users.Count; i++)
            {
                <li class="hide hidden-users"><a href="javascript:return false;">@string.Format("{0} {1}", users[i].FirstName, users[i].LastName)<span class="badge"><strong>@users[i].RecentLogonCount</strong><br />
                Logins</span></a></li>
            }
            <li class="hide hidden-users"><a href="javascript:HideMoreUsers();">less...</a></li>
        }
    }
</ul>

<!-- Media Training Courses -->
<ul class="nav nav-secondary nav-training">
    <li class="title"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-graduation-cap fa-stack-1x"></i></span>Media Training Courses</li>
    <li class="sub-nav"><a href="http://www.medianet.com.au/events-and-training" target="_blank"><i class="fa fa-chevron-right"></i> View current courses</a></li>
    @if (Model.TrainingItems != null)
    {
        foreach (var t in Model.TrainingItems)
        {
            if (t.Schedules != null)
            {
                var schedules = t.Schedules.Where(s => s.CourseDate > DateTime.Now).OrderBy(s => s.CourseDate);
                foreach (var s in schedules)
                {
                    <li>
                        <a href="@(ConfigurationManager.AppSettings["MedianetPublicSiteURL"])products/media-training.aspx#tabs-4">
                            <span class="name">@t.Name</span><br />
                            <span class="date">@Html.Raw(s.CourseDate.ToString("dd/MM") + " - " + s.Location)</span>
                            <span class="badge">Book</span></a>
                    </li>
                }
            }
        }
    }
</ul>

<!-- Need Help? -->
<ul class="nav nav-secondary nav-contact">
    <li class="title"><span class="fa-stack fa-lg"><i class="fa fa-life-ring fa-stack-2x"></i></span>Need Help?</li>
    <li>
        <p><i class="fa fa-phone"></i>1300 616 813</p>
    </li>

    @if (!string.IsNullOrWhiteSpace(Model.AccountManagerName))
    {
        <li>
            <p>
                <i class="fa fa-user"></i>@Model.AccountManagerName<br />
                Account Manager
            </p>
        </li>
    }
</ul>
