﻿@using Medianet.Web.Models;
@model HomeModel

<div class="panel panel-default panel-top-lists">
    <div class="panel-heading">
        <i class="fa fa-info-circle grey-tooltip" data-toggle="tooltip" data-placement="top" title="Review the top lists that Medianet clients are using to send their press releases. Select  weekly or monthly period filters to see what lists other clients are relying on."></i>Top Lists
                            <div class="btn-group pull-right" id="topListsPeriod">
                                <button type="button" class="btn btn-default btn-dropdown btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Weekly <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a data-div="topListsWeek" class="active">Weekly</a></li>
                                    <li class="divider"></li>
                                    <li><a data-div="topListsMonth">Monthly</a></li>
                                </ul>
                            </div>
    </div>
    <ul class="list-group" id="topListsWeek">
        @for (var i = 0; i < Model.TopListsByWeek.Count; i++)
        {
            <li class="list-group-item ellipsis">
                <label class="label label-default pull-left">@((i + 1).ToString())</label>
                @Model.TopListsByWeek[i].SelectionDescription</li>
        }
    </ul>
    <ul class="list-group hide" id="topListsMonth">
        @for (var i = 0; i < Model.TopListsByMonth.Count; i++)
        {
            <li class="list-group-item ellipsis">
                <label class="label label-default pull-left">@((i + 1).ToString())</label>
                @Model.TopListsByMonth[i].SelectionDescription</li>
        }
    </ul>
</div>
