﻿@using Medianet.Web.Models;
@model HomeModel

<div class="panel panel-default panel-top-value">
    <div class="panel-heading">Top Value Packages</div>
    @if (Model.TopValuePackages != null && Model.TopValuePackages.Count > 0)
    {
        for (var i = 0; i < Model.TopValuePackages.Count; i++)
        {
            <div class="panel-body@(i%2 == 0 ? "" : " panel-body-alt")">

                <span class="package-name pull-left"><i class="fa fa-info-circle grey-tooltip" data-toggle="tooltip" data-placement="top" title="@Model.TopValuePackages[i].Introduction"></i>&nbsp;@Model.TopValuePackages[i].SelectionDescription</span>
                <span class="package-price pull-right"><span class="dollar">$</span>@Model.TopValuePackages[i].Cost.ToString("##,##0")<br />
                    <button class="btn btn-primary btn-sm" onclick=" javascript:addToCart('@(Model.TopValuePackages[i].Id + 10000000)'); ">Add</button></span>
            </div>
        }
    }
    else
    {
        <div class="panel-body panel-body-alt">None selected</div>
    }
</div>
