﻿@using System.Linq
@using Medianet.Web.Models;
@model HomeModel

<div class="panel panel-default panel-events">
    <div class="panel-heading">Upcoming Events</div>
    <ul class="list-group list-group-alt">
        @if (Model.AgendaItems != null)
        {
            foreach (var a in Model.AgendaItems.Take(3))
            {
            <li class="list-group-item">
                <label class="label label-default upcoming-events-date-bg">@a.Date</label>
                @a.Caption</li>
            }
        }
    </ul>
    <div class="panel-body text-center">
        <a href="/Home/Calendar" class="btn btn-primary btn-block-6">See Calendar</a>
        <a href="https://www.medianet.com.au/submit-event" target="_blank" class="btn btn-primary btn-block-6">Add Event</a>
    </div>
</div>
