﻿@using Medianet.Web.Models;
@model HomeModel

<div class="panel panel-default panel-trends">
    <div class="panel-heading"><i class="fa fa-info-circle grey-tooltip" data-toggle="tooltip" data-placement="top" title="Rate the strength of your communication frequency by comparing the number of press releases your organisation has sent to the average number of press releases sent by all clients in the last 90 days."></i>Usage Trends</div>
    <div class="panel-body panel-trends-top">
        <p>
            Your communication frequency is
        </p>
        @if (Model.UsageStatistics.PercentageUpVsOthers < 0)
        {
            <p class="percentage">
                @Html.Raw(Math.Abs(Math.Round(Model.UsageStatistics.PercentageUpVsOthers, 0)).ToString("###,##0"))<span>%<i class="fa @(Model.UsageStatistics.PercentageUpVsOthers >= 0 ? "fa-caret-up" : "fa-caret-down")"></i></span>
            </p>
        }
        <p class="@(Model.UsageStatistics.PercentageUpVsOthers >= 0 ? "avg-large" : "avg-small")">
            @(Model.UsageStatistics.LastMonthTotal > Model.UsageStatistics.AveragePerMonthAll ? "Above Average" : (Model.UsageStatistics.LastMonthTotal == Model.UsageStatistics.AveragePerMonthAll ? "Average" : "Below Average"))
        </p>

        @if (Model.UsageStatistics.DaysSinceLastSent.HasValue)
        {
            <p class="summary">Last send: @Model.UsageStatistics.DaysSinceLastSent.Value.ToString() days ago</p>
        }
    </div>
    <div class="panel-body panel-trends-bottom">
        <p>
            @if (string.IsNullOrWhiteSpace(Model.UsageStatistics.BusiestDayOfWeek))
            {
                <strong>No releases sent</strong>
            }
            else
            {
                <strong>@Model.UsageStatistics.BusiestDayOfWeek.ToUpper()</strong><br />
                @Html.Raw("is your busiest day of the week")
            }
        </p>
    </div>
</div>
