﻿@model Medianet.Web.Models.HomeModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">        
    <div id="content" class="span8 offset2">
        <section class="static">
            <div class="intro">
                <h1 class="title">About Medianet</h1>
            </div> 
            <p>Medianet is Australia’s largest press release distribution network. A division of Australian Associated Press, Medianet Distribution can send your press release to researched media lists via email as well as to the AAP Newswire, the primary news feed into Australian and international media outlets, newsrooms and journalists. 
            <h2 class="title">What Medianet can provide</h2>
            <div class="item module">
                <ul class="bullet-list">
                    <li>Over 1000 specially prepared media lists continuously updated by Medianet’s dedicated research team</li>
                    <li>The only provider that can send press releases via the AAP Newswire, directly to newsrooms and amongst the day’s breaking news</li>
                    <li>Comprehensive multimedia enhanced press releases allow you to include video, audio, images, document hosting and branding</li>
                    <li>Upload and maintain your own contacts within Medianet to combine with Medianet’s lists for the ultimate targeting solution</li>
                    <li>Media planning tools to assist you with scheduling the send date for your release</li>
                </ul>
            </div>
            <h2 class="title">Other communication management services from Medianet</h2>
            <div class="item module">
                <ul class="bullet-list">
                    <li>Medianet Contacts is Australia’s leading database and relationship tool including over 36,000 media records across Australia and New Zealand.  <a href="https://www.medianet.com.au/products/media-contacts-database/#contacts">Read more</a></li>
                    <li>Medianet Analysis is an on demand qualitative media analysis service. <a href="https://www.medianet.com.au/products/media-analysis/">Read more</a></li>
                    <li>Medianet Training provides comprehensive media training for enhancing your press release writing skills, refining your media interview techniques, understanding media essentials and more. <a href="https://www.medianet.com.au/events_training/">Read more</a></li>
                </ul>
            </div>
            <h2 class="title">About AAP</h2>
            <p>Australian Associated Press (AAP) is Australia’s only national news agency. For over 75 years, AAP has been at the heart of Australian and international breaking news.</p>
            <p>From it’s humble origins as a news aggregator to the diversified media solutions provider that it is today, AAP has always been at the forefront of delivering impartial, independent and accurate news and media related services to the Australian market.</p>
            <p>AAP is owned by Australia’s largest media organisations, Fairfax, News Limited, The West Australian and Rural Press. With over 800 employees, AAP also maintains dedicated international bureaux and is partnered with some of the world’s largest news providers, including Associated Press, Agence-France Presse, Deutsche Presse Agenteur and many more.</p> 
            <p>Medianet is an AAP business, giving you unparalleled access to the AAP Newswire which is used by 99% of the Australian media.</p>
        </section>                         
    </div>
</div>