﻿@using Medianet.Web.Models
@model Medianet.Web.Models.HomeModel
@{
    ViewBag.Title = "editorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">   
    <div id="content" class="span8 offset2"> 
        <section class="static">
            <ul class="nav nav-buttons">
                <li class="btn btn-secondary"><a href="/home/editorial">Editorial Diary</a></li>
                <li class="btn btn-secondary active"><a href="/home/calendar">Media Events Calendar</a></li>
            </ul>
            <div class="intro">
                <h1 class="title">Media Events Calendar<span class="btn btn-secondary round-buttons" style="float: right"><a href="https://www.medianet.com.au/submit-event" target="_blank">Add Event</a></span></h1>
            </div>
            <p>The Media Events Calendar is a list of local, state and national events submitted by Medianet Clients. The Media Events Calendar is available across Medianet’s network of websites and subscribers.</p>
            <p>As a Medianet client, you can request your event to be placed on the Media Events Calendar. Please contact your Account Manager or the Client Services team for more information or to have your event included: <a href="mailto:team@medianet.com.au">team@medianet.com.au</a> / 1300 616 813.</p>
            <div class="item module">
                <ul class="bullet-list">
                    @foreach (AgendaItem item in Model.AgendaItems)
                    {
                        <li><a href="@item.Url" target="_blank">@item.Caption</a></li>
                        <text>
                            <p><b>@item.Date</b> - @item.Location <br /> @Html.Raw(HttpUtility.HtmlDecode(@item.Details))</p></text>
                    }
                </ul>
            </div>
        </section> 
    </div>
</div> 