﻿@model Medianet.Web.Models.ContactModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">        
    <div id="content" class="span8 offset2">                    
        <section class="static">
            <div class="intro">
            <h1 class="title">Contact Medianet Customer Service</h1>
        </div>
        <div class="item module">
            <ul class="bullet-list">
                <li>Phone:1300 616 813</li>
                <li>Outside of Australia: +61 2 9322 8686</li>
                <li><a href="mailto:team@medianet.com.au">Email: team@medianet.com.au</a></li>
            </ul>
        </div>
        <p>For enquires, please use the form below to contact Medianet and we will be in contact with you shortly.</p>          
        <div class="section">
            @using (Html.BeginForm("send", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)        
                <div class="control-group">
                    <div class="editor-label control-label">
                        <label for="Name">First name: <span style="color:red;">*</span></label>
                    </div>
                    <div class="editor-field controls">
                        @Html.TextBoxFor(m => m.Name, new { maxlength = 100 })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="control-group">
                    <div class="editor-label control-label">
                        <label for="Name">Last name: <span style="color:red;">*</span></label>
                    </div>
                    <div class="editor-field controls">
                        @Html.TextBoxFor(m => m.LastName, new { maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>        
                <div class="control-group">
                    <div class="editor-label control-label">
                        <label for="Name">Company: <span style="color:red;">*</span></label>
                    </div>
                    <div class="editor-field controls">
                        @Html.TextBoxFor(m => m.Company, new { maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.Company)
                    </div>
                </div>                                          
                <div class="control-group">
                    <div class="editor-label control-label">
                    <label for="Name">Email: <span style="color:red;">*</span></label>
                    </div>
                    <div class="editor-field controls">
                        @Html.TextBoxFor(m => m.eMail, new { maxlength = 100 })
                        @Html.ValidationMessageFor(m => m.eMail)
                    </div>
                </div>
                <div class="control-group">
                    <div class="editor-label control-label">
                    <label for="Name">Phone number: <span style="color:red;">*</span></label>
                    </div>
                    <div class="editor-field controls">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { maxlength = 100 })
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="message">Your query: <span style="color:red;">*</span></label>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.Message, new { rows = 8, @class = "span5", placeholder = "Enter your message here..." })
                        @Html.ValidationMessageFor(m => m.Message)
                    </div>
                </div>            
                <div class="actions">
                    <div class="buttons">
                        <input type="submit" value="Send" class="btn btn-large">
                    </div>
                </div>
            }
        </div>
        </section> 
    </div>
</div>