﻿@model Medianet.Web.Models.ContactModel
@{
    ViewBag.Title = "Contacted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">        
    <div id="content" class="span8 offset2">                    
        <section class="static">
            <div class="intro">
                <h1 class="title">Contact Medianet</h1>
            </div>
            <p>Thank you, a Medianet representative will be in contact shortly.</p>
        </section> 
    </div>
</div>