﻿@model Medianet.Web.Models.HomeModel
@{
    ViewBag.Title = "database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">        
    <div id="content" class="span8 offset2">                             
        <section class="static">
            <div class="intro">
                <h1 class="title">Media Media Contacts Database</h1>
            </div>
            <p>Medianet Contacts is an online Australian & New Zealand media contacts database. Updated by a dedicated media research team, Medianet Contacts can provide access to over 36,000 journalists and media outlets across the region.</p> 
	        <h2 class="title">Media Record Details</h2>
	        <p>Each record (where available) can show:</p>
            <div class="item module">
                <ul class="bullet-list">
                <li>Job titles, positions and affiliated outlets</li> 
                <li>Email, phone and mobile contact details</li>
                <li>Social media accounts</li>
                <li>Preferred press release delivery methods</li>
                <li>Recent text articles</li>
                </ul>
            </div>
            <p>Medianet Contacts is updated by an in-house media research team that sources thousands of updates a week, ensuring 99% accuracy.</p>          
            <h2 class="title">Additional Functions</h2>
            <p>Medianet Contacts offers a full Media Relationship Management solution, giving you tools for:</p> 
            <div class="item module">
                <ul class="bullet-list">
                <li>Quick search to start broad or advanced search for niche requirements</li>
                <li>Save your searches to use on demand</li>
                <li>Save customized contact lists</li>
                <li>Create notes and records on individual records</li>
                <li>Use task management to send alerts to team members</li>
                <li>Distribute press releases directly to contacts</li>
                </ul>
            </div>
            <h2 class="title">Benefits</h2>
            <div class="item module">
                <ul class="bullet-list">
                <li>Access your records online, anytime</li>
		        <li>Backed by Medianet’s dedicated research team</li>
		        <li>Comprehensive record information to give you multiple ways to reach out</li>
		        <li>Search functionality built from the ground up to target unique journalists</li>
		        <li>Grow your media relationships with notes and task management</li>
		        <li>Integrated press release distribution to research and connect</li>
                </ul>
            </div>
            <p>For more information visit medianet.com.au/contacts or contact our 24 hour customer service team:<br /><a href="mailto:team@medianet.com.au">team@medianet.com.au</a><br />1300 616 813</p>         
        </section> 
    </div>      
</div>