﻿@using Medianet.Web.Models
@model Medianet.Web.Models.HomeModel
@{
    ViewBag.Title = "editorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">        
    <div id="content" class="span8 offset2">
        <section class="static">
            <ul class="nav nav-buttons">
                <li class="btn-secondary active"><a href="/home/editorial">Editorial Diary</a></li>
                <li class="btn-secondary"><a href="/home/calendar">Media Events Calendar</a></li>
            </ul>
            <div class="intro">
                <h1 class="title">Editorial Diary</h1>
            </div>
            <p>Medianet's Editorial Diary is an events calendar highlighting daily events across the country that journalists can attend.</p>  
            <p>As a Medianet client, you can request your event to be placed on the Editorial Diary. Please note that this is subject to editorial approval. Please contact your Account Manager or the Client Services team for more information: <a href="mailto:team@medianet.com.au">team@medianet.com.au</a> 1300 616 813</p>
             <div class="item module">            
             <p>@Html.Raw(HttpUtility.HtmlDecode(@Model.Diary.DiaryContent))</p>                    
            </div>
        </section>                            
    </div>
</div>