﻿@using System
@using System.Configuration
@using Medianet.Web.MedianetListService
@model Medianet.Web.Models.HomeModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutTW.cshtml";
}
<form class="form-horizontal" id="form">
    @Html.AntiForgeryToken()
</form>
<div class="container">
    <div class="row row-eq-height">
        <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2 main">
            <div class="row stats-dashBoard">
                <div class="col-sm-6 col-md-3 stat">
                    <div class="info"><a href="#"></a></div>
                    <div class="count">@Model.UsageStatistics.LastMonthTotal.ToString("##,###,##0")</div>
                    <div class="description">Press releases this month <i class="fa fa-info-circle grey-tooltip" data-toggle="tooltip" data-placement="top" title="Number of press releases your organisation has sent this month."></i></div>
                </div>
                <div class="col-xs-12 visible-xs-block"><br /></div>
                <div class="col-sm-6 col-md-3 stat">
                    <div class="info"><a href="#"></a></div>
                    <div class="count">@(Math.Abs(Math.Round(Model.UsageStatistics.PercentageUpSinceLastMonth, 0)).ToString("##,###,##0"))<span class="percentage">%<i class="fa @(Model.UsageStatistics.PercentageUpSinceLastMonth >= 0 ? "fa-caret-up" : "fa-caret-down")"></i></span></div>
                    <div class="description">Activity this month <i class="fa fa-info-circle grey-tooltip" data-toggle="tooltip" data-placement="top" title="The difference between your activity this month and your activity last month displayed as a percentage."></i></div>
                </div>
                <div class="col-xs-12 visible-xs-block"><br /></div>
                <div class="col-sm-12 visible-sm-block"><br /></div>
                <div class="col-sm-6 col-md-3 stat">
                    <div class="info"><a href="#"></a></div>
                    <div class="count">@Model.Stats.AustralasiaLastWeek.ToString("##,###,##0")</div>
                    <div class="description">Contact Updates this week <i class="fa fa-info-circle grey-tooltip" data-toggle="tooltip" data-placement="top" title="Number of contact updates made by our dedicated media research team this week."></i></div>
                </div>
                <div class="col-xs-12 visible-xs-block"><br /></div>
                <div class="col-sm-6 col-md-3">
                    <div class="welcomeMessage">
                        @{
                            var hour = TimezoneHelper.AdjustDateTime(DateTime.Now, Model.session.TimeZone.Description).Hour;
                            if (hour < 12)
                            {
                            @Html.Raw("Good Morning,");
                            }
                            else if (hour >= 18)
                            {
                            @Html.Raw("Good Evening,");
                            }
                            else
                            {
                            @Html.Raw("Good Afternoon,");
                            }
                            <br />
                            <strong>
                                @Html.Raw(Model.session.FirstName)
                            </strong>
                        }

                    </div>
                    @if (Model.session.LastLogon.HasValue)
                    {                               
                        <div class="welcomeLastLoggin">Last logged in: @Model.session.LastLogon.Value.ToString("dd/MM/yyyy")</div> }
                </div>
            </div>
            <div class="row section-1">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    @Html.Partial("_quickLinks", Model)
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    @Html.Partial("_usageTrends", Model)
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="clearfix visible-md-block"></div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    @Html.Partial("_reports", Model)
                </div>
                <div class="clearfix visible-lg-block"></div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    @Html.Partial("_topLists", Model)
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    @Html.Partial("_topValuePackages", Model)
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    @Html.Partial("_upcomingEvents", Model)
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar">
            @Html.Partial("_submenuTW")
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/medianet.dashboard.js")" type="text/javascript"></script>
}