﻿@model Medianet.Web.Models.HomeModel
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">        
    <div id="content" class="span8 offset2">
        
          <!-- Start STATIC CONTENT -->                 
          <section class="static">
          <div class="intro">
            <h1 class="title">Terms of Use</h1>
          </div> 
          <ol class="list">
            <li>
              <h4 class="title">Application of the Terms of Use</h4>
              <p>This agreement together with any additional terms, conditions, notices and disclaimers contained elsewhere on the AAP Web Sites form the conditions of supply of content on, use and access to the AAP Web Sites.</p>
              <p>Your use of the AAP Web Sites constitutes your acceptance of these terms.</p>
            </li>
            <li>
              <h4 class="title">The AAP Web Sites</h4>
              <p>The web sites which form the 'AAP Web Sites' are operated by Australian Associated Press Pty Ltd and its related bodies corporate (collectively 'AAP').</p>
            </li>
            <li>
              <h4 class="title">Use of Content included on the AAP Web Sites</h4>
              <p>All information, text and images included on the AAP Web Sites is for personal use only and may not be re-written, copied, re-sold or re-distributed, framed, linked or otherwise used whether for compensation of any kind or not, without the prior written permission of AAP.</p>
            </li>
            <li>
              <h4 class="title">Accuracy of content</h4>
              <p>The AAP Web Sites and content included on them are published for information purposes only without assuming a duty of care. AAP is not in the business of providing professional advice, and gives no warranty, guarantee or other representation about the accuracy of the information or images contained on the AAP Web Sites. AAP is not liable for errors, omissions in, delays or interruptions to or cessation of the AAP Web Sites through negligence or otherwise.</p>
            </li>
            <li>
              <h4 class="title">Limitation of liability</h4>
              <p>To the maximum extent permitted by law, AAP and its third party suppliers exclude all liability to any person for loss or damage of any kind arising from or relating in any way to the content included on the AAP Web Sites and /or any use of the AAP Web Sites. Where any law implies a condition, warranty or guarantee into these terms of use which may not be lawfully excluded, then to the maximum extent permitted by law, AAP’s liability for breach of the warranty, condition or guarantee will at AAP’s option be limited to re-supply of the relevant service or the payment of the cost of having that service resupplied.</p>
            </li>
            <li>
              <h4 class="title">Copyright</h4>
              <p>Unless otherwise stated, AAP reserves all copyright in the content and design of the AAP Web Sites. AAP owns all such copyright or uses it under licence or applicable law.</p>
              <p>You may view the AAP Web Sites and their content using your web browser and make a temporary copy of all or part of the AAP Web Sites for your personal use only.</p>
            </li>
            <li>
              <h4 class="title">Trade marks</h4>
              <p>The AAP Web Sites include registered and unregistered trade marks, including but not limited to the word AAP, the AAP logo, MEDIANET, AUSTRALIAN ASSOCIATED PRESS, AAP NEWSCENTRE, AAP NEWSCLIP, AAP eClips and AAP RACING CENTRE. You may not use any of AAP's trade marks or the names 'Australian Associated Press Pty Ltd' or 'Australian Associated Press' without first obtaining AAP's prior written consent.</p>
            </li>
            <li>
              <h4 class="title">Privacy</h4>
              <p>AAP will collect and use personal information in accordance with AAP’s privacy policy (as subject to Australia’s privacy laws), which is available on the AAP Websites. Read our Privacy Policy <a href="https://www.medianet.com.au/privacy-policy/" target="_blank">here</a>.</p>
            </li>
            <li>
              <h4 class="title">Applicable law</h4>
              <p>These terms of use and all other specific and additional terms which govern your use or access to the AAP Web Sites will be governed and construed in accordance with the laws of the state of New South Wales, Australia.</p>
            </li>
          </ol>
        </section>
        <!-- End STATIC CONTENT --> 
            
      </div>
</div>