﻿@using Medianet.Web.Models
@model Medianet.Web.Models.HomeModel
@{
    ViewBag.Title = "training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">        
    <div id="content" class="span8 offset2">                     
        <section class="static">
            <div class="intro">
                <h1 class="title">Media Training</h1>
            </div>             
            <p>Medianet Training provides you with the skills you need to enhance your communications capabilities. Held by our expert and accredited media trainer, you gain access to professional insights for how to improve your press releases, connect with the media, handling media questions and more.</p>
            <h2 class="title">Courses</h2>
            <div class="item module">
                <ul class="bullet-list">
                    <li>Medianet Media Training courses are scheduled though out the year.</li> 
                    <li>Effective Media Release Writing </li>
                    <li>Media Essentials</li>
                    <li>Please visit <a href="https://www.medianet.com.au/training">www.medianet.com.au/training</a> to see the latest courses.</li>
                </ul>
            </div>
            <p>Medianet’s 1 day courses are held on site, complete with take home workbooks, practical exercises, catering and more.</p>            
            <h2 class="title">Custom Courses</h2>
            <p>Medianet can create a customized media training solution for your needs. We can take elements of our public courses or create a training program for media interview techniques, crisis communications and more.</p> 
            <div class="item module">
                <ul class="bullet-list">
                @foreach (Medianet.Web.Models.TrainingItem trainingItem in Model.TrainingItems)
                { 
                    <li>@trainingItem.Name</li>
                }
                </ul>
            </div>
            <p>If you would like to know more about Media Training, please contact the team at mediatraining@aap.com.au or call +61 2 9322 8140.</p>
        </section>                           
    </div>
</div>