﻿@using Medianet.Web.Models;
@using Medianet.Web.MedianetGeneralService;
@model AudioModel
<table>
    <thead>
        <tr>
            <th>Select</th>
            <th>Recorded</th>
            <th>Name</th>
            <th>Size</th>
            <th>Length</th>
            <th>Play</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @helper Selected(string Name,int Id)
        {
            string NameId = String.Format("{0}|{1}",Name,Id.ToString());
            
            if (Model.SelectedAudioFiles.IndexOf(NameId) != -1)
            {
                <text>checked</text>
            }
        }

        @foreach (InboundFile file in Model.AudioFiles.InboundFiles)
        {
            <text>
                <tr>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" id="@file.Id" onclick="SelectAudioFile(this,@file.Id,'@file.OriginalFilename');" @Selected(@file.OriginalFilename,@file.Id)>
                        </label>
                    </td>
                    <td>@file.CreatedDate</td>
                    <td><a href="#audioFileRename" onclick="javascript:return ShowRenameAudioFile(this)" data-toggle="modal" data-id="@file.Id">@file.OriginalFilename</a></td>
                    <td>@(file.FileSize/1024) kB</td>
                    <td>@(String.Format("{0}:{1}", TimeSpan.FromMilliseconds(file.Length).Minutes.ToString("00"), TimeSpan.FromMilliseconds(file.Length).Seconds.ToString("00")).ToString())</td>
                    <td><a onclick="return play(@file.Id);" class="btn btn-primary" style="cursor:pointer;"><i class="icon-white icon-play"></i></a></td>
                    <td><a href="#audioFileDelete" onclick="javascript:return ShowDeleteAudioFile(this, @file.Id, '@file.OriginalFilename');" data-toggle="modal" style="cursor:pointer;" class="btn btn-remove">delete</a></td>
                </tr>
            </text> 
        }
    </tbody>
</table>
<div class="pagination">
    <ul>
        <li><a style="cursor:pointer;" onclick="prevAudioFiles();return false;">Prev</a></li>   
 
        @{ int Pager = (@Model.PagerIndex * @Medianet.Constants.NopCommerce.Report_Pager_Size) + 1; }

        @for (int index = 1; index <= @Medianet.Constants.NopCommerce.Report_Pager_Size; index++)
        {
            int pageIndex = (@Pager+@index-1);

            if ((index + Pager) < Model.TotalPages)
            {
                if ( pageIndex == Model.PageIndex)
                {
                    <li><a><b>@pageIndex</b></a></li>
                }
                else
                {
                    <li><a style="cursor:pointer;" onclick="goToAudiofles(@pageIndex);return false;">@pageIndex</a></li>
                }                                     
            }                
        }
        <li><a style="cursor:pointer;" onclick="nextAudioFiles();return false;">Next</a></li>
    </ul>
</div>