﻿@using Medianet.Web.NopCommerceServices;
@using Medianet.Web.Models;
@model AudioModel
@foreach (ProductDTO product in Model.ProductList)
{ 
    <div class="item">
        <ul class="links">
            <li>
                <a style="cursor:pointer;" onclick="addCustomerListtoCart(@product.Id,event);" class="btn-group cart" name="@product.Id">
                    <span class="btn btn-primary"><em class="plus"></em></span>
                    <span class="btn btn-primary dropdown-toggle">@Html.AddToCartText(false, true, false, product.DistributionType.ToString()[0].ToString().ToUpper(), product.Id)</span>
                </a>
                <a href="#" onclick="getProductInfo(@product.Id,event);return false;" class="btn-group"><span class="btn btn-info">info</span></a>
            </li>
        </ul>
        <h4 class="no-description">@product.Name</h4>
        <p>@Html.Raw(product.ShortDescription)</p>
    </div>
}