﻿@using Medianet.Web.Models;
@model AudioModel

@{
    bool hasWeb = Model.IsNewsHubPostingAdded();
    bool hasTwitter = Model.IsTwitterPostingAdded();
    bool hasJournalist = Model.IsJournalistPostingAdded();
    
    <h3>Your Release</h3>
    <ul class="list data">
        <li>
            <strong>Headline:</strong>
            <em>@Model.SubjectHeadline</em>
        </li>
        <li>
            <strong>Organisation:</strong>
            <em>@Model.Organisation</em>
        </li>
        @{
            if (!string.IsNullOrWhiteSpace(Model.BillingCode) && !Model.BillingCode.Equals(WireModel.BILLING_CODE_NONE))
            {
                <li>
                    <strong>Billing Code:</strong>
                    <em>@Model.BillingCode</em>
                </li>
            }
        }
        <li>
            <strong>Customer Reference:</strong>
            <em>@Model.CustomerRef</em>
        </li>
        <li>
            <strong>Priority</strong>
            <em>@Model.Priority</em>
        </li>
        <li>
            <strong>Send Time:</strong>
            <em>
                @if (Model.DistributeAsFutureRelease)
                {
                    <text>@Model.ScheduleDate.Value.ToShortDateString() @Model.ScheduleTimeHour :@Model.ScheduleTimeMinutes (@Model.session.TimeZone.Name)</text> 
                }
                else
                { 
                    <text>ASAP</text>
                }                
            </em>   
        </li>
        @if (Model.DistributeAsEmbargoRelease)
        {
            <li>
                <strong>Embargo Until:</strong>
                <em>
                    @Model.EmbargoDate.Value.ToShortDateString() @Model.EmbargoTimeHour:@Model.EmbargoTimeMinutes (@Model.session.TimeZone.Name)
                </em>   
            </li>
        }
        <li>
            <strong>Audio recordings selected:</strong>
            <ul>
                @foreach (string audioFile in Model.SelectedAudioFiles)
                {
                    string Name = audioFile.Split('|')[0].ToString();
                
                    <text>
                        <li><em>@Name</em></li>
                    </text> 
                }   
            </ul>         
        </li>
        
        @if (Model.PressRelease != null)
        {
            <text>
                <li>
                    <strong>Press release:</strong>
                    <em><a href="/audio/preview/@Model.PressRelease.MedianetAttachmentId" target="_blank">@Model.PressRelease.Name</a></em>
                </li>
            </text>
        }
        @if (Model.Attachments != null && Model.Attachments.Count > 0)
        {
            <text>
                <li>
                    <strong>Attachments:</strong>
                    <em>
                        @foreach (AttachmentModel attachment in Model.Attachments)
                        {
                            <a href="/wire/preview/@attachment.MedianetAttachmentId" target="_blank">@attachment.Name</a>
                        }
                    </em>
                </li>
            </text>
        }
        <li>
            <strong>Audio release summary:</strong>
            <em>@Html.Raw(@Model.ReleaseSummary)</em>
        </li>
    </ul>
            
    <div class="links">
        <a href="/audio/prepare" class="btn-group pull-right"><span class="btn btn-primary dropdown-toggle">Edit</span></a>
    </div> 

    <h3>Online Platforms</h3>
    <ul class="list data">        
        <li>
            <strong>Online - Consumers:</strong>
            @if (hasWeb)
            {
                <em><span class="tick"><span class="strong">Selected.</span>&nbsp;Published under the categories: @Model.WebCategoryList.First(p => p.Value == @Model.WebCategoryId.ToString()).Text
                         @((Model.SecondaryWebCategoryId != null && Model.SecondaryWebCategoryId.ToString() != "")  ? 
                               " and " + @Model.SecondaryWebCategoryList.First(p => p.Value == Model.SecondaryWebCategoryId.ToString()).Text : "")
                </span></em>
            }
            else
            {
                <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to post to Medianet News Hub's 50,000 followers and Medianet for Journalists 12,000+ subscriber base.</span></em>
            }
        </li>
        <li>
            <strong>Online - Journalists:</strong>
            @if (hasJournalist || hasWeb)
            {
                <em><span class="tick"><span class="strong">Selected.</span>&nbsp;Published under the categories: @Model.WebCategoryList.First(p => p.Value == @Model.WebCategoryId.ToString()).Text
                         @((Model.SecondaryWebCategoryId != null && Model.SecondaryWebCategoryId.ToString() != "")  ? 
                         " and " + @Model.SecondaryWebCategoryList.First(p => p.Value == Model.SecondaryWebCategoryId.ToString()).Text : "")
                </span></em>
            }
            else
            {
                <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to post to Medianet for Journalists' 12,000+ subscriber base.</span></em>
            }
        </li>
        <li>
            <strong>Twitter post:</strong>
            @if (hasWeb && hasTwitter)
            {
                if (string.IsNullOrWhiteSpace(@Model.Tweet))
                {
                    <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to include twitter details for your post.</span></em>
                }
                else
                {
                    <em>
                        <span class="tick"><span class="strong">Selected.</span><br/>
                            @Html.Raw(Model.FormatedTweet())</span>
                    </em>
                }
            }
            else if (hasTwitter)
            {
                <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to include Online – Journalists & Consumers to enable your Twitter post.</span></em>
            }
            else
            {
                <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to share your story across one of Medianet's Twitter handles to leverage our influential followers.</span></em>
            }
        </li>
    </ul>
    
    <div class="links">
        <a href="/audio/online" class="btn-group pull-right"><span class="btn btn-primary dropdown-toggle">Edit</span></a>
    </div> 

    <nav role="navigation" class="actions">
        <div class="buttons">
            <input type="button" class="btn btn-secondary btn-large" value="Back" onclick="goPrevious();"/>
            <input type="submit" class="btn btn-large authorisationRequired" value="Finalise" onclick="return goNext();"/>
        </div>
    </nav>       
    
}