﻿@using Medianet.Web.Models;
@model AudioModel
@{
    ViewBag.Title = "Finalise";
    Layout = "~/Views/Shared/_LayoutAudio.cshtml";
    bool hasWeb = Model.IsNewsHubPostingAdded();
    bool hasJournalist = Model.IsJournalistPostingAdded();
    
}

<div class="intro">
    <h1>Step 4: Finalise your release</h1>
    <p>Check the content and details of your press release, then please check your cart and price is correct before proceeding.</p>
</div>
<section class="section info">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)

        <div id="finaliseContent">
            @Html.Partial("_Finalise", Model)
        </div>
    </form>
</section>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.finalise.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () 
    {    
        @Html.Next(Model)
        @Html.Previous(Model)
    });
</script>