﻿@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices
@model AudioModel
@{
    ViewBag.Title = "Lists";
    Layout = "~/Views/Shared/_LayoutAudio.cshtml";
}
<div class="intro">
    <h1>Step 3: Select Targets</h1>
    <p>Browse or search for influential lists to target your release.</p>
</div>
<section class="section">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)
        <ul class="nav nav-tabs">
            <li class="nav-custom btn-secondary"><a data-toggle="tab" href="#extra">Extra Recipients</a></li>
            <li class="nav-extra btn-secondary active"><a data-toggle="tab" href="#custom">Media Lists</a></li>
        </ul>
        <div class="tab-content">
            <div id="custom" class="tab-pane  active">
                <ul id="browse">
                    @foreach (Category category in Model.CategoryList)
                    {
                        <text>
                            <li class="item browser-group" name="category_level" id="@category.Id">
                                <a style="cursor: pointer;" onclick="loadRadioCategory(@category.Id);return false;" class="browse-closed"><strong>@category.Name</strong></a>
                            </li>
                        </text>
                    }
                </ul>
            </div>
            <div id="extra" class="tab-pane">
                <h2 class="title">Add extra recipients</h2>
                <div class="control-group spaced">
                    <label class="control-label" for="inputEmail">Email:</label>
                    <div class="controls links">
                        <input type="text" id="extraeMail" placeholder="yourname@email.com" class="input-xlarge" maxlength="255">
                        <a style="cursor: pointer;" onclick="addExtraEmailRecipientoToCart();return false;" class="btn-group">
                            <span class="btn btn-primary"><em class="plus"></em></span>
                            <span class="btn btn-primary dropdown-toggle">Email</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav role="navigation" class="actions">
            <div class="buttons">
                <input type="button" class="btn btn-secondary btn-large" value="Back" onclick="goPrevious();" />
                <input type="submit" class="btn btn-large" value="Next" onclick="return goNext();" />
            </div>
        </nav>
    </form>
</section>

<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.contacts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.audio.prepare.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        @Html.Next(Model)
        @Html.Previous(Model)

        disableAddToButtonsInCart();
    });
</script>
