﻿@using Medianet.Web.MedianetReleaseService
@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices;
@model AudioModel
@{
    Layout = "~/Views/Shared/_LayoutAudio.cshtml";
}

<div class="intro">
    <h1>Step 2: Select your online platforms</h1>
    <p>Select your web and social options to gain direct exposure for your news story. Posting to websites and sharing to social media allows your story to be consumed directly by customers, journalists and bloggers actively seeking news stories.</p>
</div>
<section class="section">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)
        <b>@Html.ValidationSummary(true)</b>
        <section>
            <h2 class="subtitle">
                <strong>Select your online platforms</strong>
            </h2>

            @if (Model.OnlineProductList != null && Model.OnlineProductList.Count > 0)
            {
                string distTypeTwitter = ((char)DistributionType.Twitter).ToString();
                List<Product> online = Model.OnlineProductList.Where(p => p.DistributionType != distTypeTwitter).ToList();
                
                Product twitter = Model.OnlineProductList.FirstOrDefault(p => p.DistributionType == distTypeTwitter);
                if (twitter != null)
                {
                    <div class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <span class="accordion-toggle accordion-toggle-nolink">
                                    <strong>Social Media Distribution</strong>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="accordion-inner">
                                    Sharing content to Medianet's social media allows you to leverage our social audience and increase sharing and direct consumption of your news story.
                                    <ul class="list">
                                        <li class="item">
                                            <div class="links">
                                                <a style="cursor: pointer;" name="@twitter.Id" onclick=" addToCart(@twitter.Id, event);return false;"@(Html.DisableWith(twitter.ChildProductIds)) class="btn-group cart">
                                                    <span class="btn btn-primary"><em class="plus"></em></span>
                                                    <span class="btn btn-primary dropdown-toggle">POST</span>
                                                </a>
                                                <span class="no-btn-info">&nbsp;</span>
                                            </div>
                                            <h4>@twitter.Name</h4>
                                            <p>@Html.Raw(twitter.ShortDescription)</p>
                                        </li>
                                    </ul>
                                    <div class="control-group">
                                        <div class="control-label">
                                            <label for="Tweet">Tweet:</label>
                                            <span id="counter" class="label" style="color: white;">Total: 0/160</span>
                                        </div>
                                        <div class="controls">
                                            @Html.TextAreaFor(model => model.Tweet, new { placeholder = "Type in the content that you want to be shown on twitter", @class = "span5", rows = "2", maxlength = "100" })
                                            <br />
                                            <b>TIP:</b> If you have a Twitter account, don't forget to include your own handle in the Tweet to enhance your brand visibility.
                                            If you are using @@mentions at the front of your tweet, please add a period/full stop in front of the handle.<br />
                                            Sample tweet <i>.@@company announces a new product.</i>
                                            @Html.ValidationMessageFor(model => model.Tweet)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </section>
        <nav role="navigation" class="actions">
            <div class="buttons">
                <input type="button" class="btn btn-secondary btn-large" value="Back" onclick="goPrevious();" />
                <input type="submit" class="btn btn-large" value="Next" onclick="return goNext();" />
            </div>
        </nav>
    </form>
</section>

<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.online.new.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        @Html.Next(Model)
        @Html.Previous(Model)

        limitTweetChars();
        disableAddToButtonsInCart();
    });
</script>
