﻿@using Medianet.Web.Models;

@model AudioModel
@{
    ViewBag.Title = "Prepare";
    Layout = "~/Views/Shared/_LayoutAudio.cshtml";
    Html.EnableClientValidation();
}
<div class="intro">
    <h1>Step 1: Set up your content</h1>
    <p>Start preparing your release by adding the content you want journalists to see and the details that will accompany your release.</p>
</div>
<div class="row">
    <div id="content" class="span8">
        <section class="section">
            <form class="form-horizontal" method="post" id="form">
                @Html.AntiForgeryToken()
                @Html.Action(Model.CurrentStepOrder)
                <b>@Html.ValidationSummary(true)</b>
                <br />
                <div class="control-group">
                    <label class="control-label" for="SubjectHeadline">Headline: <span style="color: red;">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.SubjectHeadline, new { placeholder = "Headline" })
                        <a href="#" rel="tooltip" data-placement="top" data-original-title="Enter the headline for your release. This headline will form your web headline and the subject line for email distribution." class="help"><b class="hide-text">Help</b></a>
                        @Html.ValidationMessageFor(model => model.SubjectHeadline)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Organisation">Organisation: <span style="color: red;">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Organisation, new { placeholder = "Organisation" })
                        <a href="#" rel="tooltip" data-placement="top" data-original-title="Enter the name of the organisation that you want contacts to see." class="help"><b class="hide-text">Help</b></a>
                        @Html.ValidationMessageFor(model => model.Organisation)
                    </div>
                </div>
                @{
                    if (Model.BillingCodeList != null && Model.BillingCodeList.Count > 0)
                    {
                        <div class="control-group">
                            <label class="control-label" for="BillingCode">Billing Code: <span style="color: red;">*</span></label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.BillingCode, Model.BillingCodeList, "Select Billing Code")
                                <a href="#" rel="tooltip" data-placement="top" data-original-title="Enter the Billing Code for your press release." class="help"><b class="hide-text">Help</b></a>
                                @Html.ValidationMessageFor(model => model.BillingCode)
                            </div>
                        </div>
                    }
                    else
                    {
                        // Give it a unique value so validation doesn't fail
                        @Html.Hidden("BillingCode", ReleaseModel.BILLING_CODE_NONE)
                    }
                }
                <div class="control-group">
                    <label class="control-label" for="CustomerRef">Customer Reference:</label>
                    <div class="controls">
                        <div class="row">
                            <div class="span3">
                                @Html.TextBoxFor(model => model.CustomerRef, new { placeholder = "Customer Reference" })
                                <a href="#" rel="tooltip" data-placement="top" data-original-title="The customer reference field helps you differentiate campaigns or clients on your invoice or credit card receipt." class="help"><b class="hide-text">Help</b></a>
                                @Html.ValidationMessageFor(model => model.CustomerRef)
                            </div>
                            <div class="span3">
                                <span class="inline-label">Priority: <span style="color: red;">*</span></span>
                                @Html.DropDownListFor(model => model.Priority, Model.PriorityList, new { @class = "input-small", onchange = "ChangePriority();" })
                                <a href="#" rel="tooltip" data-placement="top" data-original-title="Selecting the high priority option ensures that your release is prioritised over other releases being sent out at that time. There is a flat rate charge for this service." class="help"><b class="hide-text">Help</b></a>
                                @Html.ValidationMessageFor(model => model.Priority)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputUploadRelease">Audio List:</label>
                    <div class="controls item padding" id="audiofiles" style="">
                        @if (Model.AudioFiles.InboundFiles.Count() > 0)
                        {
                            @Html.Partial("_audiofiles", Model)
                        }
                        else
                        {
                            <text>You do not have any audio recordings</text>
                        }
                    </div>
                </div>
                <div class="control-group">
                    <p class="padding">
                        You may upload an optional press release attachment to your Audio News Release along with you audio files. The total maximum number of attachments including your audio files is four.
                    </p>
                    <div class="control-group">
                        <label class="control-label" for="inputUploadAttachment1">Press Release:</label>
                        <div class="controls upload">
                            <div id="inputUploadPressRelease">
                                <p>Word/PDF/HTML or plain text.</p>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputUploadAttachment3">
                            Audio file/s: <span style="color: red;">*</span>
                        </label>
                        <div class="controls upload">
                            <div id="inputUploadAudioFile" placeholder="inputUploadAudioFile">
                                <p>Audio file format .wav only</p>
                            </div>
                            @Html.ValidationMessageFor(model => model.Attachments)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ReleaseSummary">
                            Your press release: <span style="color: red;">
                                *
                            </span>
                        </label>
                        <div class="controls">
                            @Html.TextAreaFor(model => model.ReleaseSummary, new { placeholder = "Type in the content that you want to be sent via wire and email", @class = "span5", rows = 10 })
                            <a href="#" rel="tooltip" data-placement="top" data-original-title="Enter your entire press release into the editor. Make sure to include your headline, press release body, contact details and any other information you wish to include. Your formatting will be what contacts see in emails and the web." class="help pull-right"><b class="hide-text">Help</b></a>
                            @Html.ValidationMessageFor(model => model.ReleaseSummary)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="WebCategoryId">Category: <span style="color: red;">*</span></label>
                        <div class="controls">
                            @Html.DropDownListFor(model => model.WebCategoryId, Model.WebCategoryList, "Select your category")
                            @Html.ValidationMessageFor(model => model.WebCategoryId)
                            <a href="#" rel="tooltip" data-placement="top" data-original-title="Select the category that best fits your press release subject matter. Your release will be filed under this category online." class="help"><b class="hide-text">Help</b></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="SecondaryWebCategoryId">Additional Category:</label>
                        <div class="controls">
                            @Html.DropDownListFor(model => model.SecondaryWebCategoryId, Model.SecondaryWebCategoryList, "Select your category", new { onchange = "AddSWCProductToCart()" })
                            <a href="#" rel="tooltip" data-placement="top" data-original-title="Select an additional category related to your press release for increased visibility online." class="help"><b class="hide-text">Help</b></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="DistributeAsFutureRelease">Send Time:</label>
                        <div class="controls">
                            <div class="form-inline group" style="margin: 2px;">
                                Release ASAP or hold until specified time?
                            </div>
                            <label class="checkbox inline-label">
                                @Html.RadioButtonFor(model => model.DistributeAsFutureRelease, false, new { onclick = "UnsetScheduling();", selected = "selected" })
                                <b>ASAP</b>
                            </label>
                            <label class="checkbox inline-label">
                                @Html.RadioButtonFor(model => model.DistributeAsFutureRelease, true, new { onclick = "setScheduling();" })
                                <b>Hold Until</b>
                            </label>
                            <div class="form-inline group">
                                <label class="inline-label" for="ScheduleDate">Date:</label>
                                @Html.TextBox("ScheduleDate", Model.ScheduleDateForView(), new { placeholder = "DD/MM/YYYY", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ScheduleDate)
                            </div>
                            <div class="form-inline group">
                                <span style="vertical-align: top">
                                    <label class="inline-label">Time <small>(@Model.session.TimeZone.Name)</small>:</label>
                                    @Html.DropDownListFor(model => model.ScheduleTimeHour, Model.Hours, new { @class = "input-mini" })
                                    :
                                    @Html.DropDownListFor(model => model.ScheduleTimeMinutes, Model.Minutes, new { @class = "input-mini" })
                                </span>
                                <div class="control-comment">
                                    <b>Note:</b> If you select a hold time, your release will not be distributed or published until the specified time.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputScheduling">Embargo:</label>
                        <div class="controls">
                            <div class="form-inline group" style="margin: 2px;">
                                Do you want to embargo for Non-Media Contacts?
                            </div>
                            <label class="checkbox inline-label">
                                @Html.RadioButtonFor(model => model.DistributeAsEmbargoRelease, false, new { onclick = "UnsetScheduling('Embargo');", selected = "selected" })
                                <b>No Embargo</b>
                            </label>
                            <label class="checkbox inline-label">
                                @Html.RadioButtonFor(model => model.DistributeAsEmbargoRelease, true, new { onclick = "setScheduling('Embargo');" })
                                <b>Embargo Until</b>
                            </label>
                            <div class="form-inline group">
                                <label class="inline-label" for="EmbargoDate">Date:</label>
                                @Html.TextBox("EmbargoDate", Model.EmbargoDateForView(), new { placeholder = "DD/MM/YYYY", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.EmbargoDate)
                            </div>
                            <div class="form-inline group">
                                <span style="vertical-align: top">
                                    <label class="inline-label" for="inputOrganisation">Time <small>(@Model.session.TimeZone.Name)</small>:</label>
                                    @Html.DropDownListFor(model => model.EmbargoTimeHour, Model.Hours, new { @class = "input-mini" })
                                    :
                                    @Html.DropDownListFor(model => model.EmbargoTimeMinutes, Model.Minutes, new { @class = "input-mini" })
                                </span>
                                <div class="control-comment">
                                    <b>Note:</b> If you select an Embargo time, your press release will be sent to selected email and Medianet for Journalists contacts but will be withheld from public websites, social media and other non-media distribution options until the embargo is over. <span class="comment-hilight">You must include your embargo terms at the top of your press release for editorial reference.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <nav role="navigation" class="actions">
                    <div class="buttons">
                        <input type="submit" class="btn btn-large" value="Next" onclick="return goNext();" />
                    </div>
                </nav>
            </form>
        </section>
    </div>
</div>

<!-- Popup window for renaming an audio file -->
<div class="modal rename-modal hide" id="audioFileRename" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="HideRenameAudioFile();">
            ×
        </button>
        <h3 id="myModalLabel">Rename</h3>
    </div>
    <div class="modal-body">
        Enter new name:&nbsp;<input type="text" id="newAudioFilename" maxlength="50" />
        <button class="btn" onclick="RenameAudioFile();">Save</button>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="HideRenameAudioFile();">
            Close
        </button>
    </div>
</div>

<!-- Popup window for deleting an audio file -->
<div class="modal rename-modal hide" id="audioFileDelete" tabindex="-1" role="dialog"
     aria-labelledby="myDeleteLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="HideDeleteAudioFile();">
            ×
        </button>
        <h3 id="myDeleteLabel">Rename</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the file&nbsp;<strong><span id="audioFilename"></span></strong>
    </div>
    <div class="modal-footer">
        <button class="btn" onclick="DeleteAudioFile();">Yes</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="HideDeleteAudioFile();">
            No
        </button>
    </div>
</div>

@section Styles
{
    <link href="@Url.Content("~/content/jquery.cleditor.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/jquery-ui.css")" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cleditor.min.js")" type="text/javascript"></script>
}
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.audio.prepare.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function ()
    {
        @Html.Next(Model)
        @Html.Previous(Model)

        $('#ScheduleDate').datepicker( { dateFormat: "dd/mm/yy" } );
        $('#EmbargoDate').datepicker( { dateFormat: "dd/mm/yy" } );
        $("#ReleaseSummary").cleditor( { width: 500, height: 250, controls:"bold italic underline strikethrough subscript superscript | font size style | color highlight removeformat | bullets numbering | outdent indent | alignleft center alignright justify | undo redo | rule image link unlink | cut copy paste pastetext " } );

        var priority            = $('#Priority').val();
        var pressReleaseUpload  = $('#inputUploadPressRelease')[0];
        var audioUpload         = $('#inputUploadAudioFile')[0];

        var pressReleaseUpload = new qq.FileUploader({
            element: pressReleaseUpload,
            allowedExtensions: ['doc', 'docx', 'pdf', 'txt', 'htm', 'html'],
            sizeLimit: 4194304,
            action: '/Audio/UploadPressRelease',
            multiple: false,
            autoUpload: true,
            debug: true,
            params: { priority: priority },
            onSubmit: function (id, fileName)
            {
                fileUploadInProgress = true;
            },
            onComplete: function (id, fileName, responseJSON)
            {
                fileUploadInProgress = false;
                AddRemovalLink('#inputUploadPressRelease',responseJSON.id);
                RefreshWordCount();
            }
        });

        var audioUploader = new qq.FileUploader({
            element: audioUpload,
            allowedExtensions: ['wav', 'doc', 'docx', 'pdf', 'txt', 'htm', 'html', 'jpg', 'jpeg', 'png', 'xls', 'csv', 'gif', 'mp3', 'mov', 'wmv', 'mp4'],
            sizeLimit: 4194304,
            action: '/Audio/UploadAudio',
            multiple: false,
            autoUpload: true,
            debug: true,
            multiple: true,
            params: { priority: priority },
            onSubmit: function (id, fileName)
            {
                fileUploadInProgress = true;
            },
            onComplete: function (id, fileName, responseJSON)
            {
                fileUploadInProgress = false;
                AddRemovalLink('#inputUploadAudioFile',responseJSON.id);
                RefreshWordCount();
            }
        });

        var pressReleaseList    = $('#inputUploadPressRelease').find('ul[class="qq-upload-list"]');
        var attachmentList      = $('#inputUploadAudioFile').find('ul[class="qq-upload-list"]');

        @if (@Model.DistributeAsFutureRelease)
        {
            <text>setScheduling();</text>
        }
        else
        {
            <text>UnsetScheduling();</text>
        }

        @if (@Model.DistributeAsEmbargoRelease)
        {
            <text>setScheduling('Embargo');</text>
        }
        else
        {
            <text>UnsetScheduling('Embargo');</text>
        }

        @{
            if (Model.PressRelease != null)
            {
                <text>
        AddAttachmentToList(pressReleaseList,@Html.Raw(Json.Encode(Model.PressRelease)));
        </text>
            }

            foreach (AttachmentModel attachment in Model.Attachments)
            {
                <text>
        AddAttachmentToList(attachmentList,@Html.Raw(Json.Encode(attachment)));
        </text>
            }
        }
    });
</script>
