﻿/*
* VERSION 2.1-SNAPSHOT
* Original version: 1.0 © 2010 Andrew Valums ( andrew(at)valums.com )
* Current Maintainer (2.0+): 2012, Ray Nicholus ( fineuploader(at)garstasio.com )
*
* Licensed under MIT license, GNU GPL 2 or later, GNU LGPL 2 or later, see license.txt.
*/
.qq-uploader {
position: relative;
width: 100%;
}
.qq-upload-button {
/*or inline-block*/
font-size:12px
}
.qq-upload-button-hover {
background: #CC0000;
}
.qq-upload-button-focus {
outline: 1px dotted #000000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
min-height: 30px;
z-index: 2;
background: #FF9797;
text-align: center;
}
.qq-upload-drop-area span {
display: block;
position: absolute;
top: 50%;
width: 100%;
margin-top: -8px;
font-size: 16px;
}
.qq-upload-extra-drop-area {
position: relative;
margin-top: 50px;
font-size: 16px;
padding-top: 30px;
height: 20px;
min-height: 40px;
}
.qq-upload-drop-area-active {
background: #FF7171;
}
.qq-upload-list {
margin: 0;
padding: 0;
list-style: none;
display:inline-block;
}
.qq-upload-list li {
margin: 0;
padding: 9px;
line-height: 15px;
font-size: 16px;
background-color: #FFF0BD;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text, .qq-upload-finished {
margin-right: 12px;
}
.qq-upload-file {
}
.qq-upload-spinner {
display: inline-block;
background: url("img/loading.gif");
width: 15px;
height: 15px;
vertical-align: text-bottom;
}
.qq-upload-finished {
display:none;
width:15px;
height:15px;
vertical-align:text-bottom;
}
.qq-upload-size, .qq-upload-cancel {
font-size: 12px;
font-weight: normal;
}
.qq-upload-failed-text {
display: none;
}
.qq-upload-failed-icon {
display:none;
width:15px;
height:15px;
vertical-align:text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
display: inline;
}
.qq-upload-list li.qq-upload-success {
background-color: #5DA30C;
color: #FFFFFF;
}
.qq-upload-list li.qq-upload-fail {
background-color: #D60000;
color: #FFFFFF;
}
.qq-progress-bar {
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
width: 0%;
height: 15px;
border-radius: 6px;
margin-bottom: 3px;
}

.qq-upload-list li {font-size:13px;font-weight:bold;padding:8px;margin:0 5px;background:#D9EDF7;border:1px solid #3A87AD;color:#3A87AD;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.qq-upload-list li.qq-upload-success {background:#D6E9C6;border-color:#468847;color:#468847}
.qq-upload-list li.qq-upload-fail {background:#F2DEDE;border-color:#B94A48;color:#B94A48}
.qq-upload-list {dissply:inline-block}
.qq-upload-button.btn {
  color: #fff !important;
  text-decoration: none;
  background-color: #811427;
  *background-color: #811427;
  /* Buttons in IE7 don't get borders, so darken on hover */
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;         
  background-color: #811427;
  *background-color: #811427;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#811427), to(#830125));
  background-image: -webkit-linear-gradient(top, #811427, #830125);
  background-image: -o-linear-gradient(top, #811427, #830125);
  background-image: linear-gradient(to bottom, #811427, #830125);
  background-image: -moz-linear-gradient(top, #811427, #830125);
  background-repeat: repeat-x;
  border-color: #d1d1d1;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffb30131', endColorstr='#ff830125', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
}
.qq-upload-button.btn h5 {color:#fff !important;white-space: nowrap;font-size: 14px;}