.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend,#search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append,
.inline-label,.subtitle strong,ul.data strong,ul.data em,nav li,.navbar .submenu li a,.pagination select,.iMediamonitoring,.iMediacontacts,.iResources,.section .nav-tabs > li,.section .nav-pills > li,.qq-upload-list,.links li,.plus,.qq-upload-spinner 
 {*zoom:1;*display:inline !important}
section {display:block}
#sidebar {*width:300px}
.navbar .submenu li a {margin-right:0}
.help {position:absolute;right:0;top:10px}
.remember-help{ right: auto;}
ul.list li ul li {list-style-type:none}
.btn-group .btn-info {display:inline-block;*zoom:1;*display:inline !important}
.modal-header {padding:0 15px}
.modal-header h3 {padding:9px 0}

input[type="password"]{font-family: Arial;}

/* IE 7 */
.login .span5 {width:470px}
.btn-group > .btn + .dropdown-toggle {*background:#eee;*border-color:#d1d1d1}
.btn-large, .payment input[type="submit"] {*background:#811427 !important;*color:#fff !important}
.btn-secondary.btn-large {*color:#666 !important;*background-color:#f4f4f4 !important;*border:1px solid #d0d0d0 !important}
#sidebar {*width:300px} 
.navbar .submenu li span {*margin-right:0}
.cleditorMain {*width:400px !important}
.row .controls .row .span2 {*width:170px}
.row .controls .row .span3 {*margin-left:10px !important}
.navbar .promo-box li .btn-group > .btn,.navbar .promo-box li .btn-group {*position:static}
.navbar .submenu {*position:relative;*z-index:-10}
.nav-collapse.collapse {*overflow:visible !important}
nav .actions li {*padding:0 20px}
.cleditorMain textarea {*display:none !important}
.btn, btn-group .btn, .btn-secondary, .payment input[type="submit"] {*color:#666;*background-color:#f4f4f4;*border:1px solid #d0d0d0;*opacity:1 !important}
form .actions {*height:62px}
.shopping-cart h3 em  {*display:block;*margin-top:-24px}
.shopping-cart li .amount {*margin-left:10px;*font-size:13px}
.plus {*display:block !important;*height:22px !important}
.btn-group > .btn + .dropdown-toggle {*border-left:0}
#search .input-prepend {*margin:0 0 0 -200px !important;*display:block !important}
#search .input-append {*margin:0 0 0 -100px !important;*display:block !important}
#searchbox {width:310px}
.tab-content .item {*position:relative}
#editionTop .btn-small {*padding:3px 7px 3px 4px}
.qq-upload-button span {*position:relative !important;*z-index: 10000}
.plus {background: url("img/icons-ie.png") -1px -952px no-repeat}
.sub-promo h3 {*font-size:15px}
.recommended li .action .plus-lrg {*display:block}
.sub-promo h3 {*font-size:15px}
.span6 .item table td h2,.span6 .item table thead th {*font-size:15px}
.span6 .item table td {*padding:9px 6px;*font-size:11px}
.promo h2 {*font-size:24px;*padding-top:30px}
.navbar .navbar-inner li.user {*padding:8px 0}
.user span b {*white-space:nowrap}
.payment input#submittoeway {*margin:20px 220px}
#edition .form-horizontal .control-group {*width:350px}
#edition .form-horizontal .control-label {*width:115px}
#edition .form-horizontal .controls {*margin-left:0}
#edition .form-horizontal input,#edit .form-horizontal textarea,#edit .form-horizontal .uneditable-input {*width:180px}
#edition .actions .btn-large {*font-size:13px;*padding:6px}
table tr.odd td {*background-color:#f9f9f9 !important}
table td {*border:0;*background-image:url(img/table-ie.png);*background-repeat:repeat-x;*background-position:left top}
.modal-backdrop,.modal-backdrop.fade.in {*display:none}

/* IE8 */
@media \0screen {
.navbar .submenu li a {margin-right:0}
.nav-collapse.collapse {overflow:visible}
.cleditorMain {width:400px !important}
.row .controls .row .span2 {width:150px}
.help {margin-top:-15px}
}

/* IE9 */
:root .help {position:relative;top:2px}
:root .pull-right.help {position:absolute;top:0}
:root .form-horizontal .control-group {}
:root .form-horizontal .control-group .qq-uploader {margin-bottom:10px}