﻿
.hidden { display: none; visibility: hidden; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

@charset "utf-8";
/* CSS Document */

/* BUTTONS USING ICON-SPRITE */
/* --------------------------------------------------- */
.btnIcon{
	background-color:transparent;
	background-image: url('images/icons_sprite.png');
	background-repeat: no-repeat;
	border: none;
	vertical-align: middle;
}

.btnPin{
	background-position: -13px -51px;
	width: 15px;
	height: 20px;	
}

table.resultTableBody tr.rtbSelectedRow .btnPin{
	background-position: -13px -91px;	
}

table.resultTableBody tr.rtbSelectedRow .btnDelete{
	display: none;	
}

.btnDelete{
	background-position: -13px -291px;
	width: 15px;
	height: 20px;	
}

.btnQuestion{
	background-position: -12px -251px;
	width: 15px;
	height: 20px;
}

.btnSave{
	background-position: -11px -131px;
	width: 25px;
	height: 20px;
}

.btnRestore{
	background-position: -11px -170px;
	width: 25px;
	height: 20px;
}

/* ANCHOR TAGS USING ICON-SPRITE */
/* --------------------------------------------------- */

.textLink{
	color:#9A50AF;
	border-bottom: 1px dotted #9A50AF;
}

.aLinkBtn {
	background-image: url('images/icons_sprite.png');
	background-repeat: no-repeat;
	color:#9A50AF;
	padding-left:20px;
	margin-left:10px;
}

a.aLinkBtn:visited {
	color:#3A3A3A;
}

.aLinkBtn span {
	border-bottom: 1px dotted #9A50AF;
}

.aLinkDelete{
	background-position: -13px -213px;
}

.aLinkPin{
	background-position: -10px -51px;
}

.aLinkIcon{
	background-image: url('images/icons_sprite.png');
	background-repeat: no-repeat;
	display:block;
}

.aLinkX{
	background-position: -10px -290px;
	width: 10px;
	height: 10px;
}

.aLinkEdit{
	background-position: -8px -888px;
	width: 25px;
	height: 25px;
}

.aLinkClock{
	background-position: -10px -568px;
}

.aIconClock{
	background-position: -10px -568px;
	width: 25px;
	height: 25px;
}

/* ANCHOR TAGS USING HEADING SPRITE */
/* --------------------------------------------------- */
a.aBtn{
	background:url('images/headings_sprite.png') no-repeat 0 -422px;
	display: block;
	float:left;
	padding:0 0 0 15px;	
	margin-right: 10px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

a.aBtn span{
	background:url('images/headings_sprite.png') no-repeat right -453px;
	display: block;
	line-height: 31px;
	height: 31px;
	padding: 0 15px 0 0;
}

a.recentlyAddedLink{
	color:#3a3a3a;
	background-image: url('images/icons_sprite.png');
	background-repeat: no-repeat;
	display: block;
	border-bottom: 1px dotted #B6B6B6;
	margin: 0 0 3px;
	padding: 8px 0 3px 20px;
}

a.aLinkUser{
	background-position: -12px -325px;
}

a.aLinkHome{
	background-position: -12px -446px;
}

a.taskLink{
	color:#3a3a3a;
	background-image: url('images/icons_sprite.png');
	background-repeat: no-repeat;
	display: block;
	border-bottom: 1px dotted #B6B6B6;
	margin: 0 0 8px;
	padding: 2px 0 3px 0;
}

a.aLinkClock{
	background-position: right -570px;
}

a.aNoIcon {
	background: none;
}

/* SEARCH PAGE STYLEZ  */
/* --------------------------------------------------- */

.searchSection .searchButton {
	background-image: url('images/search.jpg');
	width: 31px;
	height: 27px;
	border: none;
}

.searchSection h4, .preSearchSection h4{
	margin:0 0 10px 0;
	line-height: 24px;
	border-bottom: 1px solid #959595; 	
	font-size: 13px;
}

.searchSection h5{
	margin:0 0 2px 0;
	padding:0;	
}

.searchSection input[type=radio] {
	margin:-2px 2px 0 0;
}

/* FOR ALL MOZ BROWSER */
@-moz-document url-prefix() {
	.searchSection input[type=radio] {
		margin:0 2px 0 0;	
	}	
}

/* FOR ALL WEBKIT BROWSER */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.searchSection input[type=radio] {
		margin:1px 2px 0 0;
	}		
}

.searchSection label {
	margin-right: 20px;
}

.sectionBodyInner table{
	width: 100%;
}

.sectionBodyInner td{
	padding-right:10px;
	vertical-align:top;
	width: 24%;
}

.sectionBodyInner td.subject{
	width: 28%
}

.refineSearch, .refineSearch:visited{
	line-height: 14px;	
	font-size:12px;
	margin: 10px 0 8px 10px;
	padding-right: 8px;
	color: #9A50AF;
	font-weight: bold;
	border-bottom: 1px dotted #9A50AF; 
	background: url('images/arw_prpl.jpg') no-repeat right 4px;
	white-space: nowrap;
	float: right;
	display: block;
}

.viewAll{
	font-size:12px;
	padding-right: 8px;
	color: #9A50AF;
	border-bottom: 1px dotted #9A50AF; 
	background: url('images/arw_prpl.jpg') no-repeat right 4px;
	float: right;
}

.aLinkExpandAll, .aLinkExpandAll:visited{
	margin-left: 20px;
	margin-right: 20px;
	color: #9A50AF;
	border-bottom: 1px dotted #9A50AF; 
	/*background: url('images/refine_search.jpg') no-repeat left top;*/
	display: inline;
	line-height:1.4;
}

/* MISC PAGE ITEMS  */
/* --------------------------------------------------- */
.purpleText{color:#9A50AF;}

.purpleText em {
	font-style: normal;
}

.itemCount, a.itemCount:visited{ color:#cf3f3f; font-weight:bold; }
.redText{color:#ff0000;}
.boldText{font-weight:bold;}
.disabledText {color: gray;}

.alertText {
	font-weight:bold;
	padding-left:20px;
	padding-bottom:30px;
	background:url('../Images/Public/error.png') no-repeat left 3px;
}

.sessionList {
	float:left;
}

.sessionMessage {
	float:right;
	width:40%;
}

.sessionList table {
	border:1px solid black;
	padding:20px;
}

.sessionList table th, .sessionList table td { padding:5px; border:1px solid black; }

.posRelative{position:relative;}

.floatRightIcons, .floatRightBtns{
	float:right;	
}

.floatRightIcons a {
	margin-top:-15px;
}

.floatRightBtns{
	margin-top: -8px;	
}

.saveSearchBtn{
	padding-left: 10px;
	float:left;
	margin-top: -2px;   
}

.saveSearchBtn a.aBtn{
	  margin-right: 10px;
}

.advancedBtns{
	margin-right: 14px;
	margin-top: 10px;   
}

.floatLeft{float:left;}
.floatRight{float:right;}
.floatNone{float:none;}

.pointer { cursor: pointer; }

.searchRegion {
	padding-right: 10px;
	line-height: 30px;
}

table.searchInputCtrl{
	width: 100%;	
}

table.searchInputCtrl td{
	padding:0;	
}

td.searchInput{
	width: 99%;	
}

.btnFilter{
	width: 18px;
	height: 27px;
	border:none;
	background:url('images/filter.png');	
}


.btnFilter.active{
	background-position: 0 -27px;	
}

.btnShowAll{
	width: 24px;
	height: 27px;
	border:none;
	background:url('images/btnSHowAll.png');	
}

.btnShowAll.active{
	background-position: 0 -27px;	
}

#drop_down{
	right:0;
	background-color:#ededed;
	list-style:none;
	margin:0;
	padding:0;		
}

#drop_down li{
	padding: 0 10px;
	line-height: 20px;            
}

/* autocomplete dropdowns */
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

.ui-menu-item {
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
}

/* IE 6 doesn't support max-height
   we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 200px;
}
		
/* dropdowns: general */
input.dropdown:hover { background-position: 0 -27px; }
input.dropdown { position: relative}
input.dropdown.token-dropdown-active { background-position: 0 -27px; }
.token-dropdown-menu   
{
	background-color: #ECEEEC;
	border: 1px solid #959595; 
	padding:0; 
	position:absolute; 
	top:26px; 
	right: 20px;
	display:none; 
	z-index:5000;  
}

table.quickSearchDropdowns .dtoken-dropdown-menu{
	top: 0px;
}

/*browser specific styles*/
@-moz-document url-prefix() {
	#AdvancedForm .token-dropdown-menu{
		left: 10px;
	}
	
}


.token-dropdown-menu p  
{
	margin:0; 
	font-size: 12px; 
	font-weight: bold; 
	background-color: #aab4be;
	padding: 4px 10px; 
	color: #fff; 
}

.addFilterGroup{
	background:url('images/addFilterGroup.png') no-repeat;
	width:14px;
	height:14px;
	display:block;
	float:right;
	margin-top:4px; 
}

.addFilterGroup:hover{
	background-position: 0 -14px;
}

.removeFilterGroup{
	background:url('images/addFilterGroup-red.png') no-repeat  0 -28px;
	width:14px;
	height:14px;
	display:block;
	float:right;
	margin-top:4px; 
}

.removeFilterGroup:hover{
	background-position: 0 -42px;
}

* html .token-dropdown-menu { top:26px; right: 20px; }
*+ html .token-dropdown-menu { top:26px; right: 20px; }

/* dropdowns: specific */

	div.token-dropdown-menu  { width:266px; height: 300px; overflow: auto;}
	div.token-dropdown-menu a  { display:block; }
	  
	.token-dropdown-menu a.tokenSelected:link, .token-dropdown-menu a.tokenSelected:visited
	{
		background-color: #00A3D2;
		color: white;
	}


/* dropdown: jQuery Tokeniser plugin styles */
div.token-input-dropdown-mediapeople p
{
}

div.token-input-dropdown-mediapeople p a
{ 
	display:block;
	font-size: 12px; 
	font-weight: bold; 
	color:#fff;
}

/* form validation styles */
.input-validation-error{border: 1px solid #ff0000; background-color: #ffeeee;}


/* new subject dropdowns styles test */
div.token-dropdown-menu-row{
	position: relative;
	zoom: 1;
	display: table;
	clear: both;
	outline: 0 !important;
	background-color: #ECEEEC;
	width: 100%;
}

div.token-dropdown-menu-row:hover{
	color:#fff;
   background-color: #3A3A3A; 
}

div.token-dropdown-menu-row a{
	outline: none;
	left: 1px;
	top: 1px;    
	position: absolute;    
	width: 1.8em;
	height: 1.8em;
	outline: 0 !important;
}

div.token-dropdown-menu-row a.subject-group span.subject-group-icon{
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	outline: 0 !important;
	background-position: 0 -96px;
	background-image: url(images/ui-icons_ededed_256x240.png);
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}

div.subject-group{
	margin: 0 15px 0 25px;
	line-height: 1.8em;
	outline: 0 !important;
	cursor: pointer;
}

div.subject-group span.subject-group-name{
	line-height: 1.8em;
	outline: 0 !important;
	cursor: pointer;
}

ul.token-input-list-mediapeople {
	overflow: hidden; 
	height: auto !important; 
	max-height: 300px !important;
	height: 1%;
	width: 100%;
	border: 1px solid #959595;
	cursor: text;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 1px;
	z-index: 999;
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style-type: none;
	/* clear: left; */
}

ul.section2columnsList ul.token-input-list-mediapeople {
	width: 54%;
}

ul.token-input-list-mediapeople li input {
	border: 0;
	width: 100px;
	padding: 3px 8px;
	background-color: white;
	margin: 2px 0;
	-webkit-appearance: caret;
}

li.token-input-token-mediapeople {
	overflow: hidden; 
	height: auto !important; 
	height: 15px;
	margin: 3px;
	padding: 1px 3px;
	background-color: #eff2f7;
	color: #000;
	cursor: default;
	border: 1px solid #ccd5e4;
	font-size: 11px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	/* white-space: nowrap; */
}

li.token-input-token-mediapeople p {
	display: inline;
	padding: 0;
	margin: 0;
}

li.token-input-token-mediapeople span {
	color: #000;
	margin-left: 5px;
	font-weight: bold;
	cursor: pointer;
}

li.token-input-selected-token-mediapeople {
	background-color: #aab4be;
	border: 1px solid #858e97;
	color: #fff;
}

li.token-input-token-mediapeople.primarySubject {
	background-color: #dff0d8; /*#00a274  #E41E26 */
	border: 1px solid #858e97;
	color: #333;
}

li.token-input-input-token-mediapeople {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.token-input-dropdown-mediapeople {
	position: absolute;
	width: auto;
	background-color: #aab4be;
	overflow: hidden;
	border-left: 1px solid #858e97;
	border-right: 1px solid #858e97;
	border-bottom: 1px solid #858e97;
	cursor: default;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 1;
}

div.token-input-dropdown-mediapeople p {
	margin: 0;
	padding: 5px;
	font-weight: bold;
	color: #fff;
}

div.token-input-dropdown-mediapeople ul {
	margin: 0;
	padding: 0;
}

div.token-input-dropdown-mediapeople ul li {
	background-color: #fff;
	padding: 4px 10px;
	line-height:1.7em;
	margin: 0;
	list-style-type: none;
}

div.token-input-dropdown-mediapeople ul li.token-input-dropdown-item-mediapeople {
	background-color: #fff;
}

div.token-input-dropdown-mediapeople ul li.token-input-dropdown-item2-mediapeople {
	background-color: #fff;
}

div.token-input-dropdown-mediapeople ul li em {
	font-weight: bold;
	font-style: normal;
}

div.token-input-dropdown-mediapeople ul li.token-input-selected-dropdown-item-mediapeople {
	background-color: #3A3A3A;
	color: #fff;
}

/* custom token input styles for subjects groups */
li.token-input-token-mediapeople.subjectGroup{
	position: relative;
}

/* custom token input styles for primary subjects */
li.token-input-token-mediapeople.primarySubject, li.token-input-token-mediapeople.secondarySubject{
	position: relative;
}

li.token-input-token-mediapeople.subjectGroup .ui-icon-folder-collapsed{
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
}

/*li.token-input-token-mediapeople.primarySubject .ui-icon-secondary-subject,
li.token-input-token-mediapeople.secondarySubject .ui-icon-primary-subject,*/
li.token-input-token-mediapeople.primarySubject .icon-star,
li.token-input-token-mediapeople.secondarySubject .icon-star-empty{
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
}

li.token-input-token-mediapeople.subjectGroup p,
li.token-input-token-mediapeople.primarySubject p,
li.token-input-token-mediapeople.secondarySubject p{
	margin-left: 16px;
}

/* ie specific styles */
html.ie7 li.token-input-token-mediapeople{
   /* height: 18px !important;*/
}
html.ie7 td.searchInput ul.token-input-list-mediapeople{
	margin-top: 1px;
}

/* IMPORTED FROM JQUERY UI - REFACTOR FOR BOOTSTRAP....*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }

/* Styling used for display of tokens, inputs and layouts */
/* Further styles copied from media people project to fix alignment with search combo boxes */
#aSearchWrapper table.searchInputCtrl ul.token-input-list-mediapeople { width: 100%; line-height: 16px; }

#aSearchWrapper table.searchInputCtrl td.searchInput { width: auto; }

#aSearchWrapper table.searchInputCtrl td { position: relative; line-height: 16px; }

    #aSearchWrapper table.searchInputCtrl td.filterInput { width: 23px; vertical-align: top; }

    #aSearchWrapper table.searchInputCtrl td.showAll { width: 23px; vertical-align: top; }

        #aSearchWrapper table.searchInputCtrl td.showAll input.btnShowAll { position: relative; }

    #aSearchWrapper table.searchInputCtrl td.searchInput ul.token-input-list-mediapeople { width: 100%; }

html.ie8 td.searchInput,
html.ie8 #aSearchWrapper td.searchInput { line-height: 10px; }

/* IE specific styles */
/* IE 8 specific styles */
html.ie9 #aSearchWrapper td.searchInput,
html.ie9 #aSearchWrapper li.dynamic ul.token-input-list-mediapeople { line-height: 25px; }

table.searchInputCtrl { width: 265px !important; }
table.searchInputCtrl.input-xlarge { width: 285px !important; }

.searchInputCtrl input[type="text"] { height: 15px; }

.searchInputCtrl input[type="button"].btnFilter { width: 18px; }

.searchInputCtrl input[type="button"].btnShowAll { width: 24px; border-radius: 0 4px 4px 0; }

ul.token-input-list-mediapeople { background-color: #ffffff !important; border: 1px solid #cccccc !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important; -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important; -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important; -o-transition: border linear 0.2s, box-shadow linear 0.2s !important; transition: border linear 0.2s, box-shadow linear 0.2s !important; border-radius: 4px 0 0 4px; }

li.token-input-token-mediapeople { line-height: 15px; }
ul.token-input-list-mediapeople li input { border: 0px solid; }
