#tw {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
* {
    outline: none;
}
table {
    border:none;
}
#tw a, #tw a:hover {
    color: rgb(0,143,132);
}
h1 {
    font-size: 1.9em;
    font-weight: 600;
    letter-spacing: -0.02em;
}
ul.unstyled {
    margin:0;
}
.fa {
    font-size: 0.85em;
}
.panel {
    /*box-shadow: 0px 1px 2px 0px #333;
    -moz-box-shadow: 0px 1px 2px 0px #333;
    -webkit-box-shadow: 0px 1px 2px 0px #333;*/
    border:0;
    background-color: #f2f0f1;
}
.panel td, .panel th {
    padding: 10px;
    text-align: left;
}
.panel td:last-child {
    padding: 7px;
}
.panel-heading th {
    border-color: #19a89d;
    background-color: #19a89d;
    background-image:none;
    color: #fff;
    border-bottom: none;
    font-size: 1.125em;
    font-weight: normal;
    text-align:left;
}
.panel-heading th:first-child {
    border-top-left-radius:3px;
    -moz-border-top-left-radius:3px;
    -webkit-border-top-left-radius:3px;
}
.panel-heading th:last-child {
    border-top-right-radius:3px;
    -moz-border-right-left-radius:3px;
    -webkit-border-right-left-radius:3px;
}
.panel.bordered , .panel.bordered tr:nth-child(2n+1) td {
    background-color:transparent;
}
.panel.bordered tr td {
    border-top:1px solid #ccc;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.modal {
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 0px 2px 5px 0px #333;
    -moz-box-shadow: 0px 2px 5px 0px #333;
    -webkit-box-shadow: 0px 2px 5px 0px #333;
    border: 1px solid transparent;
}
.modal-header {
    background: #4b443c;
    border-color: #4b443c;
    padding: 15px 15px;
    color: #fff;
}
.modal-header h3 {
    font-size: 1.3em;
    font-weight: 600;
    text-align: left;
}
.modal-body {
        background: #fff;
}
.modal-body table.bordered tbody tr td {
    padding: 10px;
    border-color: #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}
.modal-footer {
    background-color: white;
}
.btn-tw, .btn-tw:hover, .btn-tw:focus, .btn-tw:active, .btn-tw.active {
    background-image: none;
    text-shadow:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    color:#fff !important;
    font-weight:normal;
    outline: none;
}
.btn-tw-green {    
    color:#fff !important;
    font-weight:normal;
    background-color: rgb(25,168,157);
    border-color: rgb(25,168,157);    
}
.btn-tw-green:hover, .btn-tw-green:focus, .btn-tw-green:active, .btn-tw-green.active {
    background-color: rgb(0,143,132);
    border-color: rgb(0,143,132);
}
.btn-tw-green[disabled], .btn-tw-green[disabled]:active, .btn-tw-green[disabled]:focus, .btn-tw-green[disabled]:hover, .btn-tw-green[disabled].active, .btn-tw-green[disabled].focus, .btn-tw-green.disabled:active, .btn-tw-green.disabled:focus, .btn-tw-green.disabled:hover, .btn-tw-green.disabled, .btn-tw-green.disabled.active, .btn-tw-green.disabled.focus, fieldset[disabled] .btn-tw-green, fieldset[disabled] .btn-tw-green:active, fieldset[disabled] .btn-tw-green:focus, fieldset[disabled] .btn-tw-green:hover fieldset[disabled] .btn-tw-green.active, fieldset[disabled] .btn-tw-green.focus {
    background-color: #a8d6d2;
    border-color: #a8d6d2;
}
.btn-tw-default {
    background-color: rgb(119,119,119);
    border-color: rgb(119,119,119);
}
.btn-tw-default:hover, .btn-tw-default:focus, .btn-tw-default:active, .btn-tw-default.active {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333 !important;
}
.pagination ul > li:first-child > a, .pagination ul > li:last-child > a {
    background-color: rgb(25,168,157);
    border-color: rgb(25,168,157);
}

/*View Report - Chart style*/
.reportChart {
    width: 40%;
}
.reportChart .panel {
    padding: 5px;
}
    .reportChart .panel th
    {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
.panel.bordered .reportChart .noborder
{
    border: 1px #ccc solid;
    -moz-box-shadow: 0px 1px 1px 0px #999;
    -webkit-box-shadow: 0px 1px 1px 0px #999;
    box-shadow: 0px 1px 1px 0px #999;
}
    .panel.bordered .reportChart .noborder td
    {
        border-top: 1px solid white;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
#myChart {
    width: 200px; 
    height: 200px;
}
.label-opened, .label-unopened, .label-failed {
    padding: 0 10px;
    margin-right: 5px;
}
.label-opened {
    background-color: #5cb85c;
} 
.label-unopened {
    background-color: #777777;
    margin-left: 15px;
} 
.label-failed {
    background-color: #d9534f;
    margin-left: 15px;
}


/*Register page & following pages*/

.text-center {
    text-align: center;
}
.validation-summary-errors {
    color: #D94949;
    padding-left: 20px;
}
.validation-summary-errors ul {
    list-style-type: none;
}

#tw .register #sidebar {
    padding-top:30px;
}
#tw .register .panel
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#tw .register label {
    margin-bottom:0;
}
#tw .register h1, 
#tw .register h2 {
    color: #19a89d;
}
#tw .register .fa.fa-check {
    color: #19a89d;
    font-size: 1em;
}
#promoCodeApplied {
    background-color: #19a89d;
    color: white;
    font-weight: 600;
    width: 170px;
    padding: 3px;
    border-radius: 3px;
}
#tw .register #promoCodeApplied .fa.fa-check {
    background-color: #19a89d;   
    color: white; 
    font-size: 1em;
    margin-right: 8px;
}
#tw .register .fa.fa-circle {
    color: #19a89d;
    font-size: 0.5em;
}
#tw .panel.trainingCourse {
    padding:30px;
}
#tw .panel .trainingCourse-heading th {
    padding:0 10px;
    color:#dedede;
}
#tw .panel .trainingCourse-heading th.active {
    font-weight:bold;
    color:#fff;
}
table.table-condensed tbody tr td {
    background-color:transparent;
    border:none;
}
#tw .register dl {
    margin-bottom:0;
}
#tw .register .dl-horizontal dt {
    width:60px;
    text-align:left;
}
#tw .register .dl-horizontal dd {
    margin-left:60px;
}

label.pay-method {
    border: 1px solid #b2b0b1;
    width: 200px;
    height: 40px;
    padding-top: 25px !important;
    padding-left: 30px !important;
    background-color: #d2d0d1;
    font-size: 14px;
}

p.break {
    background-color: #f2f0f1;
    height: 35px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 5px;
}
