﻿@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
<div class="row">        
        <div id="content" class="span8">
          <div class="intro">
            <h1>Video News Release</h1>
            <p>A Video News Release (VNR) is a web based release that hosts your video content for TV and online journalists. A link to your VNR is sent to TV journalists nationwide wide, where journalists can view, download and edit your VNR for required content.</p>
          </div>
          <section> 
          	<h3>The Video News Release Checklist</h3>         
            <p>The Medianet Client Services team will work with you to build your VNR. Your video needs to be in a particular format to allow the team to easily upload your content. <a href="@Url.Content("~/Content/Medianet_Distribution_Video_Specifications_and_Guidelines.doc")">Click here to download the video guidelines</a></p>
            <ul class="list">
		          <li>
		            <h4 class="title">Contact Details</h4>
		            <p>Make sure you have your designated contact details on hand so that both the Client Services team and interested media can contact you.</p>
		          </li>
		          <li>
		            <h4 class="title">Filename</h4>
		            <p>Your video filename needs to be descriptive so the team can easily recognize it when you FTP. Please ensure that your filename has no spaces.</p>
		          </li>
				  <li>
		            <h4 class="title">Video Title</h4>
		            <p>Identify what title you would like to appear as a headline for the video.</p>
		          </li>
				  <li>
		            <h4 class="title">Caption</h4>
		            <p>A caption provides the viewer with a short description of the video content. URL links and shot lists are optional but can provide additional information.</p>
		          </li>
				  <li>
		            <h4 class="title">Filename Mask</h4>
		            <p>A filename mask is the name of the file once it has been downloaded from the VNR site. It needs to be descriptive so journalists can quickly understand its content when they revisit the file.</p>
		          </li>
				  <li>
		            <h4 class="title">Video Length</h4>
		            <p>Identify the approximate length of your video.</p>
		          </li>
				  <li>
		            <h4 class="title">Video Aspect Ratio</h4>
		            <p>Identify if your video is 16:9 or 4:3.</p>
		          </li>
				  <li>
		            <h4 class="title">Press Release Content</h4>
		            <p>A link to your VNR will be sent with your text release. Your release needs to include a title, source (who is sending the release) and a word count.</p>
		          </li>
				  <li>
		            <h4 class="title">Distribution</h4>
		            <p>All VNRs are sent to the AAP Newswire, Major Metro and Major Regional outlets. You can choose to omit any of these networks or request additional distribution to any Medianet list for a fee.  </p>
		          </li>
			</ul>
            <br />
            <p>To build a video news release, contact your Account Manager or the Medianet customer service team:<br /><a href="mailto:team@medianet.com.au">team@medianet.com.au</a><br />1300 616 813</p>
        	</section> 
        </div>        
        <div id="sidebar" class="span4">          
          <section class="module item">
            <h2 class="title">Multimedia News Releases</h2>
            <p>Create electronic press rooms with Multimedia News Releases.</p>
            <p>Medianet’s revolutionary release format allows you to combine text with audio, video, images, links to documents, websites, social media and customisable branding.</p> 
            <p>MNR’s have a multitude of uses, such as:</p>
            <ul class="list">
            <li>Campaign launches</li>
            <li>Community messages</li>
            <li>Announcing earnings</li>
            <li>Launching new products</li>
            <li>Showcasing upcoming events.</li>
            </ul>
            <div class="well well-small">
              <p><strong>For more information:</strong> Phone 1300 616 813 or email <a href="#">team@medianet.com.au</a></p>
            </div>
              <a href="/multimedia/index" class="btn">Read more</a>
          </section>
        </div>      
      </div>