﻿@model Medianet.Web.Models.EventRegisterModel

<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">×</button>
        <h3 id="myModalLabel">Add Attendee</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="control-group span3">
                <label class="control-label" for="addFirstName">
                    First name <abbr title="required">*</abbr></label>
                <div class="controls">
                    <input id="addFirstName" type="text" maxlength="50" onblur="onLostFocus(this)" />
                    <span class="field-validation-error hide" data-for="addFirstName"></span>
                </div>
            </div>
            <div class="control-group span3 offset1">
                <label class="control-label" for="addLastName">
                    Last name <abbr title="required">*</abbr></label>
                <div class="controls">
                    <input id="addLastName" type="text" maxlength="50" onblur="onLostFocus(this)" />
                    <span class="field-validation-error hide" data-for="addLastName"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span3">
                <label class="control-label" for="addEmail">
                    Email Address <abbr title="required">*</abbr></label>
                <div class="controls">
                    <input id="addEmail" type="text" maxlength="100" onblur="onLostFocus(this)" />
                    <span class="field-validation-error hide" data-for="addEmail"></span>
                </div>
            </div>
            <div class="control-group span3 offset1">
                <label class="control-label" for="addPhone">
                    Phone <abbr title="required">*</abbr></label>
                <div class="controls">
                    <input id="addPhone" type="text" maxlength="50" onblur="onLostFocus(this)" />
                    <span class="field-validation-error hide" data-for="addPhone"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span3">
                <label class="control-label" for="addCompany">
                    Company <abbr title="required">*</abbr></label>
                <div class="controls">
                    <input id="addCompany" type="text" maxlength="50" onblur="onLostFocus(this)" />
                    <span class="field-validation-error hide" data-for="addCompany"></span>
                </div>
            </div>
            <div class="control-group span3 offset1">
                <label class="control-label" for="addPosition">
                    Position <abbr title="required">*</abbr></label>
                <div class="controls">
                    <input id="addPosition" type="text" maxlength="50" onblur="onLostFocus(this)" />
                    <span class="field-validation-error hide" data-for="addPosition"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-tw btn-tw-green" data-dismiss="modal" aria-hidden="true" onclick="addAttendee();">Add</button>
        <button class="btn btn-tw btn-tw-default" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Cancel</button>
    </div>
</div>
