﻿@using Medianet.Web.Models;
@model List<EventAttendeeModel>
@{
    ViewBag.Title = "Person";
}
@if (Model != null)
{
    foreach (var attendee in Model)
    {
        <tr style="background-color: #f9f9f9;">
            <td data-for="firstName">@attendee.FirstName</td>
            <td data-for="lastName">@attendee.Lastname</td>
            <td data-for="emailAddress">@attendee.Email</td>
            <td data-for="phoneNumber">@attendee.Phone</td>
            <td data-for="position">@attendee.Position</td>
            <td data-for="companyName">@attendee.Company</td>
            <td><input type="button" value="Remove" class="btn btn-small btn-tw btn-tw-default" onclick="removeAttendee(this);"/></td>
        </tr>
    }
}