﻿@model Medianet.Web.Models.EventRegisterModel
@{
    ViewBag.Title = "Register for Event";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    Html.EnableClientValidation();
}

<div class="row register">
<div id="content" class="span8">
<div class="intro">
    <h1>@Model.EventTitle</h1>
    <br/>
    <p>@Html.Raw(Model.EventSummary)</p>
    <br/>
</div>
<table class="panel">
    <thead class="panel-heading trainingCourse-heading">
    <tr>
        <th style="width: 5%"></th>
        <th style="width: 25%" class="active">Register Interest</th>
        <th style="width: 10%">
            <img src="../../Content/img/chevron-right.png"/>
        </th>
        <th style="width: 25%">Payment</th>
        <th style="width: 10%">
            <img src="../../Content/img/chevron-right.png"/>
        </th>
        <th style="width: 20%">Confirmation</th>
    </tr>
    </thead>
</table>

<section>
    <iframe src="https://go.pardot.com/l/147261/2018-01-23/34zmrr" width="100%" height="500" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
</section>
</div>

<div id="sidebar" class="span4">
    <table class="panel table-condensed">
        <thead class="panel-heading">
        <tr>
            <th>Event Details</th>
        </tr>
        </thead>
        <tbody class="panel-body">
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>Date:</dt>
                    <dd>@(Model.ScheduleDate.ToString("dddd ") + Model.ScheduleDate.Day.ToOrdinal() + Model.ScheduleDate.ToString(" MMMM, yyyy"))</dd>
                    <dt>Time:</dt>
                    <dd>@(Model.ScheduleTime)</dd>
                    <dt>Cost:</dt>
                    <dd><span id="price" data-price="@(Model.EventPrice)">@((Model.EventPrice % 1 > 0) ? Model.EventPrice.ToString("C") : Model.EventPrice.ToString("C0"))</span> exc. GST (per ticket)</dd>
                    <dt>Sector:</dt>
                    <dd>@(Model.EventSector)</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Location:</strong><br/>
                @Html.Raw(Model.ScheduleAddress)
            </td>
        </tr>
        <tr>
            <td>
                <strong>Telephone:</strong>&nbsp;@(Model.ContactNumber == null ? "" : Model.ContactNumber)<br/>
                @if (!string.IsNullOrWhiteSpace(Model.ContactEmail))
                {
                    @:<strong>Email:</strong>&nbsp;<a href="mailto:@(Model.ContactEmail)">@(Model.ContactEmail)</a>
                }
                <br/>
                <br/>
            </td>
        </tr>
        </tbody>
    </table>

    @if (Model.ScheduleAgenda != null && Model.ScheduleAgenda.Count > 0)
    {
        <br />
        <br />

        <table class="panel">
            <thead class="panel-heading">
                <tr>
                    <th>Panellists</th>
                </tr>
            </thead>
            <tbody class="panel-body">
                @foreach (var t in Model.ScheduleAgenda)
                {
                    <tr>
                        <td><i class="fa fa-circle"></i>&nbsp;@t</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.course.js")" type="text/javascript"></script>
