﻿@model Medianet.Web.Models.EventRegisterModel
@{
    ViewBag.Title = "Register for Event";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    Html.EnableClientValidation();
}

<div class="row register">
<div id="content" class="span8">
<div class="intro">
    <h1>@Model.EventTitle</h1>
    <br/>
    <p>@Html.Raw(Model.EventSummary)</p>
    <br/>
</div>
<table class="panel">
    <thead class="panel-heading trainingCourse-heading">
    <tr>
        <th style="width: 5%"></th>
        <th style="width: 25%" class="active">Register</th>
        <th style="width: 10%">
            <img src="../../Content/img/chevron-right.png"/>
        </th>
        <th style="width: 25%">Payment</th>
        <th style="width: 10%">
            <img src="../../Content/img/chevron-right.png"/>
        </th>
        <th style="width: 20%">Confirmation</th>
    </tr>
    </thead>
</table>

<section>
    @using (Html.BeginForm("Payment", "Event", FormMethod.Post, new {@class = "panel trainingCourse"}))
    {
        @Html.AntiForgeryToken()
        <!--Html.ValidationSummary(true)-->
        @Html.HiddenFor(m => m.EventId)
        @Html.HiddenFor(m => m.ScheduleId)
        @Html.HiddenFor(m => m.AttendeesString)
        @Html.HiddenFor(m => m.PromoCode)

        if (ViewData.ModelState.Any(v => string.IsNullOrWhiteSpace(v.Key) && v.Value.Errors.Count > 0))
        {
            <div class="validation-summary-errors">
                <ul>
                    @foreach (var modelState in ViewData.ModelState.Where(v => string.IsNullOrWhiteSpace(v.Key)))
                    {
                        ModelState modelStateValue = modelState.Value;
                        foreach (ModelError error in modelStateValue.Errors)
                        {
                            <li>@Html.Raw(error.ErrorMessage)</li>
                        }
                    }
                </ul>
            </div>
        }
        else
        {
            <h3>Attendees</h3>
            <br/>
            <table class="table" id="attendeeGrid" style="border: 1px solid #ccc;">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Position</th>
                    <th>Company</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"><div id="promoCodeApplied" class="hidden"><i class="fa fa-check"></i>Promo code applied</div></td>
                    <td colspan="3"><div class="pull-right strong">Total Price exc. GST</div></td>
                    <td style="padding-top: 10px;"><div id="totalPrice" class="pull-right strong">$0</div></td>
                </tr>
                </tfoot>
            </table>
            <div class="row">
                <div class="buttons pull-right">
                    <input type="button" id="addAttendee" value="Add Attendee" class="btn btn-small btn-tw btn-tw-default"/>
                </div>
            </div>
            <br/>
            <h3>Billing Information</h3>
            <br/>
            <div class="row">
                <div class="control-group span3">
                    <label class="control-label" for="FirstName">
                        First name
                        <abbr title="required">*</abbr></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.FirstName, new { maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
                <div class="control-group span3 offset1">
                    <label class="control-label" for="LastName">
                        Last name
                        <abbr title="required">*</abbr></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Lastname, new { maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.Lastname)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span3">
                    <label class="control-label" for="Company">
                        Company
                        <abbr title="required">*</abbr></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Company, new { maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.Company)
                    </div>
                </div>
                <div class="control-group span3 offset1">
                    <label class="control-label" for="Email">
                        Email Address
                        <abbr title="required">*</abbr></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Email, new { maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span3">
                    <label class="control-label" for="Address">
                        Address
                        <abbr title="required">*</abbr></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Address, new {maxlength = 50})
                        @Html.ValidationMessageFor(m => m.Address)
                    </div>
                </div>
                <div class="control-group span3 offset1">
                    <label class="control-label" for="Suburb">
                        Suburb
                        <abbr title="required">*</abbr></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Suburb, new {maxlength = 30})
                        @Html.ValidationMessageFor(m => m.Suburb)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span3">
                    <label class="control-label" for="PostCode">
                        Postcode
                        <abbr title="required">*</abbr></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.PostCode, new {maxlength = 10})
                        @Html.ValidationMessageFor(m => m.PostCode)
                    </div>
                </div>
                <div class="control-group span3 offset1">
                    <label class="control-label" for="State">
                        State
                        <abbr title="required">*</abbr></label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.State, Model.States)
                        @Html.ValidationMessageFor(m => m.State)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span3">
                    <label class="control-label" for="Country">
                        Country
                        <abbr title="required">*</abbr>
                    </label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.Country, Model.Countries)
                        @Html.ValidationMessageFor(m => m.Country)
                    </div>
                </div>
                <div class="control-group span3 offset1">
                    <label class="control-label" for="Phone">
                        Contact number
                        <abbr title="required">*</abbr></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Phone, new { maxlength = 20 })
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>
                </div>
            </div>
            <div class="row">
                <br/>
                <div class="control-group span4 pull-left">
                    <div>
                        <label class="control-label">
                            @Html.CheckBoxFor(m => m.AgreeConditions)
                            I agree to the Terms of <a href="#terms" role="button" data-toggle="modal">Medianet</a> and <a href="https://www.medianet.com.au/aap-masterclass-terms-conditions/" target="_blank">attending this event</a>
                        </label>
                        @Html.ValidationMessageFor(m => m.AgreeConditions)
                    </div>
                    <div>
                        <label class="control-label">
                            <a href="https://www.medianet.com.au/privacy-policy/" target="_blank">Medianet Privacy Policy</a>
                        </label>
                    </div>
                    <div class="modal hide" id="terms" tabindex="-1" role="dialog" aria-labelledby="terms" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#terms').hide();">×</button>
                            <h3 id="myModalLabel">Terms and Conditions</h3>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("_terms")
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-tw btn-tw-green" data-dismiss="modal" aria-hidden="true" onclick="$('#terms').hide();">Close</button>
                        </div>
                    </div>
                </div>

                <div class="buttons pull-right">
                    <input type="submit" id="submitStep1" value="Next" class="btn btn-primary btn-tw btn-tw-green"/>
                </div>
                <br/>
            </div>
        }
    }
</section>
</div>

<div id="sidebar" class="span4">
    <table class="panel table-condensed">
        <thead class="panel-heading">
        <tr>
            <th>Event Details</th>
        </tr>
        </thead>
        <tbody class="panel-body">
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>Date:</dt>
                    <dd>@(Model.ScheduleDate.ToString("dddd ") + Model.ScheduleDate.Day.ToOrdinal() + Model.ScheduleDate.ToString(" MMMM, yyyy"))</dd>
                    <dt>Time:</dt>
                    <dd>@(Model.ScheduleTime)</dd>
                    <dt>Cost:</dt>
                    <dd><span id="price" data-price="@(Model.EventPrice)">@((Model.EventPrice % 1 > 0) ? Model.EventPrice.ToString("C") : Model.EventPrice.ToString("C0"))</span> exc. GST (per ticket)</dd>
                    <dt>Sector:</dt>
                    <dd>@(Model.EventSector)</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Location:</strong><br/>
                @Html.Raw(Model.ScheduleAddress)
            </td>
        </tr>
        <tr>
            <td>
                <strong>Telephone:</strong>&nbsp;@(Model.ContactNumber == null ? "" : Model.ContactNumber)<br/>
                @if (!string.IsNullOrWhiteSpace(Model.ContactEmail))
                {
                    @:<strong>Email:</strong>&nbsp;<a href="mailto:@(Model.ContactEmail)">@(Model.ContactEmail)</a>
                }
                <br/>
                <br/>
            </td>
        </tr>
        </tbody>
    </table>

    <br/>
    <br/>

    <table class="panel">
        <thead class="panel-heading">
        <tr>
            <th>Promo Code</th>
        </tr>
        </thead>
        <tbody class="panel-body">
        <tr>
            <td>
                <label class="control-label" for="PromoCode">Enter Promo code</label>
                <input id="promoCodeToApply" maxlength="20" name="promoCodeToApply" type="text" value="">
                <input id="applyPromoCode" type="button" value="Apply" class="btn btn-small btn-tw btn-tw-default" style="margin-bottom: 9px;" />
            </td>
        </tr>
        </tbody>
    </table>

    @if (Model.ScheduleAgenda != null && Model.ScheduleAgenda.Count > 0)
    {
        <br />
        <br />

        <table class="panel">
            <thead class="panel-heading">
                <tr>
                    <th>Panellists</th>
                </tr>
            </thead>
            <tbody class="panel-body">
                @foreach (var t in Model.ScheduleAgenda)
                {
                    <tr>
                        <td><i class="fa fa-circle"></i>&nbsp;@t</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
</div>

@Html.Partial("_addAttendeePopup")

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.course.js")" type="text/javascript"></script>
