﻿@using Medianet.Web.Models;
@using Medianet.Web.MedianetListService;
@model EventRegisterModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="row register">
    <div id="content" class="span8">
        <div class="intro">
            <h1>@Model.EventTitle</h1>
            <br/>
            <p>@Html.Raw(Model.EventSummary)</p>
            <br/>
        </div>

        <table class="panel">
            <thead class="panel-heading trainingCourse-heading">
            <tr>
                <th style="width: 5%"></th>
                <th style="width: 25%">Register</th>
                <th style="width: 10%">
                    <img src="../../Content/img/chevron-right.png"/>
                </th>
                <th style="width: 25%">Payment</th>
                <th style="width: 10%">
                    <img src="../../Content/img/chevron-right.png"/>
                </th>
                <th style="width: 20%" class="active">Confirmation</th>
            </tr>
            </thead>
        </table>

        <section class="panel trainingCourse">
            @if (string.IsNullOrWhiteSpace(Model.Error))
            {
                <h4>Your registration has been successful</h4>
                <br/>
                <p>You're going to the Medianet Masterclass! Shortly you will receive a paid receipt with your transaction details.
                </p>
                <p><a href="calendar:"></a></p>
                <p><a href="@Url.Action("Register", "Event", new RouteValueDictionary(new { eventId=Model.EventId, scheduleId = Model.ScheduleId }))">Click here to register another attendee</a></p>
                <p><a href="https://www.medianet.com.au">Go to Medianet Home</a></p>
            }
            else
            {
                <h4>Something went wrong</h4>
                <p>Please try again. If you continue to experience an error, please contact our customer service team on 1300 616 813.</p>
            }
        </section>
    </div>

    <div id="sidebar" class="span4">
        <table class="panel table-condensed">
            <thead class="panel-heading">
            <tr>
                <th>Event Details</th>
            </tr>
            </thead>
            <tbody class="panel-body">
            <tr>
                <td>
                    <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>@(Model.ScheduleDate.ToString("dddd ") + Model.ScheduleDate.Day.ToOrdinal() + Model.ScheduleDate.ToString(" MMMM, yyyy"))</dd>
                        <dt>Time:</dt>
                        <dd>@(Model.ScheduleTime)</dd>
                        <dt>Cost:</dt>
                        <dd>@((Model.EventPrice % 1 > 0) ? Model.EventPrice.ToString("C") : Model.EventPrice.ToString("C0")) exc. GST (per ticket)</dd>
                        <dt>Sector:</dt>
                        <dd>@(Model.EventSector)</dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <td><strong>Location:</strong><br/>
                    @Html.Raw(Model.ScheduleAddress)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Telephone:</strong>&nbsp;@(Model.ContactNumber == null ? "" : Model.ContactNumber)<br/>
                    @if (!string.IsNullOrWhiteSpace(Model.ContactEmail))
                    {
                        @:<strong>Email:</strong>&nbsp;<a href="mailto:@(Model.ContactEmail)">@(Model.ContactEmail)</a>
                    }
                    <br/><br/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
