﻿@using Medianet.Web.NopCommerceServices;
@using Medianet.Web.Models;
@model WireModel
@foreach (List<Product> productPair in Model.ProductSearchListFormated)
{
    string productName = "";
    string productShortDescription = "";
    string quantities = "(";
    <div class="item">
        <ul class="links">
            <li>
                @foreach (Product product in productPair)
                {
                    quantities += String.Format(" {0} -", product.Addresses.ToString());
                    productName = product.Name;
                    productShortDescription = product.ShortDescription;
                 
                    <a href="#" onclick="addToCart(@product.Id,event);return false;" class="btn-group cart" name="@product.Id">
                        <span class="btn btn-primary"><em class="plus"></em></span>
                        <span class="btn btn-primary dropdown-toggle">@Html.AddToCartText(product.isPackage, false, false, product.DistributionType, product.Id)</span>
                    </a>                    
                }
                <a href="#" onclick="@Html.AddGetProductInfo(productPair)" class="btn-group"><span class="btn btn-info">info</span></a>
            </li>
        </ul>
        <h4 class="no-description">@productName</h4>
        <p>@Html.Raw(productShortDescription)</p>
    </div>
}