﻿@using Medianet.Web.Models;
@model WireModel

@{
    bool hasWeb = Model.IsNewsHubPostingAdded();
    bool hasTwitter = Model.IsTwitterPostingAdded();
    bool hasJournalist = Model.IsJournalistPostingAdded();
    bool hasWire = Model.IsWireListAdded();

    <h3>Your Release</h3>
    <ul class="list data">
        <li>
            <strong>Headline:</strong>
            <em>@Model.SubjectHeadline</em>
        </li>
        <li>
            <strong>Organisation:</strong>
            <em>@Model.Organisation</em>
        </li>
        @{
            if (!string.IsNullOrWhiteSpace(Model.BillingCode) && !Model.BillingCode.Equals(WireModel.BILLING_CODE_NONE))
            {
                <li>
                    <strong>Billing Code:</strong>
                    <em>@Model.BillingCode</em>
                </li>
            }
        }
        <li>
            <strong>Customer Reference:</strong>
            <em>@Model.CustomerRef</em>
        </li>
        <li>
            <strong>Priority</strong>
            <em>@Model.Priority</em>
        </li>
        <li>
            <strong>Send Time:</strong>
            <em>
                @if (Model.DistributeAsFutureRelease)
                {
                    <text>@Model.ScheduleDate.Value.ToShortDateString() @Model.ScheduleTimeHour:@Model.ScheduleTimeMinutes (@Model.session.TimeZone.Name)</text>
                }
                else
                {
                    <text>ASAP</text>
                }
            </em>
        </li>
        @if (Model.DistributeAsEmbargoRelease)
        {
            <li>
                <strong>Embargo Until:</strong>
                <em>
                    @Model.EmbargoDate.Value.ToShortDateString() @Model.EmbargoTimeHour:@Model.EmbargoTimeMinutes (@Model.session.TimeZone.Name)
                </em>
            </li>
        }
        <li>
            <strong>Release document:</strong>
            @if (Model.Release != null)
            {
                <text>
                    <em><a href="/wire/preview/@Model.Release.MedianetAttachmentId" target="_blank">@Model.Release.Name</a></em>
                </text>
            }
        </li>
        <li>
            <strong>Attachments:</strong>
            <em>
                @foreach (AttachmentModel attachment in Model.Attachments)
                {
                    <a href="/wire/preview/@attachment.MedianetAttachmentId" target="_blank">@attachment.Name</a>
                }
            </em>
        </li>
        <li class="emailBody">
            <strong>Your press release:</strong>
            <div class="hide">@Html.Raw(@Model.EmailWireText)</div>
            <input type="button" value="Preview" class="btn btn-large" onclick="PreviewWire($('.emailBody div.hide').html());"/>
        </li>
        @if (hasWire)
        {
            <li class="wireText">
                <strong>Confirm Wire Text:</strong>
                <div class="modal hide" id="modalWireText">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Confirm Wire Release Text</h3>
                    </div>
                    <div class="modal-body" id="content">
                        @Html.TextAreaFor(model => model.DerivedWireText, new { @class = "span7", rows = "15" })
                        <br /><br />
                        <label class="checkbox span7 inline-label">
                            @Html.CheckBoxFor(model => model.ConfirmWireText) I confirm that the above Wire Release Text is correct
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <input class="btn btn-large" id="btnConfirmWire" value="Update Wire" aria-hidden="true" onclick="confirmWireDetails();"/>
                    </div>
                </div>
                <input type="button" value="Validate Wire" class="btn btn-large" onclick="ValidateWireText(); "/>
                &nbsp;&nbsp;&nbsp;
                <a href="#" rel="tooltip" data-placement="top" data-original-title="To validate your Wire Release, please check all plain text and contact details are correct." class="help"><b class="hide-text">Help</b></a>
                <br/>
                @Html.ValidationMessageFor(model => model.DerivedWireText)
            </li>
        }
    </ul>

    <div class="links">
        <a href="/wire/prepare" class="btn-group pull-right"><span class="btn btn-primary dropdown-toggle">Edit</span></a>
    </div>

    <h3>Online Platforms</h3>
    <ul class="list data">
        <li>
            <strong>Online - Consumers:</strong>
            @if (hasWeb)
            {
                <em>
                    <span class="tick">
                        <span class="strong">Selected.</span>&nbsp;Published under the categories: @Model.WebCategoryList.First(p => p.Value == @Model.WebCategoryId.ToString()).Text
                        @((Model.SecondaryWebCategoryId != null && Model.SecondaryWebCategoryId.ToString() != "")  ?
                         " and " + @Model.SecondaryWebCategoryList.First(p => p.Value == Model.SecondaryWebCategoryId.ToString()).Text : "")
                    </span>
                </em>
            }
            else
            {
                <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to post to Medianet News Hub's 50,000 followers and Medianet for Journalists 12,000+ subscriber base.</span></em>
            }
        </li>
        <li>
            <strong>Online - Journalists:</strong>
            @if (hasJournalist || hasWeb)
            {
                <em>
                    <span class="tick">
                        <span class="strong">Selected.</span>&nbsp;Published under the categories: @Model.WebCategoryList.First(p => p.Value == @Model.WebCategoryId.ToString()).Text
                        @((Model.SecondaryWebCategoryId != null && Model.SecondaryWebCategoryId.ToString() != "")  ?
                          " and " + @Model.SecondaryWebCategoryList.First(p => p.Value == Model.SecondaryWebCategoryId.ToString()).Text : "")

                    </span>
                </em>
            }
            else
            {
                <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to post to Medianet for Journalists' 12,000+ subscriber base.</span></em>
            }
        </li>
        <li>
            <strong>Twitter post:</strong>
            @if (hasWeb && hasTwitter)
            {
                if (string.IsNullOrWhiteSpace(@Model.Tweet))
                {
                    <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to include twitter details for your post.</span></em>
                }
                else
                {
                    <em>
                        <span class="tick">
                            <span class="strong">Selected.</span><br />
                            @Html.Raw(Model.FormatedTweet())
                        </span>
                    </em>
                }
            }
            else if (hasTwitter)
            {
                <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to include Online – Journalists & Consumers to enable your Twitter post.</span></em>
            }
            else
            {
                <em><span class="cross"><span class="strong">Not Selected.</span>&nbsp;Click 'edit' to share your story across one of Medianet's Twitter handles to leverage our influential followers.</span></em>
            }
        </li>
    </ul>
    <div class="links">
        <a href="/wire/online" class="btn-group pull-right"><span class="btn btn-primary dropdown-toggle">Edit</span></a>
    </div>
    <div style="margin: 10px; overflow: visible;">
        NB: Once you have submitted your release, should you wish to cancel, please click on "View Reports" to cancel.
        Cancelling can only be done if your release is on hold or is sending.
    </div>

    <nav role="navigation" class="actions">
        <div class="buttons">
            @{
                var step = Model.Steps.FirstOrDefault(s => s.Route.Equals("lists"));
                string clickString = "goContacts();";

                if (step != null)
                {
                    clickString = "releaseMenuClick('" + step.Route + "', " + step.Order.ToString() + ");";
                }

                <input type="button" class="btn btn-secondary btn-large" value="Continue Shopping" onclick="@clickString" />
                <input type="submit" class="btn btn-large authorisationRequired" value="Finalise" onclick="return goNext();" />
            }
        </div>
    </nav>
}
<script src="@Url.Content("~/Scripts/medianet.finalise.js")" type="text/javascript"></script>