﻿@using Medianet.Web.NopCommerceServices
@model Product
<li class="item">
    <div class="links">
        <a style="cursor: pointer;" name="@Model.Id" onclick="addToCart(@Model.Id, event);return false;" 
           @(Html.DisableWith(Model.ChildProductIds)) class="btn-group cart">
            <span class="btn btn-primary"><em class="plus"></em></span>
            <span class="btn btn-primary dropdown-toggle">POST</span>
        </a>
        @if (Html.ItemRequiredInfoPopup(Model))
        {
            <a style="cursor: pointer;" class="btn-group" onclick="getProductInfo(@Model.Id, event);">
                <span class="btn btn-info">Info</span>
            </a>
        }
        else
        {
            <span class="no-btn-info">&nbsp;</span>
        }
    </div>
    <h4>@Model.Name</h4>
    <p>@Html.Raw(Model.ShortDescription)</p>
</li>