﻿<div style="display: none">
    <div class="free-popup" id="introducing-popup">
        <h2>Introducing free web publishing for Medianet clients</h2>
        <p>From now on, you have the option to publish your content to medianet.com.au for FREE every time you send a release</p>
        <div style="text-align: center;">
            <a href="javascript:$.fancybox.close();" class="btn btn-large">Let's get started.</a>       
        </div>
    </div>
</div>
<script>
    $(function() {
        $.fancybox($('<div>').append($('#introducing-popup').clone()).html(), {
            'autoDimensions': true,
            'autoScale': true,
            'scrolling': 'no',
            'overlayColor': '#000000',
            'overlayOpacity': 0.7,
            'padding': 0,
            'margin': 0,
            'showCloseButton': false
        });
    });
</script>