﻿@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices;
@model WireModel                      
@if (Model.ProductAutoCompleteSearch.Count > 0)
{
    foreach (List<ProductDTO> productPair in Model.ProductAutoCompleteSearchFormated)
    {
        string productName = "";
        string productShortDescription = "";
        string quantities = "(";
        <div class="item">
            <ul class="links">
                <li>        
                    @foreach (ProductDTO product in productPair)
                    {
                        quantities += String.Format(" {0} -", product.Addresses.ToString());
                        productName = product.Name;
                        productShortDescription = product.ShortDescription;

                        <a href="#" class="btn-group cart" onclick="addToCart(@product.Id,event);return false;"@(Html.DisableWith(product.ChildProductIds)) name="@product.Id">
                            <span class="btn btn-primary"><em class="plus"></em></span>
                            <span class="btn btn-primary dropdown-toggle">@Html.AddToCartText(product.IsPackage, false, false, product.DistributionType, product.Id)</span>
                        </a>
                    }
                    <a href="#" class="btn-group" onclick="@Html.AddGetProductInfo(productPair)"><span class="btn btn-info">info</span></a>
                </li>
            </ul>
            <h4 class="no-description">@productName</h4>
            <p>@Html.Raw(productShortDescription)</p>
        </div>  
    }
}
else
{ 
    <div class="item">No items found.</div>
}
