﻿@using Medianet.Web.Models;
@model WireModel
@foreach (Medianet.Web.NopCommerceServices.Product product in Model.ProductSearchList)
{
    <li class="item">
        <div class="links">
            <a href="#" class="btn-group cart" name="@product.Id" onclick="addToCart(@product.Id,event);return false;"@(Html.DisableWith(product.ChildProductIds))>
                <span class="btn btn-primary"><em class="plus"></em></span>
                <span class="btn btn-primary dropdown-toggle">@Html.AddToCartText(product.isPackage, false, false, product.DistributionType, product.Id)</span>
            </a>
            <a href="#" onclick="getProductInfo(@product.Id,event);return false;" class="btn-group"><span class="btn btn-info">info</span></a>
        </div>
        <h4>@product.Name</h4>
        <p>@Html.Raw(product.ShortDescription)</p>
    </li>
}