﻿@using Medianet.Web.Models;
@using Medianet.Web.MedianetListService;
@model WireModel
@{
    Layout = "~/Views/Shared/_LayoutWire.cshtml";
}
<div class="intro">
    <h1>Step 5: Your Contacts</h1>
    <p>Add additional recipients or upload your own list of contacts</p>
</div>
<section class="section">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)
        <ul class="nav nav-tabs">
            <li class="nav-custom btn-secondary active"><a data-toggle="tab" href="#extra">Extra Recipients</a></li>
            <li class="nav-extra btn-secondary"><a data-toggle="tab" href="#custom">Add your own lists</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-content">
                <div id="custom" class="tab-pane">
                    <ul>
                        @foreach (ServiceList serviceList in Model.CustomList)
                        {
                            if (serviceList.DistributionType != DistributionType.SMS)
                            {
                                <text>
                                    <li>
                                        <div class="item">
                                            <ul class="links">
                                                <li>
                                                    <a style="cursor: pointer;" onclick="addCustomerListtoCart(@serviceList.Id, event)" class="btn-group cart" name="@serviceList.Id">
                                                        <span class="btn btn-primary"><em class="plus"></em></span>
                                                        <span class="btn btn-primary dropdown-toggle">@Html.AddToCartText(false, true, false, serviceList.DistributionType.ToString()[0].ToString().ToUpper(), serviceList.Id)</span>
                                                    </a>
                                                    <a class="btn-group" style="cursor: pointer;" onclick="getProductInfo(@serviceList.Id, event);return false;">
                                                        <span class="btn btn-info">info</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <h4>@serviceList.SelectionDescription</h4><br />
                                        </div>
                                    </li>
                                </text>
                            }
                        }
                    </ul>
                </div>
                <div id="extra" class="tab-pane active">
                    <h2 class="title">Add extra recipients</h2>
                    <div class="control-group spaced">
                        <label class="control-label" for="inputEmail">Email:</label>
                        <div class="controls links">
                            <input type="text" id="extraeMail" placeholder="yourname@email.com" class="input-xlarge" maxlength="255">
                            <a style="cursor: pointer;" onclick="addExtraEmailRecipientoToCart();return false;" class="btn-group">
                                <span class="btn btn-primary"><em class="plus"></em></span>
                                <span class="btn btn-primary dropdown-toggle">Email</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav role="navigation" class="actions">
            <div class="buttons">
                <input type="button" class="btn btn-secondary btn-large" value="Back" onclick="goPrevious();" />
                <input type="submit" class="btn btn-large" value="Next" onclick="return goNext();" />
            </div>
        </nav>
    </form>
</section>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.contacts.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () 
    {
        @Html.Next(Model)
        @Html.Previous(Model)
        
        disableAddToButtonsInCart();
    });
</script>