﻿@using Medianet.Web.Models;
@model WireModel
@{
    Layout = "~/Views/Shared/_LayoutWire.cshtml";
}
<div class="intro">
    <h1>Step 6: Finalise your release</h1>
    <p>Check your press release, the details and the recipients of your press release before submitting the job.</p>
</div>
<section class="section info">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)

        <div id="finaliseContent">
            @Html.Partial("_Finalise", Model)
        </div>
    </form>
</section>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.finalise.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () 
    {
        @Html.Next(Model)
        @Html.Previous(Model)
    });
</script>