﻿@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices;
@model WireModel
@{
    Layout = "~/Views/Shared/_LayoutWire.cshtml";
}

@section Styles
{
    <!--link href="@Url.Content("~/content/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/TokenInput.css")" rel="stylesheet" type="text/css" /-->
    <link href="@Url.Content("~/content/typeahead.css")" rel="stylesheet" type="text/css" />
}

<div class="intro">
    <h1>Step 2: Select Targets</h1>
    <p>Browse or search for influential lists to target your release.</p>
</div>
<section class="section" style="overflow: visible;">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)
        <section>
            <ul class="nav nav-tabs">
                <li class="nav-recent btn-secondary"><a data-toggle="tab" href="#recent">Recent</a></li>
                <li class="nav-browse btn-secondary active"><a data-toggle="tab" href="#browse">Browse</a></li>
                <li class="nav-search btn-secondary"><a data-toggle="tab" href="#search">Search</a></li>
                <li class="nav-search btn-secondary"><a data-toggle="tab" href="#search2">Outlets</a></li>
                <li class="nav-specials btn-secondary"><a data-toggle="tab" href="#specials">Specials</a></li>
            </ul>
            <div class="tab-content" style="overflow: visible;">
                <div id="recent" class="tab-pane">
                    <h3 class="title">Select lists that you have recently used</h3>
                    <ul>
                        @foreach (List<ProductDTO> productDtoPair in Model.RecentListFormated)
                        {
                            string productName = "";
                            string shortDescription = "";
                            string quantities = "(";
                            <li>
                                <div class="item">
                                    <ul class="links">
                                        <li>
                                            @foreach (ProductDTO recent in productDtoPair)
                                            {
                                                quantities += String.Format(" {0} -", recent.Addresses.ToString());
                                                productName = recent.Name;
                                                shortDescription = recent.ShortDescription;

                                                <a style="cursor: pointer;" name="@recent.Id" onclick="addToCart(@recent.Id, event);return false;" @(Html.DisableWith(recent.ChildProductIds)) class="btn-group cart">
                                                    <span class="btn btn-primary"><em class="plus"></em></span><span class="btn btn-primary dropdown-toggle">@Html.AddToCartText(recent.IsPackage, recent.IsCustomerList, recent.IsExtraRecipient, recent.DistributionType, recent.ProductId)</span>
                                                </a>
                                            }
                                            <a style="cursor: pointer;" class="btn-group" onclick="@Html.AddGetProductInfo(productDtoPair)">
                                                <span class="btn btn-info">View</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <h4 class="no-description">@productName</h4>
                                    <p>@Html.Raw(shortDescription)</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div id="browse" class="tab-pane active">
                    <h3 class="title">Browse Medianet's extensive selection of lists</h3>
                    <ul id="browser">
                        @foreach (Category category in Model.TopCategoryList)
                        {
                            <text>
                                <li class="item browser-group" name="category_level" id="@category.Id">
                                    <a style="cursor: pointer;" onclick="loadCategory(@category.Id);return false;" class="browse-closed"><strong>@category.Name</strong></a>
                                </li>
                            </text>
                        }
                    </ul>
                </div>
                <div id="specials" class="tab-pane">
                    <h3 class="title">Browse specially prepared and priced lists and packages</h3>
                    <ul>
                        @foreach (Product product in Model.SpecialProductList)
                        {
                            ShoppingCartItemAttributeModel productAttributes = new ShoppingCartItemAttributeModel(product);
                            <text>
                                <li>
                                    <div class="item">
                                        <ul class="links">
                                            <li>
                                                <a style="cursor: pointer;" onclick="addToCart(@product.Id, event);return false;" @(Html.DisableWith(product.ChildProductIds)) class="btn-group cart" name="@product.Id">
                                                    <span class="btn btn-primary"><em class="plus"></em></span>
                                                    <span class="btn btn-primary dropdown-toggle">
                                                        @Html.AddToCartText(product.isPackage, false, false, product.DistributionType, product.Id)
                                                    </span>
                                                </a>
                                                <a href="#" class="btn-group" onclick="getProductInfo(@product.Id, event);">
                                                    <span class="btn btn-info">info</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <h4>@product.Name</h4>
                                        <p>@Html.Raw(product.ShortDescription)</p>
                                    </div>
                                </li>
                            </text>
                        }
                    </ul>
                </div>
                <div id="search" class="tab-pane">
                    <h3 class="title">Search for lists using the list name or keywords</h3>
                    <div class="control-group item">
                        <div class="controls">
                            <div class="input-append">
                                <input class="span4" id="searchbox" type="text" onkeypress="return search(this, event);" placeholder="Search for lists using category or service name">
                                <span class="add-on"><i class="icon-search" style="cursor: pointer;" onclick="loadAutoComplete();"></i></span>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li id="searchresult"></li>
                    </ul>
                </div>
                <div id="search2" class="tab-pane">
                    <h3 class="title">Search for lists containing outlets</h3>
                    <div class="control-group item" style="overflow: visible;">
                        <div class="controls">
                            <div class="input-append">
                                <span>
                                    <input class="span6 typeahead" id="outletSearchbox" type="text" onkeypress="return outletSearch(this, event);" placeholder="Search for lists containing outlets" autocomplete="off">
                                </span>
                                <span class="add-on"><i class="icon-search" style="cursor: pointer;" onclick="loadOutletAutoComplete();"></i></span>
                                <input type="hidden" id="selectedOutletId" value="" />
                                <input type="hidden" id="selectedOutletName" value="" />
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li id="outletSearchResult"></li>
                    </ul>
                </div>
            </div>
        </section>
        <nav role="navigation" class="actions">
            <div class="buttons">
                <input type="button" class="btn btn-secondary btn-large" value="Back" onclick="goPrevious();" />
                <input type="submit" class="btn btn-large" value="Next" onclick="return goNext();" />
            </div>
        </nav>
    </form>
</section>
<script src="@Url.Content("~/Scripts/plugins/typeahead.bundle.js")" type="text/javascript"></script>
<!--script src="@Url.Content("~/Scripts/plugins/jquery.tokeninput.js")" type="text/javascript"></script-->
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.lists.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () 
    {
        @Html.Next(Model)
        @Html.Previous(Model)
        
        disableAddToButtonsInCart();
        configAutocomplete();
    });
</script>