﻿@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices;
@using Medianet.Web.Helpers
@model WireModel
@{
    Layout = "~/Views/Shared/_LayoutWire.cshtml";
}

<div class="intro">
    <h1>Step 4: Go Social and Go Global</h1>
    <p>
        Get the conversation around your story started with a post on Medianet’s dedicated Twitter handle with 1000’s of media followers.
        Then take your story international with overseas distribution options to 105 destinations.
        <strong>Don’t see the country you wish to target on this page? Contact us on 1300 616 813 for our full list destinations.</strong>
    </p>
</div>
<section class="section">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)
        <b>@Html.ValidationSummary(true)</b>
        <section>
            <h2 class="subtitle">
                <strong>Select your global and social options</strong>
            </h2>

            @if (Model.OnlineProductList != null && Model.OnlineProductList.Count > 0)
            {
                string distTypeTwitter = ((char)Medianet.Web.MedianetReleaseService.DistributionType.Twitter).ToString();
                List<Product> online = Model.OnlineProductList.Where(p => p.DistributionType != distTypeTwitter && p.Id != (int)OnlineProductType.ImageWire).ToList();

                Product twitter = Model.OnlineProductList.FirstOrDefault(p => p.DistributionType == distTypeTwitter);
                if (twitter != null)
                {
                    <div class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <span class="accordion-toggle accordion-toggle-nolink">
                                    <strong>Social Media Distribution</strong>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="accordion-inner">
                                    Sharing content to Medianet's social media allows you to leverage our social audience and increase sharing and direct consumption of your news story.
                                    <ul class="list">
                                        <li class="item">
                                            <div class="links">
                                                <a style="cursor: pointer;" name="@twitter.Id" onclick="addToCart(@twitter.Id, event);return false;" @(Html.DisableWith(twitter.ChildProductIds)) class="btn-group cart">
                                                    <span class="btn btn-primary"><em class="plus"></em></span>
                                                    <span class="btn btn-primary dropdown-toggle">Free</span>
                                                </a>
                                                <span class="no-btn-info">&nbsp;</span>
                                            </div>
                                            <h4>@twitter.Name</h4>
                                            <p>@Html.Raw(twitter.ShortDescription)</p>
                                        </li>
                                    </ul>
                                    <div class="control-group">
                                        <div class="control-label">
                                            <label for="Tweet">Tweet:</label>
                                            <span id="counter" class="label" style="color: white;">Total: 0/160</span>
                                        </div>
                                        <div class="controls">
                                            @Html.TextAreaFor(model => model.Tweet, new { placeholder = "Type in the content that you want to be shown on twitter", @class = "span5", rows = "2", maxlength = "100" })
                                            <br />
                                            <b>TIP:</b> If you have a Twitter account, don't forget to include your own handle in the Tweet to enhance your brand visibility.
                                            If you are using @@mentions at the front of your tweet, please add a period/full stop in front of the handle.<br />
                                            Sample tweet <i>.@@company announces a new product.</i>
                                            @Html.ValidationMessageFor(model => model.Tweet)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                if ((Model.InternationalCategories != null && Model.InternationalCategories.Any()) || (Model.InternationalDistributionList != null && Model.InternationalDistributionList.Any()))
                {
                    <div class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <span class="accordion-toggle accordion-toggle-nolink">
                                    <strong>International Distribution</strong>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="accordion-inner tab-content">
                                    <p>
                                        Send your release internationally and receive comprehensive reporting on its delivery and posting to news websites.
                                        Below is only a small selection of our most popular international distribution choices.
                                        Contact Medianet directly on 1300 616 813 for access to our 105 destinations and for translation services.
                                    </p>
                                    @if (Model.InternationalCategories != null && Model.InternationalCategories.Any())
                                    {
                                        <ul>
                                            @foreach (Category category in Model.InternationalCategories)
                                            {
                                                <text>
                                                    <li class="item browser-group" name="category_level" id="@category.Id">
                                                        <a style="cursor:pointer;" onclick="loadProducts(@category.Id);return false;" class="browse-closed"><strong>@category.Name</strong></a>
                                                    </li>
                                                </text>
                                            }
                                        </ul>
                                    }
                                    <ul class="list">
                                        @foreach (Product product in Model.InternationalDistributionList)
                                        {
                                            <li class="item">
                                                <div class="links">
                                                    <a href="#" onclick="addToCart(@product.Id,event);return false;" class="btn-group cart" name="@product.Id">
                                                        <span class="btn btn-primary"><em class="plus"></em></span>
                                                        <span class="btn btn-primary dropdown-toggle">@Html.AddToCartText(product.isPackage, false, false, product.DistributionType, product.Id)</span>
                                                    </a>
                                                    @if (Html.ItemRequiredInfoPopup(product))
                                                    {
                                                        <a style="cursor: pointer;" class="btn-group" onclick="getProductInfo(@product.Id, event);">
                                                            <span class="btn btn-info">Info</span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="no-btn-info">&nbsp;</span>
                                                    }
                                                </div>
                                                <h4>@product.Name</h4>
                                                <p>@Html.Raw(product.ShortDescription)</p>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                if (online.Count > 0)
                {
                    <div class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <span class="accordion-toggle accordion-toggle-nolink">
                                    <strong>Global and online options</strong>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="accordion-inner">
                                    Share your story with news catalogues in Australia and overseas.
                                    <ul class="list">
                                        @foreach (Product product in online)
                                        {
                                            @Html.Partial("_OnlineProduct", product)
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </section>



        <nav role="navigation" class="actions">
            <div class="buttons">
                <input type="button" class="btn btn-secondary btn-large" value="Back" onclick="goPrevious();" />
                <input type="submit" class="btn btn-large" value="Next" onclick="return goNext();" />
            </div>
        </nav>
    </form>
</section>

<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.online.new.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        @Html.Next(Model)
        @Html.Previous(Model)

        limitTweetChars();
        disableAddToButtonsInCart();
    });
</script>