﻿@using Medianet.Web.Models;
@model WireModel
@{
    Layout = "~/Views/Shared/_LayoutWire.cshtml";
    Html.EnableClientValidation(true);
}

<div class="intro">
    <h1>Step 1: Set up your content</h1>
    <p>Add your content below to reach traditional, online and social influencers. Be sure to supply elements such as images, audio grabs or supporting files to engage your audiences.</p>
</div>
<section class="section">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)
        <b>@Html.ValidationSummary(true)</b>
        <div class="control-group">
            <label class="control-label" for="SubjectHeadline">Headline: <span style="color: red;">*</span></label>
            <div class="controls">
                @Html.TextBoxFor(model => model.SubjectHeadline, new {placeholder = "Headline"})
                <a href="#" rel="tooltip" data-placement="top" data-original-title="Enter the headline for your release. This headline will form your web headline and the subject line for email distribution." class="help"><b class="hide-text">Help</b></a>
                @Html.ValidationMessageFor(model => model.SubjectHeadline)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Organisation">Organisation: <span style="color: red;">*</span></label>
            <div class="controls">
                @Html.TextBoxFor(model => model.Organisation, new {placeholder = "Organisation"})
                <a href="#" rel="tooltip" data-placement="top" data-original-title="Enter the name of the organisation that you want contacts to see." class="help"><b class="hide-text">Help</b></a>
                @Html.ValidationMessageFor(model => model.Organisation)
            </div>
        </div>
        @{
            if (Model.BillingCodeList != null && Model.BillingCodeList.Count > 0)
            {
                <div class="control-group">
                    <label class="control-label" for="BillingCode">Billing Code: <span style="color: red;">*</span></label>
                    <div class="controls">
                        @Html.DropDownListFor(model => model.BillingCode, Model.BillingCodeList, "Select Billing Code")
                        <a href="#" rel="tooltip" data-placement="top" data-original-title="Enter the Billing Code for your press release." class="help"><b class="hide-text">Help</b></a>
                        @Html.ValidationMessageFor(model => model.BillingCode)
                    </div>
                </div>
            }
            else
            {
                // Give it a unique value so validation doesn't fail
                @Html.Hidden("BillingCode", ReleaseModel.BILLING_CODE_NONE)
            }
        }
        <div class="control-group">
            <label class="control-label" for="CustomerRef">Customer Reference:</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.CustomerRef, new {placeholder = "Customer Reference"})
                <a href="#" rel="tooltip" data-placement="top" data-original-title="The customer reference field helps you differentiate campaigns or clients on your invoice or credit card receipt." class="help"><b class="hide-text">Help</b></a>
                @Html.ValidationMessageFor(model => model.CustomerRef)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Priority">Priority: <span style="color: red;">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(model => model.Priority, Model.PriorityList, new {@class = "input", onchange = "ChangePriority();"})
                <a href="#" rel="tooltip" data-placement="top" data-original-title="Selecting the high priority option ensures that your release is prioritised over other releases being sent out at that time. There is a flat rate charge for this service." class="help"><b class="hide-text">Help</b></a>
                @Html.ValidationMessageFor(model => model.Priority)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUploadAttachment">
                Attach your image/s:
            </label>
            <div class="controls">
                <div id="inputUploadAttachment" placeholder="inputUploadAttachment">
                    <div class="notes">Add more attachments</div>
                </div>
                <div style="padding-top: 5px;">Optional: Add images to help your release stand out</div>
                <a href="#" rel="tooltip" data-placement="top" data-original-title="Attaching supporting files such as your logo, images, audio or video can increase the impact of your release." class="help pull-right"><b class="hide-text">Help</b></a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="EmailWireText">Your press release: <span style="color: red;">*</span></label>
            <div class="controls">
                @Html.TextAreaFor(model => model.EmailWireText, new {placeholder = "Type in the content that you want to be sent via wire and email", @class = "span5", rows = 10})
                <a href="#" rel="tooltip" data-placement="top" data-original-title="Enter your entire press release into the editor. Make sure to include your headline, press release body, contact details and any other information you wish to include. Your formatting will be what contacts see in emails and the web." class="help pull-right"><b class="hide-text">Help</b></a>
                @Html.ValidationMessageFor(model => model.EmailWireText)
                <br/>
                <input type="button" value="Preview" class="btn btn-large" onclick="PreviewWire($('#EmailWireText').val());"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUploadRelease">Upload your release:</label>
            <div class="controls">
                <div id="inputUploadRelease" placeholder="inputUploadRelease"></div>
                @Html.ValidationMessageFor(model => model.Release)
                <a href="#" rel="tooltip" data-placement="top" data-original-title="You can choose to upload a word document or PDF version of your press release as a supporting attachment." class="help pull-right"><b class="hide-text">Help</b></a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="WebCategoryId">Category: <span style="color: red;">*</span></label>
            <div class="controls">
                @Html.DropDownListFor(model => model.WebCategoryId, Model.WebCategoryList, "Select your category")
                <a href="#" rel="tooltip" data-placement="top" data-original-title="Select the category that best fits your press release subject matter. Your release will be filed under this category online." class="help"><b class="hide-text">Help</b></a>
                @Html.ValidationMessageFor(model => model.WebCategoryId)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="SecondaryWebCategoryId">Additional Category:</label>
            <div class="controls">
                @Html.DropDownListFor(model => model.SecondaryWebCategoryId, Model.SecondaryWebCategoryList, "Select your category", new {onchange = "AddSWCProductToCart()"})
                <a href="#" rel="tooltip" data-placement="top" data-original-title="Increase visibility of your release on the Medianet for Journalists portal by selecting an additional category. <i>Additional $30 (exc. GST).</i>" class="help"><b class="hide-text">Help</b></a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DistributeAsFutureRelease">Send Time:</label>
            <div class="controls">
                <div class="form-inline group" style="margin: 2px;">
                    Release ASAP or hold until specified time?
                </div>
                <label class="checkbox inline-label">
                    @Html.RadioButtonFor(model => model.DistributeAsFutureRelease, false, new {onclick = "UnsetScheduling();", selected = "selected"})
                    <b>ASAP</b>
                </label>
                <label class="checkbox inline-label">
                    @Html.RadioButtonFor(model => model.DistributeAsFutureRelease, true, new {onclick = "setScheduling();"})
                    <b>Hold Until</b>
                </label>
                <div class="form-inline group">
                    <label class="inline-label" for="ScheduleDate">Date:</label>
                    @Html.TextBox("ScheduleDate", Model.ScheduleDateForView(), new {placeholder = "DD/MM/YYYY", autocomplete = "off"})
                    @Html.ValidationMessageFor(model => model.ScheduleDate)
                </div>
                <div class="form-inline group">
                    <span style="vertical-align: top">
                        <label class="inline-label" for="ScheduleTimeHour">Time <small>(@Model.session.TimeZone.Name)</small>:</label>
                        @Html.DropDownListFor(model => model.ScheduleTimeHour, Model.Hours, new {@class = "input-mini"})
                        :
                        @Html.DropDownListFor(model => model.ScheduleTimeMinutes, Model.Minutes, new {@class = "input-mini"})
                    </span>
                    <div class="control-comment">
                        <b>Note:</b> If you select a hold time, your release will not be distributed or published until the specified time.
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DistributeAsEmbargoRelease">Embargo:</label>
            <div class="controls">
                <div class="form-inline group" style="margin: 2px;">
                    Do you want to embargo for Non-Media Contacts?
                </div>
                <label class="checkbox inline-label">
                    @Html.RadioButtonFor(model => model.DistributeAsEmbargoRelease, false, new {onclick = "UnsetScheduling('Embargo');", selected = "selected"}) <b>No Embargo</b>
                </label>
                <label class="checkbox inline-label">
                    @Html.RadioButtonFor(model => model.DistributeAsEmbargoRelease, true, new {onclick = "setScheduling('Embargo');"}) <b>Embargo Until</b>
                </label>
                <div class="form-inline group">
                    <label class="inline-label" for="EmbargoDate">Date:</label>
                    @Html.TextBox("EmbargoDate", Model.EmbargoDateForView(), new {placeholder = "DD/MM/YYYY", autocomplete = "off"})
                    @Html.ValidationMessageFor(model => model.EmbargoDate)
                </div>
                <div class="form-inline group">
                    <span style="vertical-align: top">
                        <label class="inline-label" for="EmbargoTimeHour">Time <small>(@Model.session.TimeZone.Name)</small>:</label>
                        @Html.DropDownListFor(model => model.EmbargoTimeHour, Model.Hours, new {@class = "input-mini"})
                        :
                        @Html.DropDownListFor(model => model.EmbargoTimeMinutes, Model.Minutes, new {@class = "input-mini"})
                    </span>
                    <div class="control-comment">
                        <b>Note:</b> If you select an Embargo time, your press release will be sent to selected email and Medianet for Journalists contacts but will be withheld from public websites, social media and other non-media distribution options until the embargo is over. <span class="comment-hilight">You must include your embargo terms at the top of your press release for editorial reference.</span>
                    </div>
                </div>
            </div>
        </div>
        <nav role="navigation" class="actions">
            <div class="buttons">
                <input type="submit" class="btn btn-large" value="Next" onclick="return goNext();"/>
            </div>
        </nav>
    </form>
</section>
@section Styles
{
    <link href="@Url.Content("~/content/jquery.cleditor.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/jquery-ui.css")" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cleditor.min.js")" type="text/javascript"></script>
}
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.prepare.js")" type="text/javascript"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function ()
    {
        @Html.Next(Model)
        @Html.Previous(Model)

        $('#ScheduleDate').datepicker( { dateFormat: "dd/mm/yy" } );
        $('#EmbargoDate').datepicker( { dateFormat: "dd/mm/yy" } );


        @if (@Model.DistributeAsFutureRelease)
        {
            <text>setScheduling();</text>
        }
        else
        {
            <text>UnsetScheduling();</text>
        }
        @if (@Model.DistributeAsEmbargoRelease)
        {
            <text>setScheduling('Embargo');</text>
        }
        else
        {
            <text>UnsetScheduling('Embargo');</text>
        }


        $("#EmailWireText").cleditor( { width: 500, height: 250, controls:"bold italic underline strikethrough subscript superscript | font size style | color highlight removeformat | bullets numbering | outdent indent | alignleft center alignright justify | undo redo | rule image link unlink | cut copy paste pastetext " } ); 

        var releaseList    = $('#inputUploadRelease').find('ul[class="qq-upload-list"]');
        var attachmentList = $('#inputUploadAttachment').find('ul[class="qq-upload-list"]');

        @{
            if (Model.Release != null)
            {
                <text>
        AddAttachmentToList(releaseList,@Html.Raw(Json.Encode(Model.Release)));
                </text>
            }

            foreach (AttachmentModel attachment in Model.Attachments)
            {
                <text>
        AddAttachmentToList(attachmentList,@Html.Raw(Json.Encode(attachment)));
                </text>
            }
        }

        $('#form').submit(function()
        {
            var regex = /(<([^>]+)>)/ig;
            var text = $("#EmailWireText").val();
                       
            if ( text.replace(regex,"") == "" )
            {
                $("#EmailWireText").val("");
                $("#EmailWireText").cleditor()[0].updateFrame();
            }
        });

        @if (ViewData.ModelState.Values != null && ViewData.ModelState.Values.Count > 0)
        {
            <text>var x = $('.input-validation-error');
        if (x.length > 0)
            $(window).scrollTop(x.offset().top);</text>
        }

        //limitTweetChars();
    });
</script>
