﻿@using Medianet.Web.Models;
@using Medianet.Web.NopCommerceServices;
@model WireModel
@{
    Layout = "~/Views/Shared/_LayoutWire.cshtml";
}
<div class="intro">
    <h1>Step 3: Newswire</h1>
    <p>
        Medianet’s Newswire distribution is a breaking news content feed that supplies stories directly to the newsrooms of NewsCorp, Nine Entertainment Co and Australian Associated Press and onwards to all of AAP’s clients.
    </p>
    <p>
        Distribution to Medianet’s Newswire ensures that all of the journalists, reporters and editors that are on shift that day will see your release, making it perfect for breaking news opportunities and to ensure your press release is available to the entire newsroom.
    </p>
    <p>
        <b>Subject Newswires:</b> Target your send by subject to ensure you reach the Newswire with the most relevance to your news story.
    </p>
    <p>
        <b>State Newswires:</b> If your story is only relevant to a particular State in Australia, you can choose a ‘State Newswire’. We have the option to distribute to any State to influence the daily news agenda.
    </p>
    <p>
        <i>Note:</i> The items on this page are optional. If you do not wish to send to any Newswires, click ‘Next’.
    </p>
</div>
<section class="section">
    <form class="form-horizontal" method="post" id="form">
        @Html.AntiForgeryToken()
        @Html.Action(Model.CurrentStepOrder)
        <section>
            <h2 class="subtitle">
                <strong>Newswire Category</strong>
            </h2>
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-body">
                        <div class="accordion-inner">
                            <ul class="list">
                                @Html.Partial("_OnlineProduct", Model.OnlineProductList.First(p => p.Id == (int)OnlineProductType.ImageWire))
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="wires">
                @foreach (CategoryDTO category in Model.CategoryList)
                {
                    <text>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle browse-closed" data-toggle="collapse" data-parent="#wires" href="@category.CategoryID" onclick="loadWireProducts(@category.CategoryID);return false;" name="@category.CategoryID">
                                    <strong>@category.Name</strong>
                                </a>
                            </div>
                            <div id="@category.CategoryID" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <ul class="list"></ul>
                                </div>
                            </div>
                        </div>
                    </text>
                }
            </div>
        </section>
        <nav role="navigation" class="actions">
            <div class="buttons">
                <input type="button" class="btn btn-secondary btn-large" value="Back" onclick="goPrevious();" />
                <input type="submit" class="btn btn-large" value="Next" onclick="return goNext();" />
            </div>
        </nav>
    </form>
</section>
<script src="@Url.Content("~/Scripts/medianet.common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/medianet.wire.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        @Html.Next(Model)
        @Html.Previous(Model)

        $('#wires').first().find('a').first().click();
        disableAddToButtonsInCart();
    });
</script>